.OPBZJODPNEABCDK {
}

@media (min-width: 1024px) {
  .OPBZJODPNEABCDK {
    /*dak*/

    display: flex;
  }
}
@media (min-width: 1024px) {
  .OPBZJODPNEABCDK {
    /*dbu*/

    min-height: 100%;
  }
}
@media (min-width: 1024px) {
  .OPBZJODPNEABCDK {
    /*deo*/

    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  .OPBZJODPNEABCDK {
    /*dgm*/

    overflow: hidden;
  }
}

.OORVSPTJSFXTHJT {
  /*t*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.FVWMQUDGPMDNOSL {
  /*aiv*/
  
  background-color: rgb(249 250 251 / 1);
  /*aro*/
  padding-left: 1rem;
  padding-right: 1rem;
  /*ask*/
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .FVWMQUDGPMDNOSL {
    /*ckf*/

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .FVWMQUDGPMDNOSL {
    /*dao*/

    display: none;
  }
}

.XECQIPISORNUFBP {
  /*gx*/
  margin-left: auto;
  margin-right: auto;
  /*uj*/
  max-width: 32rem;
}

.PATVNQXXVKHRLPQ {
  /*lx*/
  display: flex;
  /*zg*/
  align-items: center;
  /*zm*/
  justify-content: space-between;
}

.SCZHGVNXTUIEXFW {
  /*awf*/
  font-size: 1.125rem;
  line-height: 1.75rem;
  /*awk*/
  font-weight: 500;
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

.NYCOAUFATOLEYOS {
  /*bqj*/
  visibility: visible;
  /*bqk*/
  
  border-color: rgb(156 163 175 / 1);
  /*bql*/
  
  border-color: rgb(79 70 229 / 1);
  /*bqm*/
  
  background-color: rgb(229 231 235 / 1);
  /*bqn*/
  
  background-color: rgb(209 213 219 / 1);
  /*bqo*/
  
  background-color: rgb(156 163 175 / 1);
  /*bqp*/
  
  background-color: rgb(249 250 251 / 1);
  /*bqq*/
  
  background-color: rgb(31 41 55 / 1);
  /*bqr*/
  
  background-color: rgb(55 48 163 / 1);
  /*bqs*/
  
  background-color: rgb(255 255 255 / 1);
  /*bqt*/
  stroke: rgb(29 78 216 / 0.75);
  /*bqu*/
  stroke: rgb(30 64 175 / 0.75);
  /*bqv*/
  stroke: rgb(75 85 99 / 0.75);
  /*bqw*/
  stroke: rgb(55 65 81 / 0.75);
  /*bqx*/
  stroke: rgb(21 128 61 / 0.75);
  /*bqy*/
  stroke: rgb(22 101 52 / 0.75);
  /*bqz*/
  stroke: rgb(79 70 229 / 0.75);
  /*bra*/
  stroke: rgb(67 56 202 / 0.75);
  /*brb*/
  stroke: rgb(190 24 93 / 0.75);
  /*brc*/
  stroke: rgb(157 23 77 / 0.75);
  /*brd*/
  stroke: rgb(220 38 38 / 0.75);
  /*bre*/
  stroke: rgb(185 28 28 / 0.75);
  /*brf*/
  stroke: rgb(124 58 237 / 0.75);
  /*brg*/
  stroke: rgb(109 40 217 / 0.75);
  /*brh*/
  stroke: rgb(161 98 7 / 0.75);
  /*bri*/
  stroke: rgb(133 77 14 / 0.75);
  /*brj*/
  
  color: rgb(29 78 216 / 1);
  /*brk*/
  
  color: rgb(243 244 246 / 1);
  /*brl*/
  
  color: rgb(229 231 235 / 1);
  /*brm*/
  
  color: rgb(209 213 219 / 1);
  /*brn*/
  
  color: rgb(156 163 175 / 1);
  /*bro*/
  
  color: rgb(107 114 128 / 1);
  /*brp*/
  
  color: rgb(75 85 99 / 1);
  /*brq*/
  
  color: rgb(55 65 81 / 1);
  /*brr*/
  
  color: rgb(31 41 55 / 1);
  /*brs*/
  
  color: rgb(17 24 39 / 1);
  /*brt*/
  
  color: rgb(99 102 241 / 1);
  /*bru*/
  
  color: var(--primary-color);
  /*brv*/
  
  color: rgb(67 56 202 / 1);
  /*brw*/
  
  color: rgb(55 48 163 / 1);
  /*brx*/
  
  color: rgb(49 46 129 / 1);
  /*bry*/
  
  color: rgb(190 24 93 / 1);
  /*brz*/
  
  color: rgb(100 116 139 / 1);
  /*bsa*/
  
  color: rgb(51 65 85 / 1);
  /*bsb*/
  
  color: rgb(15 23 42 / 1);
  /*bsc*/
  
  color: rgb(20 184 166 / 1);
  /*bsd*/
  
  color: rgb(255 255 255 / 1);
  /*bse*/
  opacity: 1;
  /*bsf*/
  opacity: 0.75;
  /*bsg*/
  visibility: visible;
  /*bsq*/
  display: flex;
  /*bvr*/
  display: block;
  /*bvs*/
  display: block;
  /*bvt*/
  display: inline;
  /*bvu*/
  display: flex;
  /*bvv*/
  display: none;
  /*bvw*/
  --tw-translate-x: 0.875rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /*bvx*/
  --tw-translate-x: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /*bvy*/
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /*bvz*/
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /*bwa*/
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /*bwb*/
  border-width: 1px;
  /*bwc*/
  
  border-color: rgb(99 102 241 / 1);
  /*bwd*/
  
  border-color: rgb(79 70 229 / 1);
  /*bwe*/
  border-color: transparent;
  /*bwf*/
  
  background-color: var(--primary-color);
  /*bwg*/
  
  background-color: rgb(249 115 22 / 1);
  /*bwh*/
  
  background-color: rgb(2 132 199 / 1);
  /*bwi*/
  
  background-color: rgb(229 231 235 / 1);
  /*bwj*/
  
  background-color: var(--primary-color);
  /*bwk*/
  
  background-color: rgb(255 255 255 / 1);
  /*bwl*/
  font-weight: 600;
  /*bwm*/
  
  color: rgb(67 56 202 / 1);
  /*bwn*/
  
  color: rgb(49 46 129 / 1);
  /*bwo*/
  
  color: rgb(194 65 12 / 1);
  /*bwp*/
  
  color: rgb(124 45 18 / 1);
  /*bwq*/
  
  color: rgb(3 105 161 / 1);
  /*bwr*/
  
  color: rgb(12 74 110 / 1);
  /*bws*/
  
  color: rgb(55 65 81 / 1);
  /*bwt*/
  
  color: rgb(17 24 39 / 1);
  /*bwu*/
  
  color: rgb(224 231 255 / 1);
  /*bwv*/
  
  color: rgb(199 210 254 / 1);
  /*bww*/
  
  color: rgb(233 213 255 / 1);
  /*bwx*/
  
  color: rgb(255 255 255 / 1);
  /*bwy*/
  
  color: rgb(156 163 175 / 1);
  /*bwz*/
  
  color: rgb(107 114 128 / 1);
  /*bxa*/
  
  color: rgb(75 85 99 / 1);
  /*bxb*/
  
  color: var(--primary-color);
  /*bxc*/
  
  color: rgb(255 255 255 / 1);
  /*bxd*/
  
  /*bxe*/
  opacity: 0;
  /*bxf*/
  opacity: 1;
  /*bxg*/
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  /*bxh*/

  --tw-ring-color: rgb(17 24 39 / 1);
  /*bxi*/

  --tw-ring-color: rgb(79 70 229 / 1);
  /*bxj*/

  --tw-ring-color: rgb(14 165 233 / 1);
  /*bxk*/

  --tw-ring-color: rgb(99 102 241 / 1);
  /*bxl*/
  --tw-ring-offset-width: 2px;
  /*bxm*/
  transition-duration: 100ms;
  /*bxn*/
  transition-duration: 200ms;
  /*bxo*/
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  /*bxp*/
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  /*bxq*/
  
  color: rgb(107 114 128 / 1);
  /*dtp*/
  visibility: hidden;
  /*dtq*/
  display: none;
  /*dtr*/
  display: none;
  /*dts*/
  display: none;
  /*awk*/
  font-weight: 500;
  /*ayn*/
  
  color: var(--primary-color);
}

.NYCOAUFATOLEYOS:hover {
  /*.bli*/
  
  color: rgb(99 102 241 / 1);
}

.ZYYOCUOLPGIFIPU {
}

/* Classes not found for ZYYOCUOLPGIFIPU*/
/* dtr */

.IFAJTOPMDAYGQVC {
}

/* Classes not found for IFAJTOPMDAYGQVC*/
/* bvv */

.MZUURKWDAWYYZKO {
  /*lk*/
  margin-top: 1.5rem;
  /*lx*/
  display: flex;
  /*zg*/
  align-items: center;
  /*zm*/
  justify-content: space-between;
  /*aft*/
  border-top-width: 1px;
  /*agb*/
  
  border-color: rgb(229 231 235 / 1);
  /*avk*/
  padding-top: 1.5rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

.QJSIYTZLHNURKPI {
  /*awe*/
  font-size: 1rem;
  line-height: 1.5rem;
}

.NKVSQGHCWTEFPVG {
  /*md*/
  display: none;
  /*tu*/
  width: 100%;
  /*ul*/
  max-width: 28rem;
  /*yy*/
  flex-direction: column;
  /*aiv*/
  
  background-color: rgb(249 250 251 / 1);
}

@media (min-width: 1024px) {
  .NKVSQGHCWTEFPVG {
    /*dak*/

    display: flex;
  }
}

.ONFBZXXVAIKYCTW {
  /*uu*/
  flex: 1 1 auto;
  /*adq*/
  overflow-y: auto;
  /*arq*/
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.OPVEEMPELLEYCAO {
  /*lx*/
  display: flex;
  /*ask*/
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.TYEPCODFDDZNHOE {
  /*od*/
  height: 10rem;
  /*sf*/
  width: 10rem;
  /*uv*/
  flex: none;
  /*aeb*/
  border-radius: 0.375rem;
  /*aiq*/
  
  background-color: rgb(229 231 235 / 1);
  /*aqk*/
  -o-object-fit: cover;
  object-fit: cover;
  /*aql*/
  -o-object-position: center;
  object-position: center;
}

.BPACRIVDDXBSIEJ {
  /*lx*/
  display: flex;
  /*yy*/
  flex-direction: column;
  /*zm*/
  justify-content: space-between;
}

.WFQIJERKYOUEDWE {
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
}

.FPRKEMPOEDHKUBB {
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

.SXGGREUONSFPTXV {
  /*axx*/
  
  color: rgb(107 114 128 / 1);
}

.BLEUBPIBNKJYCDY {
  /*lx*/
  display: flex;
}

.UDGXKFITUTFYTML {
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*ayn*/
  
  color: var(--primary-color);
}

.UDGXKFITUTFYTML:hover {
  /*.bli*/
  
  color: rgb(99 102 241 / 1);
}

.GSJPBSMPNRMBDXU {
  /*lx*/
  display: flex;
  /*afp*/
  border-left-width: 1px;
  /*agc*/
  
  border-color: rgb(209 213 219 / 1);
  /*att*/
  padding-left: 1rem;
}

.LNYAFHZLBHXYNAJ {
  /*ac*/
  position: sticky;
  /*cc*/
  bottom: 0px;
  /*uv*/
  flex: none;
  /*aft*/
  border-top-width: 1px;
  /*agb*/
  
  border-color: rgb(229 231 235 / 1);
  /*aiv*/
  
  background-color: rgb(249 250 251 / 1);
  /*arb*/
  padding: 1.5rem;
}

.PTQXILETNKJBJJU {
  /*lu*/
  display: block;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*axz*/
  
  color: rgb(55 65 81 / 1);
}

.AACGZTBLMXCRXCQ {
  /*ku*/
  margin-top: 0.25rem;
  /*lx*/
  display: flex;
}

.LZCQRUXKYMZJKIB {
  /*lu*/
  display: block;
  /*tu*/
  width: 100%;
  /*aeb*/
  border-radius: 0.375rem;
  /*agc*/
  
  border-color: rgb(209 213 219 / 1);
  /*bbt*/
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.LZCQRUXKYMZJKIB:focus {
  /*.bmo*/
  
  border-color: rgb(99 102 241 / 1);
  /*.bnt*/

  --tw-ring-color: rgb(99 102 241 / 1);
}

@media (min-width: 640px) {
  .LZCQRUXKYMZJKIB {
    /*cng*/

    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.NCZJAQUBCDNZDLL {
  /*aeb*/
  border-radius: 0.375rem;
  /*aiq*/
  
  background-color: rgb(229 231 235 / 1);
  /*aro*/
  padding-left: 1rem;
  padding-right: 1rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*axy*/
  
  color: rgb(75 85 99 / 1);
}

.NCZJAQUBCDNZDLL:hover {
  /*.bih*/
  
  background-color: rgb(209 213 219 / 1);
}

.NCZJAQUBCDNZDLL:focus {
  /*.bnc*/
  outline: 2px solid transparent;
  outline-offset: 2px;
  /*.bnh*/
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  /*.bnt*/

  --tw-ring-color: rgb(99 102 241 / 1);
  /*.boj*/
  --tw-ring-offset-width: 2px;
  /*.bon*/
  --tw-ring-offset-color: #f9fafb;
}

.LSJRYBXWNCLHEIQ {
  /*kw*/
  margin-top: 2.5rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*axx*/
  
  color: rgb(107 114 128 / 1);
}

.KDUYGRBFERCEQPM {
  /*lx*/
  display: flex;
  /*zm*/
  justify-content: space-between;
}

.BJJXBRJJPBKIULI {
  /*lx*/
  display: flex;
}

.BWSOZTULVGPBEZC {
  /*jt*/
  margin-left: 0.5rem;
  /*adz*/
  border-radius: 9999px;
  /*aiq*/
  
  background-color: rgb(229 231 235 / 1);
  /*arj*/
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /*aru*/
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  /*awi*/
  font-size: 0.75rem;
  line-height: 1rem;
  /*axe*/
  letter-spacing: 0.025em;
  /*axy*/
  
  color: rgb(75 85 99 / 1);
}

.ZUPATWWWPGZEXDD {
  /*lx*/
  display: flex;
  /*zg*/
  align-items: center;
  /*zm*/
  justify-content: space-between;
  /*aft*/
  border-top-width: 1px;
  /*agb*/
  
  border-color: rgb(229 231 235 / 1);
  /*avk*/
  padding-top: 1.5rem;
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

.IRMXAUHNIBRBKYO {
  /*uu*/
  flex: 1 1 auto;
  /*adq*/
  overflow-y: auto;
  /*aro*/
  padding-left: 1rem;
  padding-right: 1rem;
  /*ast*/
  padding-bottom: 4rem;
  /*auw*/
  padding-top: 3rem;
}

@media (min-width: 640px) {
  .IRMXAUHNIBRBKYO {
    /*ckf*/

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 640px) {
  .IRMXAUHNIBRBKYO {
    /*cmi*/

    padding-top: 4rem;
  }
}
@media (min-width: 1024px) {
  .IRMXAUHNIBRBKYO {
    /*dit*/

    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1024px) {
  .IRMXAUHNIBRBKYO {
    /*djn*/

    padding-bottom: 6rem;
  }
}
@media (min-width: 1024px) {
  .IRMXAUHNIBRBKYO {
    /*dko*/

    padding-top: 0px;
  }
}

.WHTFLICSMBSZCTC {
  /*gx*/
  margin-left: auto;
  margin-right: auto;
  /*uj*/
  max-width: 32rem;
}

@media (min-width: 1024px) {
  .WHTFLICSMBSZCTC {
    /*dks*/

    padding-top: 4rem;
  }
}

.ZIJVIOOUILKHORR {
  /*lx*/
  display: flex;
  /*tu*/
  width: 100%;
  /*zg*/
  align-items: center;
  /*zl*/
  justify-content: center;
  /*aeb*/
  border-radius: 0.375rem;
  /*afg*/
  border-width: 1px;
  /*ahf*/
  border-color: transparent;
  /*ahu*/
  
  background-color: rgb(0 0 0 / 1);
  /*asb*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /*ban*/
  
  color: rgb(255 255 255 / 1);
}

.ZIJVIOOUILKHORR:hover {
  /*.bin*/
  
  background-color: rgb(31 41 55 / 1);
}

.ZIJVIOOUILKHORR:focus {
  /*.bnc*/
  outline: 2px solid transparent;
  outline-offset: 2px;
  /*.bnh*/
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  /*.bno*/

  --tw-ring-color: rgb(17 24 39 / 1);
  /*.boj*/
  --tw-ring-offset-width: 2px;
}

.VKVARUXIWPAYUDI {
  /*of*/
  height: 1.25rem;
  /*tt*/
  width: auto;
}

.JHOKJZHZXNUIKBN {
  /*ab*/
  position: relative;
  /*lm*/
  margin-top: 2rem;
}

.VGYPQURFMUQKMPO {
  /*aa*/
  position: absolute;
  /*ak*/
  inset: 0px;
  /*lx*/
  display: flex;
  /*zg*/
  align-items: center;
}

.BNDTLDDWYULLIJY {
  /*tu*/
  width: 100%;
  /*aft*/
  border-top-width: 1px;
  /*agb*/
  
  border-color: rgb(229 231 235 / 1);
}

.BVVRIXPHPTBJVPK {
  /*ab*/
  position: relative;
  /*lx*/
  display: flex;
  /*zl*/
  justify-content: center;
}

.KQBPUJJGXWREVTA {
  /*alt*/
  
  background-color: rgb(255 255 255 / 1);
  /*aro*/
  padding-left: 1rem;
  padding-right: 1rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*axx*/
  
  color: rgb(107 114 128 / 1);
}

.OJMMSWIBGEFQTVN {
  /*lk*/
  margin-top: 1.5rem;
}

.QOARNMTRETZKXYN {
  /*mb*/
  display: grid;
  /*yo*/
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /*aan*/
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  /*abb*/
  row-gap: 1.5rem;
}

.URSFVTAQDONAGJZ {
  /*ex*/
  grid-column: 1 / -1;
}

.IPGXEJTALKDGMOS {
  /*ku*/
  margin-top: 0.25rem;
}

.DBXCBUFHSZIDPWW {
  /*ew*/
  grid-column: span 8 / span 8;
}

@media (min-width: 640px) {
  .DBXCBUFHSZIDPWW {
    /*bzn*/

    grid-column: span 9 / span 9;
  }
}

.XDJHBITEPXKRQEL {
  /*eu*/
  grid-column: span 4 / span 4;
}

@media (min-width: 640px) {
  .XDJHBITEPXKRQEL {
    /*bzi*/

    grid-column: span 3 / span 3;
  }
}

.QSSNFLGGCQOQIZK {
  /*ex*/
  grid-column: 1 / -1;
}

@media (min-width: 640px) {
  .QSSNFLGGCQOQIZK {
    /*bzj*/

    grid-column: span 4 / span 4;
  }
}

.RMYDEDTFEQCBZTG {
  /*lk*/
  margin-top: 1.5rem;
  /*lx*/
  display: flex;
}

.DCIYKMJCXEARIFF {
  /*lx*/
  display: flex;
  /*of*/
  height: 1.25rem;
  /*zg*/
  align-items: center;
}

.LGRGBRXVSKSYFXD {
  /*oc*/
  height: 1rem;
  /*se*/
  width: 1rem;
  /*adw*/
  border-radius: 0.25rem;
  /*agc*/
  
  border-color: rgb(209 213 219 / 1);
  /*ayn*/
  
  color: var(--primary-color);
}

.LGRGBRXVSKSYFXD:focus {
  /*.bnt*/

  --tw-ring-color: rgb(99 102 241 / 1);
}

.YWDJYSEOVVJUSIX {
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

.YBBJIZIOTSXIYFC {
  /*lk*/
  margin-top: 1.5rem;
  /*tu*/
  width: 100%;
  /*aeb*/
  border-radius: 0.375rem;
  /*afg*/
  border-width: 1px;
  /*ahf*/
  border-color: transparent;
  /*ajw*/
  
  background-color: var(--primary-color);
  /*aro*/
  padding-left: 1rem;
  padding-right: 1rem;
  /*asb*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*ban*/
  
  color: rgb(255 255 255 / 1);
  /*bbt*/
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.YBBJIZIOTSXIYFC:hover {
  /*.biy*/
  
  background-color: rgb(67 56 202 / 1);
}

.YBBJIZIOTSXIYFC:focus {
  /*.bnc*/
  outline: 2px solid transparent;
  outline-offset: 2px;
  /*.bnh*/
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  /*.bnt*/

  --tw-ring-color: rgb(99 102 241 / 1);
  /*.boj*/
  --tw-ring-offset-width: 2px;
}

.HAZZJTYHJXKPQRE {
  /*lk*/
  margin-top: 1.5rem;
  /*lx*/
  display: flex;
  /*zl*/
  justify-content: center;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awk*/
  font-weight: 500;
  /*axx*/
  
  color: rgb(107 114 128 / 1);
}

.QIHFOXZXIDNHUVA {
  /*kj*/
  margin-right: 0.375rem;
  /*of*/
  height: 1.25rem;
  /*si*/
  width: 1.25rem;
  /*axv*/
  
  color: rgb(156 163 175 / 1);
}
