<section id="faq" aria-labelledby="faq-title" class="faq">
  <img
    alt=""
    loading="lazy"
    width="1558"
    height="946"
    decoding="async"
    data-nimg="1"
    class="faq-img"
    src="/static/images/background-faqs.jpg"
  />
  <div class="faq-main">
    <div class="faq-section">
      <h2 id="faq-title" class="faq-title">Frequently Asked Questions</h2>
      <p class="faq-section-desc">
        Have questions? Check these frequently asked questions for real-time
        answers.
      </p>
    </div>
    <ul role="list" class="faq-sub-section">
      <li>
        <ul role="list" class="faq-sec-col">
          <li>
            <h3 class="faq-col-title">
              Why use Integrand when I already use Filevine?
            </h3>
            <p class="faq-col-para">
              Filevine is great for what it is, but its technology limits law
              professionals. We simply integrate that same data you normally
              download via CSVs or Excel Sheets on Google Sheets that update in
              real-time.
            </p>
          </li>
          <li>
            <h3 class="faq-col-title">
              How do I know if Integrand is right for my law firm?
            </h3>
            <p class="faq-col-para">
              If you’re happy using Filevine, then Integrand just streamlines the
              data process so you can get more done in less time. You can always
              schedule a complimentary demo with one of our experts to have all
              your questions answered!
            </p>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="faq-sec-col">
          <li>
            <h3 class="faq-col-title">
              I run a national law firm that manages thousands of cases. Can you
              accommodate a practice of that size and how is that priced?
            </h3>
            <p class="faq-col-para">
              If Filevine can handle your practice data, then so can we – we’ll
              just save you time. We offer custom pricing plans for larger law
              firms to best suit your needs so you can get the most bang for
              your buck.
            </p>
          </li>
          <li>
            <h3 class="faq-col-title">
              Can I customize your pre-built templates?
            </h3>
            <p class="faq-col-para">
              Of course! Our templates are made to give you a head start. You
              can make whatever adjustments you’d like to make your job easier.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="faq-sec-col">
          <li>
            <h3 class="faq-col-title">
              Is there a lot of coding involved with the tools?
            </h3>
            <p class="faq-col-para">
              Everything is pre-build so you don’t have to code anything.
              Everything’s done automatically!
            </p>
          </li>
          <li>
            <h3 class="faq-col-title">
              How often will my data be updated in Google Sheets?
            </h3>
            <p class="faq-col-para">
              It’ll depend on your plan. Our Starter plan provides daily
              updates, Pro offers hourly updates and Enterprise provides
              real–time updates. All represent better alternatives than manually
              downloading and uploading new documents, which slow your computer
              down over time.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
