.profile-container {
    /* bg-gray-200 */
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    /* flex */
    display: flex;
    /* flex-wrap */
    flex-wrap: wrap;
    /* items-center */
    align-items: center;
    /* justify-center */
    justify-content: center;
    margin-bottom: 2rem;
  
    .profile-wrapper {
      /* container */
      width: 100%;
      /* lg:w-2/6 */
      /* xl:w-2/7 */
      /* sm:w-full */
      /* md:w-2/3 */
      /* bg-white   */
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      /* transform    */
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      /* duration-200 */
      transition-duration: 0.2s;
      /* easy-in-out */
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      .background-container {
        /* h-32 */
        height: 6rem; /* 128px */
        /* overflow-hidden */
        overflow: hidden;
  
        .background-img {
          /* w-full */
          width: 100%;
        }
      }
  
      .profile-image-container {
        /* flex */
        display: flex;
        /* justify-center */
        justify-content: center;
        /* px-5 */
        padding-left: 1.25rem; /* 20px */
        padding-right: 1.25rem; /* 20px */
        /* -mt-12 */
        margin-top: -3rem; /* 48px */
  
        .profile-image {
          /* h-32 */
          height: 8rem; /* 128px */
          /* w-32 */
          width: 8rem; /* 128px */
          /* bg-white */
          --tw-bg-opacity: 1;
          background-color: rgb(255 255 255 / var(--tw-bg-opacity));
          /* p-2 */
          padding: 0.5rem; /* 8px */
          /* rounded-full */
          border-radius: 9999px;
        }
      }
  
      .profile-text-container {
          /* text-center */
          text-align: center;
          /* px-14 */
          padding-left: 3.5rem; /* 56px */
          padding-right: 3.5rem; /* 56px */
  
          .profile-title {
              /* text-gray-800 */
              --tw-text-opacity: 1;
              color: rgb(17 24 39 / var(--tw-text-opacity));
              /* text-3xl */
              font-size: 1.875rem;
              line-height: 2.25rem;
              /* font-bold */
              font-weight: 700;
          }
  
          .profile-sub-title {
              /* mt-2 */
              margin-top: 0.5rem;
              /* text-gray-500 */
              --tw-text-opacity: 1;
              color: rgb(107 114 128 / var(--tw-text-opacity));
              /* text-sm */
              font-size: 0.875rem;
              line-height: 1.25rem;
          }
      }
    }
  }
  