.bizItemSection {
  width: 90%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.FSCHLFTXICAFEVM {
  /*p-6*/
  padding: 1rem;
}

@media (min-width: 1024px) {
  .FSCHLFTXICAFEVM {
    /*lg:grid*/
    display: grid;
  }
}

@media (min-width: 1024px) {
  .FSCHLFTXICAFEVM {
    /*lg:grid-cols-2*/
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .FSCHLFTXICAFEVM {
    /*lg:gap-8*/
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .FSCHLFTXICAFEVM {
    /*lg:p-16*/
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media not all and (min-width: 1024px) {
  .FSCHLFTXICAFEVM > :not([hidden]) ~ :not([hidden]) {
    /* max-lg:space-y-4 */
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }
}

.HZKPRZBNSMDQOUX {
  /*card*/
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box, 1rem);
  /*image-full*/
  display: grid;
  /*card-body*/
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
  /*bordered*/
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2, var(--b1)) / var(--tw-border-opacity));
  /*card-body*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*h-min*/
  height: -moz-min-content;
  height: min-content;
  /*bg-base-100*/
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
  /*duration-200*/
  transition-duration: 0.2s;
  /*col-span-1*/
  grid-column: span 1 / span 1;
}

.HZKPRZBNSMDQOUX:focus {
  /*card*/
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.HZKPRZBNSMDQOUX:before {
  /*card*/
  position: relative;
  content: "";
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  opacity: 0.75;
  border-radius: var(--rounded-box, 1rem);

  /*card*/
  grid-column-start: 1;
  grid-row-start: 1;
}

.HZKPRZBNSMDQOUX:focus-visible {
  /*card*/
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.ZYNYZXKCZHGVHKK {
  /*rounded-box*/
  border-radius: var(--rounded-box, 1rem);
  /*cursor-pointer*/
  cursor: pointer;
  /*p-4*/
  padding: 1rem;
  /*duration-200*/
  transition-duration: 0.2s;
}

.ZYNYZXKCZHGVHKK:hover {
  /*hover:scale-[1.02]*/
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

  /*hover:bg-base-300*/
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b3, var(--b2)) / var(--tw-bg-opacity));
}

.ZYNYZXKCZHGVHKK > :not([hidden]) ~ :not([hidden]) {
  /* space-y-0.5 */
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

/* Classes not found for ZYNYZXKCZHGVHKK*/
/*group */

@media (min-width: 1024px) {
  .ZYNYZXKCZHGVHKK > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
  }
}

.TGGVTXOGOXELXME {
  /*flex*/
  display: flex;
  /*flex-wrap*/
  flex-wrap: wrap;
  /*items-center*/
  align-items: center;
  /*gap-y-1*/
  row-gap: 0.25rem;
  /*gap-x-2*/
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

@media (min-width: 1024px) {
  .TGGVTXOGOXELXME {
    /*lg:gap-x-3*/
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
  }
}

.LLRGTKANZAOVHXB {
  /*h-5*/
  height: 1.25rem;
  /*w-5*/
  width: 1.25rem;
  /*object-cover*/
  -o-object-fit: cover;
  object-fit: cover;
  /*drop-shadow-sm*/
  --tw-drop-shadow: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  /*duration-200*/
  transition-duration: 0.2s;
  /*delay-100*/
  transition-delay: 0.1s;
  /*h-4*/
  height: 1rem;
  /*w-4*/
  width: 1rem;
}

@media (min-width: 1024px) {
  .LLRGTKANZAOVHXB {
    /*lg:h-6*/
    height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .LLRGTKANZAOVHXB {
    /*lg:w-6*/
    width: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .LLRGTKANZAOVHXB {
    /*lg:h-5*/
    height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .LLRGTKANZAOVHXB {
    /*lg:w-5*/
    width: 1.25rem;
  }
}

.ZYNYZXKCZHGVHKK:hover .LLRGTKANZAOVHXB{
  /* ZYNYZXKCZHGVHKK group*/
  /* group-hover:-rotate-12 */
  --tw-rotate: 12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Classes not found for LLRGTKANZAOVHXB*/


.WULXDMMSERTKUMU {
  /*mr-auto*/
  margin-right: auto;
  /*font-semibold*/
  font-weight: 600;
}

@media (min-width: 1024px) {
  .WULXDMMSERTKUMU {
    /*lg:text-base*/
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.AALNHNRCQPMBWNU {
  /*flex*/
  display: flex;
  /*gap-2*/
  gap: 0.5rem;
}

.LADLRIZOJKUMFDQ {
  /*badge-ghost*/
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2, var(--b1)) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  /*badge*/
  height: 1.25rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
  border-width: 1px;
  border-color: hsl(var(--n) / var(--tw-border-opacity));
  border-radius: var(--rounded-badge, 1.9rem);
  /*btn*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
  /*badge-sm*/
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-left: 0.438rem;
  padding-right: 0.438rem;
  /*relative*/
  position: relative;
  /*whitespace-nowrap*/
  white-space: nowrap;
  /*duration-200*/
  transition-duration: 0.2s;
  /*relative*/
  position: relative;
}

.AFWWMPMGIROTCKK {
  /*absolute*/
  position: absolute;
  /*5*/
  left: -0.625rem;
  /*h-4*/
  height: 1rem;
  /*w-4*/
  width: 1rem;
  /*rounded-l-rounded-badge*/
  --rounded-badge: 1.9rem;
  border-top-left-radius: var(--rounded-badge);
  border-bottom-left-radius: var(--rounded-badge);
}

.SEBZRNMVQTDGXVC {
  /*opacity-0*/
  opacity: 0;
}

.JABDADWOCRARCWC {
  /*text-xs*/
  font-size: 0.75rem;
  line-height: 1rem;
}

@media (min-width: 1024px) {
  .JABDADWOCRARCWC {
    /*lg:text-sm*/
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}