<div class="MCYENCZASGDHILN">
    <div class="VPHPMPHGDUKREBG">
    <div class="BSNEBHBADUGBPVB">
    <h2 class="MWBZAHXNEYWGFOQ">Want product news and updates?</h2>
    <p class="MWBZAHXNEYWGFOQ">Sign up for our newsletter.</p>
    </div>
    <form class="JXPWBBDRKOGIVUD" method="POST" action="/form">
    <div class="MFQYETCJGCNFPCI">
    <label class="PXJXCKXAZGTPIHL" for="email-address">
                Email address
            </label><input autocomplete="email" class="NEBZDZGYSFFKPZV" id="email-address" name="email" placeholder="Enter your email" required="" type="email"/>
    <button class="NNTVYZTYKXTTEID" type="submit">
              Subscribe
            </button>
    </div>
        <p class="ZLVTTZBPLNLPXSD">
            We don't sell your data. Read our
            <a class="VJSMSXMWCXEZUVW" href="#">
                privacy policy
            </a>.
        </p>
    </form>
    </div>
    </div>