.faq {
  /* relative  */
  position: relative;
  /* overflow-hidden  */
  overflow: hidden;
  /* bg-slate-50  */
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252/var(--tw-bg-opacity));
  /* py-20  */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.faq-img {
  /* absolute  */
  position: absolute;
  /* top-0  */
  top: 0;
  /* max-w-none  */
  max-width: none;
  /* left-1/2  */
  left: 50%;
  max-width: none;
  /* -translate-y-1/4  */
  --tw-translate-y: -25%;
  /* translate-x-[-30%] */
  --tw-translate-x: -30%;

  color: transparent;
}

.faq-main {
  /* mx-auto  */
  margin-left: auto;
  margin-right: auto;
  /* max-w-7xl  */
  max-width: 80rem;
  /* px-4  */
  padding-left: 1rem;
  padding-right: 1rem;
  /* relative */
  position: relative;
}

.faq-section {
  /* mx-auto max-w-2xl lg:mx-0 */
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

.faq-sec-col {
  /* flex  */
  display: flex;
  /* flex-col  */
  flex-direction: column;
  /* gap-y-8 */
  row-gap: 2rem;
}

.faq-title {
  font-family: var(--font-lexend);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));

  /* font-display text-3xl tracking-tight text-slate-900 sm:text-4xl */
}

.faq-desc {
  /* mt-4 text-lg tracking-tight text-slate-700 */
  margin-top: 11rem;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.025em;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.faq-sub-section {
  /* mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-3 */
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: grid;
  max-width: 40rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.faq-col-title {
  /* font-display text-lg leading-7 text-slate-900 */
  font-family: var(--font-lexend);
  font-size: 1.125rem;
  line-height: 2rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.faq-col-para {
  /* mt-4 text-sm text-slate-700 */
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .faq {
    /* sm:py-32 */
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .faq-main {
    /* sm:px-6  */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .faq-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .faq-main {
    /* lg:px-8  */
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .faq-section {
    margin-left: 0;
    margin-right: 0;
  }
  .faq-sub-section {
    max-width: none;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
