.IVJALVRVVJDWEQK {
  
  background-color: rgb(255 255 255 / 1);
  /*mx-auto*/
  margin-left: auto;
  margin-right: auto;
  /*w-full*/
  width: 100%;
  /*max-w-container*/
  max-width: 85rem;
  /*px-4*/
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .IVJALVRVVJDWEQK {
    /*sm:px-6*/
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .IVJALVRVVJDWEQK {
    /*lg:px-8*/
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.YOJJIBLIEOQKNMT {
  /*max-w-2xl*/
  max-width: 42rem;
}

.AXIMVLWYENADSZJ {
  /*font-semibold*/
  font-weight: 600;

  color: var(--primary-color);
}

.OJWQGMFRRBADRVX {
  /*mt-4*/
  margin-top: 1rem;
  /*text-4xl*/
  font-size: 2.25rem;
  line-height: 2.5rem;
  /*font-extrabold*/
  font-weight: 800;
  /*tracking-tight*/
  letter-spacing: -0.025em;
  /*text-slate-900*/
  
  color: rgb(15 23 42 / 1);
}

.LGWELSVXSRWFXLV {
  /*max-w-xl*/
  max-width: 36rem;
}

.RAGQKPYYXGISWQW {
  /*mt-4*/
  margin-top: 1rem;
  /*text-slate-700*/
  
  color: rgb(51 65 85 / 1);
}

.EXJOQJKSYSAXXAL {
  /*mt-6*/
  margin-top: 1.5rem;
}

.NPQXBGICOWNGTTC {
  /*font-semibold*/
  font-weight: 600;
  color: var(--primary-color)
}

.NPQXBGICOWNGTTC:hover {
  color: var(--darker-primary-color)
}
