<section class="UQYEMTEWPTLDTDB">
    <div class="ILRHEIWGMFWOFWN">
      <!-- Row -->
      {{ $featuresSimple := cast_to_featuresSimeple .TemplateData }}
      <div class="CJAVSHUXLTHDVFM">
        <div class="RSSOXSIUHTXXQQS">
          <h2 class="LSDOBDHQFCKDVHJ">{{$featuresSimple.Section1Title}}</h2>
          <p class="GATFIBDRTNOYITK">
            {{$featuresSimple.Section1Body}}
          </p>
          <!-- List -->
          <ul class="JWZEQCAESXYKMZE" role="list">
            <li class="RAWKCEYNAEUWBFS">
              <!-- Icon -->
              <svg
                class="IDPNBSTXRXFHQWV"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="NLUGJGAAHETWZWC">Gobbly gook</span
              >
            </li>
            <li class="RAWKCEYNAEUWBFS">
              <!-- Icon -->
              <svg
                class="IDPNBSTXRXFHQWV"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="NLUGJGAAHETWZWC">Development workflow</span>
            </li>
            <li class="RAWKCEYNAEUWBFS">
              <!-- Icon -->
              <svg
                class="IDPNBSTXRXFHQWV"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="NLUGJGAAHETWZWC">Knowledge management</span>
            </li>
          </ul>
          <p class="GATFIBDRTNOYITK">
            {{$featuresSimple.Section1Subtitle}}
          </p>
        </div>
        <img
          alt="Feature 1 image"
          class="TJJPYGPNKLUCVTU"
          src="{{$featuresSimple.Section1ImagePath}}"
        />
      </div>
      <!-- Row -->
      <div class="CJAVSHUXLTHDVFM">
        <img
          alt="office feature image 2"
          class="TJJPYGPNKLUCVTU"
          src="{{$featuresSimple.Section2ImagePath}}"
        />
        <div class="RSSOXSIUHTXXQQS">
          <h2 class="LSDOBDHQFCKDVHJ">{{$featuresSimple.Section2Title}}</h2>
          <p class="GATFIBDRTNOYITK">
            {{$featuresSimple.Section2Body}}
          </p>
          <!-- List -->
          <ul class="JWZEQCAESXYKMZE" role="list">
            <li class="RAWKCEYNAEUWBFS">
              <!-- Icon -->
              <svg
                class="IDPNBSTXRXFHQWV"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="NLUGJGAAHETWZWC">Dynamic reports and dashboards</span>
            </li>
            <li class="RAWKCEYNAEUWBFS">
              <!-- Icon -->
              <svg
                class="IDPNBSTXRXFHQWV"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="NLUGJGAAHETWZWC">Templates for everyone</span>
            </li>
            <li class="RAWKCEYNAEUWBFS">
              <!-- Icon -->
              <svg
                class="IDPNBSTXRXFHQWV"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="NLUGJGAAHETWZWC">Development workflow</span>
            </li>
            <li class="RAWKCEYNAEUWBFS">
              <!-- Icon -->
              <svg
                class="IDPNBSTXRXFHQWV"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="NLUGJGAAHETWZWC">Limitless business automation</span>
            </li>
            <li class="RAWKCEYNAEUWBFS">
              <!-- Icon -->
              <svg
                class="IDPNBSTXRXFHQWV"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span class="NLUGJGAAHETWZWC">Knowledge management</span>
            </li>
          </ul>
          <p class="XCOBNQNTLOBYCJS">
            {{$featuresSimple.Section2Subtitle}}
          </p>
        </div>
      </div>
    </div>
  </section>
  