<section class="GCGQNMFNKPNBSZC">
    <div class="ZWIMGNVJRULGTYI">
        <div class="OFIHYJMTLCOODTA">
            <h1 class="KMASDXSZMZGRMHT">Creating Impactful Digital Experiences.</h1>
            <p class="HRHPZKSUYVRZAVA">Explore strategies for building standout digital experiences and driving growth with proven techniques.</p>
            <form action="#" class="NWYXFCNSNZBNJBF">
                <div class="TLPPGRAQWJQRGEL">
                    <div class="UMYPZYZCUKLLSDX">
                        <label class="NNEUUQCSXEGDGMO" for="member_email">Email address</label>
                        <div class="VVVIDDQOCGGGWUX">
                            <svg class="NSJFDCOMTBISXEJ" fill="currentColor" viewbox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                            </svg>
                        </div>
                        <input class="RRARHERGXYIUDDY" id="member_email" name="member[email]"
                            placeholder="Enter your email" required="" type="email" />
                    </div>
                    <div>
                        <input class="ZHJKSFWICOXLJGJ" id="member_submit" name="member_submit" type="submit"
                            value="Sign Up" />
                    </div>
                </div>
                <div class="PWKBVXDQWKFQFGM">“I enjoyed the blog, but the newsletter? It’s on another level!” - Steve</div>
            </form>
        </div>
        <div class="NFJFIEWBDFBMSDS">
            <img alt="Burak Kiran"
                src="/static/images/profile/burak-hero.webp" />
        </div>
    </div>
</section>