<div
  id="orderConfirmationModal"
  tabindex="-1"
  class="S7befmKAx0_HNZ296rd2 _J57_xJ7KhmAX1D2Pnei AMjjbpqWkJRuIruRGJbg _ccvJ9JsfoF81kZ3lkJh TnQIXm76rhSCcMn8B_oh S0VlXIKKee1uVEk06hhe _c7IFqtBDDYioINQriFS jCISvWkW5oStPH6Wrb_H neyUwteEn7DOg9pBSJJE _WclR59Ji8jwfmjPtOei M4JgixW4UN7OS2HTxbTr D3uwZnyUNJgNm_hyQDLO cmyDPxbqOqbqHiEyGnG8 ZOkM24P9ZayPKnxPVlDZ justify-center items-center kqgYncRJQ7spwKfig6It"
  aria-modal="true"
  role="dialog"
>
  <div
    class="QYPW4nl6nHaIbrtaXf4h _c7IFqtBDDYioINQriFS jCISvWkW5oStPH6Wrb_H _ysO9iH8mcvEpCuwV4T4 iHyrYta0Jcy0_7nMWLK7"
  >
    <!-- Modal content -->
    <div
      class="QYPW4nl6nHaIbrtaXf4h _Qk4_E9_iLqcHsRZZ4ge _F_1gdhzusC6tSOWHtx_ yjGyQxv8jnYk9_MGMqLN iHyrYta0Jcy0_7nMWLK7 lhxYQ_2y3sYNN3W1V_3q _cpMMPjFQqjJu4i0Puod XbA9uXviv8Jns1WOGGH8"
    >
      <!-- Modal header -->
      <button
        type="button"
        class="iZ8W30HPRQAuO6al90LU gIFtGbAiQuKVOg5QUCDU ay0ziTPUL4Ag5d1DkSY7 end-2 DCtalURVeE4EVE1oogVl neyUwteEn7DOg9pBSJJE _Qk4_E9_iLqcHsRZZ4ge bHPiH67mBn1_jgR3TrvW rV1LyZ_IhXGwxm69VRe9 MxG1ClE4KPrIvlL5_Q5x rZZ58B08lxezTX7iNgGT _s1HFAQPzDGxzspem6eZ _xQT_qSXfwWf6ZhwRle4 xotVay0PVtR3gElm6ql5 DTyjKhtXBNaebZa5L0l9"
        data-modal-toggle="orderConfirmationModal"
      >
        <svg
          aria-hidden="true"
          class="RRXFBumaW2SHdseZaWm6 eUuXwBkW5W4__eatjSfd"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="BWabIWdbZ5qWNbPXxuBc">Close modal</span>
      </button>
      <!-- Modal body -->
      <div
        class="kqgYncRJQ7spwKfig6It _WclR59Ji8jwfmjPtOei RV8RoaI_SlEMC5CEQ3ms neyUwteEn7DOg9pBSJJE oIyj6uBhU5BaKmBKDrV_ AATaQm5byhqNhQAf0t5v w_pD1gBhXBCVh8CsH9nj _iSp1o5t2A7QIQjoeDtn n8e6ORKgPTnY6zgs5HS7 _sKOAvqwIF0JM69g2BaC _2PQksopE69Dfbaiti8H"
      >
        <svg
          class="_vZPglRSyqi4oTXg5L1_ _pwSRUXRHN5bHphyTRKz nBaPhMqZS2qacmQKOOCx ZY40Gz4IBiIj5o_8hP5w soAkn7UnTd5mqIs7Xdxf J5YS661Px05AzgP8bTc5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 11.917 9.724 16.5 19 7.5"
          ></path>
        </svg>
      </div>
      <h2
        class="uyo8h_4Kh1IoUwm8bwJI LYMps1kO2vF8HBymW3az g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0 _MTwKeST1JpgVPLVq9Qc"
      >
        Your order is confirmed!
      </h2>
      <p class="K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">
        Your order
        <a
          href="#"
          class="g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0 LYMps1kO2vF8HBymW3az _5zvlMLkN1qETxEl3IhT"
          >#7564804</a
        >
        will be processed within 24 hours during working days. We will notify
        you by email once your order has been shipped.
      </p>
      <div
        class="KgBTWt39fdiAC__YVNt8 _WclR59Ji8jwfmjPtOei neyUwteEn7DOg9pBSJJE nLBh_4HJncWRXQXC22Af FLfl_xS1XCloWU2wRi87 VPOaIHacePDZ9eYE_phl pxHuWvF853ck68OLN6ef UV0UXx_CGh3nufuH2fPZ JeVit_1klYopnNwu_8oy U4m6yFbNbl_ea9gVo2Uw _uGk0TKCucyvLBoD8KyB _rT9gacXyvSO1fCjLFak FdB5ZTHgGALOJriLZvqm i2K72gZE8Ox64HLJXkiY"
      >
        <button
          type="submit"
          class="kqgYncRJQ7spwKfig6It jCISvWkW5oStPH6Wrb_H neyUwteEn7DOg9pBSJJE _WclR59Ji8jwfmjPtOei _Qk4_E9_iLqcHsRZZ4ge bg-primary-700 bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk wP9HMsqy6b96l2HBRbgb hover:bg-primary-800 qHIOIw8TObHgD3VvKa5x _FONMPVaCsLFJJGDaaIL focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 P4XBw8jIgTr9d9pndgsA _mELhemY9faJ9cOfhVds"
        >
          Track your order
        </button>
        <button
          type="button"
          data-modal-toggle="orderConfirmationModal"
          class="jCISvWkW5oStPH6Wrb_H _Qk4_E9_iLqcHsRZZ4ge PWreZZgitgAm_Nv4Noh9 pxHuWvF853ck68OLN6ef yjGyQxv8jnYk9_MGMqLN bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk g3OYBOqwXUEW4dRGogkH DpMPWwlSESiYA8EE1xKM hover:text-primary-700 m_8FxTcpOfmK___hAaJ6 qHIOIw8TObHgD3VvKa5x _FONMPVaCsLFJJGDaaIL ySeTR5mxhrLv_M5M51IE _BIVSYBXQUqEf_ltPrSk _cpMMPjFQqjJu4i0Puod eCx_6PNzncAD5yo7Qcic _OovBxfPdK7Rjv2nh2Ot DTyjKhtXBNaebZa5L0l9 __8kBLtrR_iuU2wW25Lp _mELhemY9faJ9cOfhVds"
        >
          Return to shopping
        </button>
      </div>
    </div>
  </div>
</div>
