<section class="MMOMZPCWYYMPNMV">
    <div class="OJYENBRRTFRSRQJ">
        <div class="WAGDNGUKHHDLQYC" style="--columns-desktop:12;--columns-tablet:8;--columns-phone:4">
            <div class="JQMRISEZYEFFCBV" data-desktop="7" data-phone="4" data-tablet="6"
                style="--columns-desktop:7;--columns-tablet:6;--columns-phone:4">
                <h1 class="ESUGLGPCLUDNOEU">Craft an outstanding cover letter in minutes</h1>
                <h1 class="DQYCEPMVPVKBUPR">Create captivating cover letters with professional templates</h1>
                <ul class="XGTHLZTECIUGAJY">
                    <li class="BXJWNSNMNGVJCSA">Explore countless ready-made templates</li>
                    <li class="BXJWNSNMNGVJCSA">Customize the letter to suit your needs</li>
                    <li class="BXJWNSNMNGVJCSA">Maximize your chances of landing an interview</li>
                </ul>
                <a class="GAYQRBTZANKUAHG" href="#"
                    tabindex="0">
                    <span class="ODYDDLOSLJLWCTI">
                        Create my cover letter</span>
                    </a>
                <a class="DNZJZQWCFTYSWJT" href="#"
                    tabindex="0">
                    <span class="ODYDDLOSLJLWCTI">
                        Create my cover letter
                    </span>
                </a>
            </div>
            <div class="JGEYKEOIIYGMKRJ" data-desktop="5" data-phone="4" data-tablet="8"
                style="--columns-desktop:5;--columns-tablet:8;--columns-phone:4"><img alt="" class="RMBUBRXLYZUZLBA"
                    data-nimg="1" decoding="async" fetchpriority="high" height="563" loading="eager"
                    src="/static/images/text2.svg" style="color:transparent" width="544" /></div>
        </div>
    </div>
</section>