<section class="codeShowcaseWrapper">
	<div class="TTALYSMOAGLCQKW">
		<h2 class="MIHOJRTJNHCDBAR">Get only the CSS you need.</h2>
		<p class="WIPLKVDNUQEPRXM">What used to take hours of copying, now takes minutes.</p>
	</div>

	<div class="EFUMGFCCWRWCMNJ">
		<div class="FAQHTNAQPQVPQZO">
			<div>
				<div class="CECNSKQAZPJDELK">
					<label class="IGKUBLMZPLUGGKC" for="tabs">Select a tab</label>
					<select class="XBPBCCJQKSDGPMA" id="tabs" name="tabs">
						<option>HTML</option>
						<option selected="">CSS</option>
					</select>
				</div>
				<div class="FMJSRGXSNHPGSFW">
					<div class="KGWAUHIWYORVCKL">
						<nav aria-label="Tabs" class="JZAPSDTOOXDOZEB">
							<a class="active_code_tab" href="#" onclick="changeCodeTab(event, 'html')">HTML</a>
							<a class="inactive_code_tab" href="#" onclick="changeCodeTab(event, 'css')">CSS</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="html" class="SEXJEWKEHZWYJWC">
		<div class="QTFDQZWSTJBXKYG">
			<h2 class="BNLZOFYOIBOLXQF">Old HTML</h2>
			<div class="FVRLGYXIOVVZXPN">
				<pre><code class="SASNLXGQKQEAZDE">&lt;button type=&#34;submit&#34; </code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    class=&#34;ma uf zw aet aks ask asv axq ayc bbv bkp bqv bqw bqy brf&#34;&gt;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    Sign in</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">&lt;/button&gt;</code></pre>
		  </div>
		</div>

		<div class="QTFDQZWSTJBXKYG">
			<h2 class="BNLZOFYOIBOLXQF">New HTML</h2>
			<div class="FVRLGYXIOVVZXPN">
				<pre><code class="SASNLXGQKQEAZDE">&lt;button class=&#34;CIPRCOUKLBVBOGB&#34; type=&#34;submit&#34;&gt;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    Sign in</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">&lt;/button&gt;</code></pre>
			</div>
		</div>
	</div>

	<div id="css" class="SEXJEWKEHZWYJWC_hidden">
		<div class="QTFDQZWSTJBXKYG">
			<h2 class="BNLZOFYOIBOLXQF">Old CSS</h2>
			<div class="FVRLGYXIOVVZXPN">
				<pre><code class="SASNLXGQKQEAZDE">/* Giant CSS Stylesheet */</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">.dvr {</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-top: 4rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-bottom: 4rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  }</code></pre>
				<pre><code class="SASNLXGQKQEAZDE"></code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  .dvs {</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-top: 5rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-bottom: 5rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  }</code></pre>
				<pre><code class="SASNLXGQKQEAZDE"></code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  .dvt {</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-top: 6rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-bottom: 6rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  }</code></pre>
				<pre><code class="SASNLXGQKQEAZDE"></code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  .dvu {</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-top: 8rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-bottom: 8rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  }</code></pre>
				<pre><code class="SASNLXGQKQEAZDE"></code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  .dvv {</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-top: 9rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-bottom: 9rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  }</code></pre>
				<pre><code class="SASNLXGQKQEAZDE"></code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  .dvw {</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">    padding-bottom: 0px;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  }</code></pre>
				<pre><code class="SASNLXGQKQEAZDE"></code></pre>
				<pre><code class="SASNLXGQKQEAZDE">/* Continued..... */</code></pre>
		  </div>
		</div>

		<div class="QTFDQZWSTJBXKYG">
			<h2 class="BNLZOFYOIBOLXQF">New CSS</h2>
			<div class="FVRLGYXIOVVZXPN">
				<pre><code class="SASNLXGQKQEAZDE">.CIPRCOUKLBVBOGB {</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  display: flex;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  width: 100%;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  justify-content: center;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  border-radius: 0.375rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  background-color: rgb(79 70 229 / 1);</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  padding-left: 0.75rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  padding-right: 0.75rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  padding-top: 0.375rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  padding-bottom: 0.375rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  font-size: 0.875rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  line-height: 1.5rem;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  font-weight: 600;</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  color: rgb(255 255 255 / 1);</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">}</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">.CIPRCOUKLBVBOGB:hover {</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">  background-color: rgb(99 102 241 / 1);</code></pre>
				<pre><code class="SASNLXGQKQEAZDE">}</code></pre>
			</div>
		</div>
	</div>
</section>

