@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel-container {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    display: flex;
}

.carousel-container::before,
.carousel-container::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.carousel-container::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.carousel-container::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.carousel-container:hover .logo-sub-container {
    animation-play-state: paused;
}

.logo-sub-container {
    display: flex;
    align-items: center;
    animation: slide 45s linear infinite;
    width: max-content;
    gap: 50px; /* space between sets of logos */
}

.logo-sub-wrapper {
    display: flex;
    align-items: center;
    gap: 50px; /* space between logos within a set */
    width: 50%;
}

.trusted-logo-tag {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.trusted-logo-image {
    margin: 0;
    padding: 0;
    height: 40px;
    max-width: 100%;
}

@media (max-width: 640px) {
    .trusted-logo-image {
        max-width: 90px;
        height: auto;
    }
}

@media (min-width: 641px) {
    .trusted-logo-image {
        height: 60px;
    }
}

@media (min-width: 1024px) {
    .trusted-logo-tag {
        margin-bottom: 2.25rem;
    }
    .trusted-logo-image {
        max-width: 290px;
    }
}
