.feature1-section-container {
    background-color: rgb(255 255 255/1);
  }
  
  .feature1-container {
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    text-align: center;
  }
  
  .feature1-title {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -0.025em;
    font-weight: 800;
    color: rgb(17 24 39/1);
  }
  
  .feature1-subtitle {
    color: rgb(107 114 128/1);
  }
  
  .icon-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .icon-container > :not([hidden]) ~ :not([hidden]) {
    margin-bottom: 0;
    margin-top: 2rem;
  }
  
  .icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 6rem;
  
    height: 6rem;
  
    border-radius: 0.5rem;
  }
  
  .icon-title {
    margin-bottom: 1rem;
  
    font-size: 1.5rem;
    line-height: 2rem;
  
    font-weight: 700;
  
    color: rgb(17 24 39/1);
  }
  
  .icon-description {
    margin-bottom: 1rem;
  
    color: rgb(107 114 128/1);
  }
  
  .icon-wrapper1 {
    display: inline-flex;
  
    justify-content: center;
  
    align-items: center;
  
    margin-bottom: 1.5rem;
  
    width: 6rem;
  
    height: 6rem;
  }
  
  .icon1 {
    margin-left: auto;
    margin-right: auto;
  
    width: 4rem;
  
    height: 4rem;
    color: var(--primary-color);
  }
  
  .icon2 {
    margin-left: auto;
    margin-right: auto;
  
    width: 4rem;
  
    height: 4rem;
    color: var(--primary-color);
  }
  
  .link-text {
    text-align: center;
  
    .link {
      display: inline-flex;
  
      align-items: center;
  
      font-weight: 600;
      text-decoration: underline;
  
      .link-icon {
        margin-left: 0.25rem;
  
        width: 1.25rem;
  
        height: 1.25rem;
      }
    }
  }
  @media (min-width: 640px) {
    .feature1-container {
      padding-bottom: 4rem;
      padding-top: 4rem;
    }
  
    .feature1-subtitle {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  
  @media (min-width: 768px) {
    .icon-container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 3rem;
    }
  
    .icon-container > :not([hidden]) ~ :not([hidden]) {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
  
  @media (min-width: 1024px) {
    .feature1-container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .feature1-subtitle {
      padding-left: 12rem;
      padding-right: 12rem;
    }
    .icon-container {
      margin-top: 4rem;
    }
  }
  