.articleContainer {
    /* alm  */
    background-color: rgb(255 255 255 / 1);
    /* arx  */
    padding-top: 2rem;
    padding-bottom: 4rem;
    /* gx  */
    margin-left: 0;
    margin-right: 0;
    /* ua  */
    max-width: 85rem;
    /* arj  */
    padding-left: 1rem;
    padding-right: 1rem;
}

.articleTitleContainer {
    /* gx  */
    margin-left: auto;
    margin-right: auto;
    /* tv  */
    max-width: 50rem;
}

.articleTitle {
    /* lb  */
    margin-top: 0.5rem;
    /* avr  */
    font-size: 2.875rem;
    line-height: 3rem;
    /* awc  */
    font-weight: 700;
    /* aww  */
    letter-spacing: -0.025em;
    /* axu  */
    
    color: rgb(17 24 39 / 1);

    text-align: center;
}

.articleMeta {
    
    border-color: rgb(229 231 235 / 1);
    border-bottom-width: 1px;
    border-top-width: 1px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.articleAuthorContainer {
    /* ab  */
    position: relative;
    /* lx  */
    display: flex;
    /* yz  */
    align-items: center;
    /* aag */
    -moz-column-gap: 1rem;
    column-gap: 1rem;

    .authorImage {
        /* nh  */
        height: 2.5rem;
        /* rj  */
        width: 2.5rem;
        /* ads  */
        border-radius: 9999px;
        /* aio */
        background-color: rgb(249 250 251 / 1);
    }

    .authorMetaDetailsContainer {
        /* avz  */
        font-size: 0.875rem;
        line-height: 1.25rem;
        /* awo */
        line-height: 1.5rem;
    }

    .authorText {
        /* awf  */
        font-weight: 600;
        /* axu */
        
        color: rgb(17 24 39 / 1);
    }

    .authorRoleTitleText {
        /* axr */
        
        color: rgb(75 85 99 / 1);
    }
}

.articleMetaDataContainer {
    /* lx  */
    display: flex;
    /* yz  */
    align-items: center;
    /* aag  */
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    /* awb */
    font-size: 0.75rem;
    line-height: 1rem;

    .timeWrapper {
        /* axq */
        color: rgb(107 114 128 / 1);
    }

    .tag {
        /* ab  */
        position: relative;
        /* eg  */
        z-index: 10;
        /* ads  */
        border-radius: 9999px;
        /* aio  */
        background-color: rgb(249 250 251 / 1);
        /* are  */
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        /* arp  */
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
        /* awd  */
        font-weight: 500;
        /* axr  */
        color: rgb(75 85 99 / 1);
        /* bib (hover)*/
        background-color: rgb(243 244 246 / 1);
    }
}

.textSpanner {
    /* aa  */
    position: absolute;
    /* ak */
    inset: 0px;
}

/* Actual Article Styling */

.articleContentsContainer {
    /* gx  */
    margin-left: auto;
    margin-right: auto;
    /* tv  */
    max-width: 50rem;

    p {
        /* lk  */
        margin-top: 1.5rem;
        /* avy  */
        font-size: 1.125rem;
        line-height: 1.85rem;
        /* axr */
        color: rgb(75 85 99 / 1);
    }

    h1 {
        /* lk  */
        margin-top: 1.5rem;
    
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem; /* 40px */

        /* axr */
        color: rgb(75 85 99 / 1);
    }

    h2 {
        font-weight: 700;

        /* lk  */
        margin-top: 1.5rem;
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */

        /* axr */
        color: rgb(75 85 99 / 1);
    }

    h3 {
        font-weight: 600;

        /* lk  */
        margin-top: 1.5rem;
        
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
        /* axr */
        
        color: rgb(75 85 99 / 1);
    }

    h4 {
        font-weight: 500;
        /* lk  */
        margin-top: 1.5rem;
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
        /* axr */
        
        color: rgb(75 85 99 / 1);
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    ol {
        list-style-type: decimal;
        padding-left: 20px;
    }

    li {
        /* lk  */
        margin-top: .5rem;
        /* avy  */
        font-size: 1.125rem;
        line-height: 1.75rem;
        /* axr */
        
        color: rgb(75 85 99 / 1);
    }

    img {
        margin-right: auto;
        margin-left: auto;
    }

    /* Code in text */
    p > code,
    li > code,
    dd > code,
    td > code {
        font-size: 75%;
        padding: 2px 4px;
        background-color: #F2F2F2;
        font-weight: 400;
    }

    pre {
        display: flex;
        margin-bottom: 1.5rem;
        border: 1px solid #E5E5E5;;
        background-color: #F9F9F9;;
        padding: 0;
        margin: .5em 0;
        overflow: auto;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
    }

    pre > code {
        display: block;
        width: 100%;
        overflow-x: auto;
        padding: 1rem;
        font-size: 14.5px;
        line-height: 1.5;
    }

    table {
        margin-top: 1rem;
        table-layout: fixed;
        width: 100%;
        /* Trying to make the table scrollable...
        display: block;
        overflow: auto;
        white-space: nowrap;
        table-layout: fixed;
        max-width: -moz-fit-content;
        max-width: fit-content; */
        /* margin-left: auto;
        margin-right: auto; */
    }

    td, th {
        word-wrap: break-word;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        
        border-color: rgb(75 85 99 / 1);
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
      }
      blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }
      blockquote p {
        display: inline;
      }
}

@media (min-width: 640px) {
    .articleMeta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    .articleContainer {
        /* gx  */
        margin-left: auto;
        margin-right: auto;
    }
}