<section class="cta2-container">
  <div class="cta2-subcontainer">
    <div class="cta2-title-container">
      <h2 class="cta2-header">Seamlessly Integrate</h2>
      <p>Connect your all your law practice management apps and web services</p>
    </div>
    <div class="cta2-logos-container">
      <div class="cta2-item-image-wrapper">
        <img
          src="/static/images/logos/filevine_logo.avif"
          alt="Filevine"
          class="cta2-item-image"
        />
      </div>
      <div class="cta2-item-image-wrapper">
        <img
          src="/static/images/logos/lead_docket_logo.avif"
          alt="Filevine"
          class="cta2-item-image"
        />
      </div>
      <div class="cta2-item-image-wrapper">
        <img
          src="/static/images/logos/google_sheets_logo.avif"
          alt="Filevine"
          class="cta2-item-image"
        />
      </div>
      <div class="cta2-item-image-wrapper">
        <img
          src="/static/images/logos/excel_logo.avif"
          alt="Filevine"
          class="cta2-item-image"
        />
      </div>
    </div>
  </div>
</section>
