.simpleHeader-section-container {
    /* alm  */
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    /* arx  */
    padding-top: 3rem;
    padding-bottom: 2rem;

    /* gx  */
    margin-left: auto;
    margin-right: auto;
    /* ua  */
    max-width: 80rem;
    /* arj  */
    padding-left: 2rem;
    padding-right: 2rem;
}

.simpleHeader-title-header-container{
    /* gx  */
    margin-left: auto;
    margin-right: auto;
    /* tv  */
    max-width: 42rem;
}

.simpleHeader-title {
    /* lb  */
    margin-top: 0.5rem;
    /* avr  */
    font-size: 2.875rem;
    line-height: 3rem;
    /* awc  */
    font-weight: 700;
    /* aww  */
    letter-spacing: -0.025em;
    /* axu  */
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.simpleHeader-description {
    /* lk  */
    margin-top: 1.5rem;
    /* avy  */
    font-size: 1.125rem;
    line-height: 1.75rem;
    /* awq  */
    line-height: 2rem;
    /* axr */
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

@media (min-width: 640px) {
    .simpleHeader-section-container {
        /* cfj (@media 640)*/
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .simpleHeader-title {
        /* chu (@media 640)*/
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media (min-width: 1024px) {
    .simpleHeader-section-container {
        /* dde (@media 1024)*/
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .simpleHeader-title-header-container {
        /* dfr (@media 1024)*/
        text-align: center;
    }
}