.YHLGOVUQDHBHHCC {
  /*alt*/
  background-color: rgb(255 255 255 / 1);
  /*ase*/
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 640px) {
  .YHLGOVUQDHBHHCC {
    /*ckp*/
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.MEQPNZSTSDKXJHP {
  /*gx*/
  margin-left: auto;
  margin-right: auto;
  /*uh*/
  max-width: 80rem;
  /*arq*/
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .MEQPNZSTSDKXJHP {
    /*dit*/
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.EPGTJCYSGONHTMZ {
  /*gx*/
  margin-left: auto;
  margin-right: auto;
  /*mb*/
  display: grid;
  /*uc*/
  max-width: 42rem;
  /*yn*/
  grid-template-columns: repeat(1, minmax(0, 1fr));
  /*ze*/
  align-items: flex-start;
  /*aaq*/
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  /*aav*/
  row-gap: 4rem;
}

@media (min-width: 640px) {
  .EPGTJCYSGONHTMZ {
    /*chk*/
    row-gap: 6rem;
  }
}
@media (min-width: 1024px) {
  .EPGTJCYSGONHTMZ {
    /*cys*/
    margin-left: 0px;
    margin-right: 0px;
    /*dcy*/
    max-width: none;
    /*ded*/
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.XBBTHLBWXZWEYKW {
}

@media (min-width: 1024px) {
  .XBBTHLBWXZWEYKW {
    /*dkl*/
    padding-right: 1rem;
  }
}

.KVIWTZJPMTETWQR {
  /*ab*/
  position: relative;
  /*adn*/
  overflow: hidden;
  /*ady*/
  border-radius: 1.5rem;
  /*aje*/
  background-color: rgb(17 24 39 / 1);
  /*arq*/
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /*atg*/
  padding-bottom: 2.25rem;
  /*avl*/
  padding-top: 16rem;
  /*bbp*/
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px) {
  .KVIWTZJPMTETWQR {
    /*cjx*/

    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1024px) {
  .KVIWTZJPMTETWQR {
    /*dcw*/
    max-width: 32rem;
    /*dit*/
    padding-left: 2rem;
    padding-right: 2rem;
    /*dju*/
    padding-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .KVIWTZJPMTETWQR {
    /*dro*/
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    /*dsc*/
    padding-bottom: 2.5rem;
  }
}
.PGUCQJBVKKPBJUV {
  /*aa*/
  position: absolute;
  /*ak*/
  inset: 0px;
  /*pn*/
  height: 100%;
  /*tu*/
  width: 100%;
  /*aqk*/
  -o-object-fit: cover;
  object-fit: cover;
  /*bee*/
  --tw-brightness: brightness(1.25);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  /*bei*/
  --tw-saturate: saturate(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.JJUURKPDYWTEWJJ {
  /*aa*/
  position: absolute;
  /*ak*/
  inset: 0px;
  /*aje*/
  background-color: rgb(17 24 39 / 1);
  /*bbn*/
  mix-blend-mode: multiply;
}

.PITTYGHTXPQDZTY {
  /*aa*/
  position: absolute;
  /*ci*/
  left: 50%;
  /*dp*/
  top: 50%;
  /*hr*/
  margin-left: -4rem;
  /*vm*/
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /*vv*/
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /*xp*/
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /*bec*/
  --tw-blur: blur(64px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.KTTFCHPBKSUYCML {
  /*mf*/
  aspect-ratio: 1097/845;
  /*ti*/
  width: 68.5625rem;
  /*amu*/
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
  /*amy*/
  --tw-gradient-from: #ff4694 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 70 148 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  /*anw*/
  --tw-gradient-to: #776fff var(--tw-gradient-to-position);
  /*bbi*/
  opacity: 0.4;
}

.AULQVPZGHHBGMYS {
  /*ab*/
  position: relative;
  /*ec*/
  isolation: isolate;
}

.FKBCLWFWHMIIOSB {
  /*aa*/
  position: absolute;
  /*bc*/
  left: -0.5rem;
  /*bv*/
  top: -1rem;
  /*ed*/
  z-index: -10;
  /*oa*/
  height: 8rem;
  /*aqf*/
  stroke: rgb(255 255 255 / 0.2);
}

.AJFVRCAPSGSUCLB {
  /*np*/
  height: 3rem;
  /*tt*/
  width: auto;
  border-radius: 9999px;
}

.XEXEVROAEWJNHPX {
  /*lk*/
  margin-top: 1.5rem;
  /*awh*/
  font-size: 1.25rem;
  line-height: 1.75rem;
  /*awm*/
  font-weight: 600;
  /*awx*/
  line-height: 2rem;
  /*ban*/
  color: rgb(255 255 255 / 1);
}

.TBFFSJFXYCMGESW {
  /*lk*/
  margin-top: 1.5rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awv*/
  line-height: 1.5rem;
  /*axu*/
  color: rgb(209 213 219 / 1);
}

.LLHXMMAFZRONZMP {
  /*awm*/
  font-weight: 600;
  /*ban*/
  color: rgb(255 255 255 / 1);
}

.VRQMJPAJQKIESRK {
  /*awe*/
  font-size: 1rem;
  line-height: 1.5rem;
  /*aww*/
  line-height: 1.75rem;
  /*axz*/
  color: rgb(55 65 81 / 1);
}

@media (min-width: 1024px) {
  .VRQMJPAJQKIESRK {
    /*dcw*/
    max-width: 32rem;
  }
}

.XMYYNICETATDOKN {
  /*awe*/
  font-size: 1rem;
  line-height: 1.5rem;
  /*awm*/
  font-weight: 600;
  /*aww*/
  line-height: 1.75rem;
  /*ayn*/
  color: var(--primary-color);
}

.LTYPQYQFFFVYAON {
  /*lb*/
  margin-top: 0.5rem;
  /*avy*/
  font-size: 1.875rem;
  line-height: 2.25rem;
  /*awj*/
  font-weight: 700;
  /*axd*/
  letter-spacing: -0.025em;
  /*ayb*/
  color: rgb(17 24 39 / 1);
}

@media (min-width: 640px) {
  .LTYPQYQFFFVYAON {
    /*cna*/
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.BMBMVPXJVAIQPSF {
  /*ur*/
  max-width: 36rem;
}

.SBGIIFZZOKOOGAA {
  /*lk*/
  margin-top: 1.5rem;
}

.TXFKFUGGLUCJKWK {
  /*lm*/
  margin-top: 2rem;
}

.KLSFQJVKYAXFOID {
  /*kw*/
  margin-top: 2.5rem;
  /*mb*/
  display: grid;
  /*yp*/
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /*aaa*/
  gap: 2rem;
  /*aft*/
  border-top-width: 1px;
  /*agh*/
  border-color: rgb(17 24 39 / 0.1);
  /*auu*/
  padding-top: 2.5rem;
}

@media (min-width: 640px) {
  .KLSFQJVKYAXFOID {
    /*cfy*/
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.JZKDKSOPQSNEULF {
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awm*/
  font-weight: 600;
  /*awv*/
  line-height: 1.5rem;
  /*axy*/
  color: rgb(75 85 99 / 1);
}

.SLCEWJLEHSMVFGW {
  /*lb*/
  margin-top: 0.5rem;
  /*avy*/
  font-size: 1.875rem;
  line-height: 2.25rem;
  /*awj*/
  font-weight: 700;
  /*aws*/
  line-height: 2.5rem;
  /*axd*/
  letter-spacing: -0.025em;
  /*ayb*/
  color: rgb(17 24 39 / 1);
}

.MNIPDXGDRVUONLU {
  /*kw*/
  margin-top: 2.5rem;
  /*lx*/
  display: flex;
}
