<section
  id="features"
  aria-label="Features for running your books"
  class="features-section"
>
  <img
    alt=""
    loading="lazy"
    width="2245"
    height="1636"
    decoding="async"
    data-nimg="1"
    class="features-section-img"
    src="/static/images/features_images/optimized_Feature_Gradient2.jpeg"
  />
  <div class="features-section-container">
    <div class="features-title-container">
      <h2 class="features-title">Easy, Flexible Reporting for Filevine</h2>
      <p class="features-title-subtext">
        Stop wasting valuable time fighting with fragile, outdated reporting
        tools and start creating operation-boosting dashboards and reports.
      </p>
    </div>
    <div class="tabber-imager-container">
      <div class="tabber-container">
        <div
          class="tabber-sub-container"
          role="tablist"
          aria-orientation="horizontal"
        >
          <div class="tab-container-selected">
            <h3>
              <button
                class="tab-button-selected"
                role="tab"
                type="button"
                aria-selected="true"
                tabindex="0"
                onclick="selectFeature(this, event, 'feature1')"
              >
                <span class="tabButton-span"></span>
                Access Real-Time Data
              </button>
            </h3>
            <p class="section-text">
              Say goodbye to constantly downloading CSV and Excel files and
              start automatically transferring your data into Google Sheets!
            </p>
          </div>
          <div class="tab-container">
            <h3>
              <button
                class="tab-button"
                role="tab"
                type="button"
                aria-selected="false"
                tabindex="-1"
                onclick="selectFeature(this, event, 'feature2')"
              >
                <span class="tabButton-span"></span>
                No Coding Required
              </button>
            </h3>
            <p class="section-text-2">
              Seamlessly build efficient workflows and processes without
              breaking the bank on expensive developers. Leverage your practice
              data to build robust tools, all within Google Sheets.
            </p>
          </div>
          <div class="tab-container">
            <h3>
              <button
                class="tab-button"
                role="tab"
                type="button"
                aria-selected="false"
                tabindex="-1"
                onclick="selectFeature(this, event, 'feature3')"
              >
                <span class="tabButton-span"></span>
                Free, Ready-to-Use Templates
              </button>
            </h3>
            <p class="section-text-2">
              Hit the ground running with our pre-built and fully-customizable
              templates so you can work faster.
            </p>
          </div>
          <div class="tab-container">
            <h3>
              <button
                class="tab-button"
                role="tab"
                type="button"
                aria-selected="false"
                tabindex="-1"
                onclick="selectFeature(this, event, 'feature4')"
              >
                <span class="tabButton-span"></span>
                Easy-to-Use For Everyone
              </button>
            </h3>
            <p class="section-text-2">
              Our one-and-done automation lets busy law professionals
              effortlessly transfer data between Filevine and Google Sheets so
              they can get more done in less time.
            </p>
          </div>
        </div>
      </div>
      <div class="images-container">
        <div
          class="placeholderClass"
          id="feature1"
          role="tabpanel"
          tabindex="0"
        >
          <div class="section-container7">
            <div class="section-container8"></div>
            <p class="sub-section-text">
              Say goodbye to constantly downloading CSV and Excel files and
              start automatically transferring your data into Google Sheets!
            </p>
          </div>
          <div class="section-container9">
            <img
              alt=""
              fetchPriority="high"
              width="2174"
              height="1464"
              decoding="async"
              data-nimg="1"
              class="section-container9-img"
              sizes="(min-width: 1024px) 67.8125rem, (min-width: 640px) 100vw, 45rem"
              src="/static/images/features_images/integrand-feature-1/feature-1.png"
              srcset="
                /static/images/features_images/integrand-feature-1/feature-1-640_x_320.png    640w,
                /static/images/features_images/integrand-feature-1/feature-1-750_x_375.png    750w,
                /static/images/features_images/integrand-feature-1/feature-1-828_x_414.png    828w,
                /static/images/features_images/integrand-feature-1/feature-1-1080_x_540.png  1080w,
                /static/images/features_images/integrand-feature-1/feature-1-1200_x_600.png  1200w,
                /static/images/features_images/integrand-feature-1/feature-1-1920_x_960.png 1920w,
                /static/images/features_images/integrand-feature-1/feature-1-2048_x_1024.png 2048w,
                /static/images/features_images/integrand-feature-1/feature-1-3840_x_1920.png 3840w
              "
            />
          </div>
        </div>
        <div
          id="feature2"
          role="tabpanel"
          tabindex="-1"
          hidden=""
          class="placeholderClass"
          style="display: none"
        >
          <div class="section-container7">
            <div class="section-container8"></div>
            <p class="sub-section-text">
              Seamlessly build efficient workflows and processes without
              breaking the bank on expensive developers. Leverage your practice
              data to build robust tools, all within Google Sheets.
            </p>
          </div>
          <div class="section-container9">
            <img
              alt=""
              fetchPriority="high"
              width="2174"
              height="1464"
              decoding="async"
              data-nimg="1"
              class="section-container9-img"
              sizes="(min-width: 1024px) 67.8125rem, (min-width: 640px) 100vw, 45rem"
              src="/static/images/features_images/integrand-feature-2/feature-2.png"
              srcset="
                /static/images/features_images/integrand-feature-2/feature-2-640_x_320.png    640w,
                /static/images/features_images/integrand-feature-2/feature-2-750_x_375.png    750w,
                /static/images/features_images/integrand-feature-2/feature-2-828_x_414.png    828w,
                /static/images/features_images/integrand-feature-2/feature-2-1080_x_540.png  1080w,
                /static/images/features_images/integrand-feature-2/feature-2-1200_x_600.png  1200w,
                /static/images/features_images/integrand-feature-2/feature-2-1920_x_960.png 1920w,
                /static/images/features_images/integrand-feature-2/feature-2-2048_x_1024.png 2048w,
                /static/images/features_images/integrand-feature-2/feature-2-3840_x_1920.png 3840w
              "
            />
          </div>
        </div>
        <div
          id="feature3"
          role="tabpanel"
          tabindex="-1"
          hidden=""
          class="placeholderClass"
          style="display: none"
        >
          <div class="section-container7">
            <div class="section-container8"></div>
            <p class="sub-section-text">
              Hit the ground running with our pre-built and fully-customizable
              templates so you can work faster.
            </p>
          </div>
          <div class="section-container9">
            <img
              alt=""
              fetchPriority="high"
              width="2174"
              height="1464"
              decoding="async"
              data-nimg="1"
              class="section-container9-img"
              sizes="(min-width: 1024px) 67.8125rem, (min-width: 640px) 100vw, 45rem"
              src="/static/images/features_images/integrand-feature-3/feature-3.png"
              srcset="
                /static/images/features_images/integrand-feature-3/feature-3-640_x_320.png    640w,
                /static/images/features_images/integrand-feature-3/feature-3-750_x_375.png    750w,
                /static/images/features_images/integrand-feature-3/feature-3-828_x_414.png    828w,
                /static/images/features_images/integrand-feature-3/feature-3-1080_x_540.png  1080w,
                /static/images/features_images/integrand-feature-3/feature-3-1200_x_600.png  1200w,
                /static/images/features_images/integrand-feature-3/feature-3-1920_x_960.png 1920w,
                /static/images/features_images/integrand-feature-3/feature-3-2048_x_1024.png 2048w,
                /static/images/features_images/integrand-feature-3/feature-3-3840_x_1920.png 3840w
              "
            />

          </div>
        </div>
        <div
          id="feature4"
          role="tabpanel"
          tabindex="-1"
          class="placeholderClass"
          hidden=""
          style="display: none"
        >
          <div class="section-container7">
            <div class="section-container8"></div>
            <p class="sub-section-text">
              Our one-and-done automation lets busy law professionals
              effortlessly transfer data between Filevine and Google Sheets so
              they can get more done in less time.
            </p>
          </div>
          <div class="section-container9">
            <img
              alt=""
              fetchPriority="high"
              width="2174"
              height="1464"
              decoding="async"
              data-nimg="1"
              class="section-container9-img"
              sizes="(min-width: 1024px) 67.8125rem, (min-width: 640px) 100vw, 45rem"
              src="/static/images/features_images/integrand-feature-4/feature-4.png"
              srcset="
                /static/images/features_images/integrand-feature-4/feature-4-640_x_320.png    640w,
                /static/images/features_images/integrand-feature-4/feature-4-750_x_375.png    750w,
                /static/images/features_images/integrand-feature-4/feature-4-828_x_414.png    828w,
                /static/images/features_images/integrand-feature-4/feature-4-1080_x_540.png  1080w,
                /static/images/features_images/integrand-feature-4/feature-4-1200_x_600.png  1200w,
                /static/images/features_images/integrand-feature-4/feature-4-1920_x_960.png 1920w,
                /static/images/features_images/integrand-feature-4/feature-4-2048_x_1024.png 2048w,
                /static/images/features_images/integrand-feature-4/feature-4-3840_x_1920.png 3840w
              "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
