.allIntegrationsHero-section {
    /* alm */
    
    background-color: rgb(255 255 255 / 1);
    /* ase */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.allIntegrationsHero-wrapper {
    /* gx  */
    margin-left: auto;
    margin-right: auto;
    /* tz  */
    max-width: 72rem;
    /* arh  */
    padding-left: 1rem;
    padding-right: 1rem;
}

.allIntegrationsHero-sub-wrapper {
    /* acc (hidden thing) */
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    /* acg (hidden thing) */
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity));
    /* adg  */
    overflow: hidden;
    /* adt  */
    border-radius: 0.5rem;
    /* aij  */
    
    background-color: rgb(229 231 235 / 1);
    /* bbh  */
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /* bxr (media 640) */
    display: grid;
    /* caq (media 640) */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* cbt  */
    gap: 1px;
    /* ccx (media 640) (hidden thing) */
    /* --tw-divide-y-reverse: 0;
    border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse)); */
}

.integration-box-0 {
    /* aeu  */
    border-top-left-radius: 0.5rem;
    /* aex  */
    border-top-right-radius: 0.5rem;
}

.integration-box-1 {
    /* cdp */
    border-top-right-radius: 0.5rem;
}

.integration-box-2 {
    /* cdn */
    border-bottom-left-radius: 0.5rem;
}

.integration-box-4 {
    /* aeo  */
    border-bottom-left-radius: 0.5rem;
    /* aer  */
    border-bottom-right-radius: 0.5rem;
}

.base-integration-box {
    /* bqe  */
    /* ab  */
    position: relative;
    /* alm  */
    
    background-color: rgb(255 255 255 / 1);
    /* aqu  */
    padding: 1.5rem;
}

.base-integration-box:hover {
    /* bgy  (focus-within) */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    /* bgz  (focus-within)*/
    --tw-ring-inset: inset;
    /* bhc (focus-within) */
    --tw-ring-color: var(--primary-color);
}

.integration-box-svg1-span {
    /* ly  */
    display: inline-flex;
    /* adt  */
    border-radius: 0.5rem;
    /* aqr  */
    padding: 0.75rem;
    /* bbu  */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    /* bdm */
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity));
}

.card-item-header-images-container {
    display: flex;
    flex-direction: row;

    /* aag  */
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

.card-item-image-wrapper {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /* alm  */
    
    background-color: rgb(255 255 255 / 1);

    /* bbs  */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    /* bcn */
    --tw-ring-color: rgb(17 24 39 / 0.1);

    /* adt  */
    border-radius: 0.5rem;
}

.card-item-image {
    /* nj  */
    height: 2.5rem;
    /* rl  */
    width: 2.5rem;
    /* uo  */
    flex: none;
    /* adt  */
    border-radius: 0.5rem;
    /* alm  */
    
    background-color: rgb(255 255 255 / 1);
    /* aqd  */
    -o-object-fit: cover;
    object-fit: cover;
}

.integration-box-svg1-svg {
    /* oc  */
    height: 1.5rem;
    /* se */
    width: 1.5rem;
}


.integration-box-text-container {
    /* lm */
    margin-top: 2rem;
}

.integration-box-title {
    /* avx  */
    font-size: 1rem;
    line-height: 1.5rem;
    /* awf  */
    font-weight: 600;
    /* awo  */
    line-height: 1.5rem;
    /* axu */
    
    color: rgb(17 24 39 / 1);
}

.integration-box-link {
    /* bmy (focus)*/
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.integration-box-link-span {
    /* aa  */
    position: absolute;
    /* ak */
    inset: 0px;
}

.integration-box-svg2-span {
    /* u  */
    pointer-events: none;
    /* aa  */
    position: absolute;
    /* dj  */
    right: 1.5rem;
    /* dw  */
    top: 1.5rem;
    /* axn  */
    
    color: rgb(209 213 219 / 1);
    /* brj (hover?)*/
    /* 
    color: rgb(156 163 175 / 1); */
}

@media (min-width: 640px) {

    .allIntegrationsHero-wrapper {
        /* cez  (@media 640)*/
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .integration-box-0 {
        /* cdq (@media 640)*/
        border-top-right-radius: 0px;
    }

    .integration-box-4 {
        /* cdo (@media 640)*/
        border-bottom-left-radius: 0px;
    }
}


@media (min-width: 1024) {

    .allIntegrationsHero-wrapper {
        /* dde (@media 1024)*/
        padding-left: 2rem;
        padding-right: 2rem;
    }
}