.bizItemSection {
  width: 90%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.FSCHLFTXICAFEVM {
  /*p-6*/
  padding: 1rem;
}

@media (min-width: 1024px) {
  .FSCHLFTXICAFEVM {
    /*lg:grid*/
    display: grid;
  }
}

@media (min-width: 1024px) {
  .FSCHLFTXICAFEVM {
    /*lg:grid-cols-2*/
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .FSCHLFTXICAFEVM {
    /*lg:gap-8*/
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .FSCHLFTXICAFEVM {
    /*lg:p-16*/
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Classes not found for FSCHLFTXICAFEVM*/
/* max-lg:space-y-4 */

.HZKPRZBNSMDQOUX {
  /*card*/
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box, 1rem);
  /*image-full*/
  display: grid;
  /*card-body*/
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
  /*bordered*/
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2, var(--b1)) / var(--tw-border-opacity));
  /*card-body*/
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*h-min*/
  height: -moz-min-content;
  height: min-content;
  /*bg-base-100*/
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
  /*duration-200*/
  transition-duration: 0.2s;
  /*col-span-1*/
  grid-column: span 1 / span 1;
}

.HZKPRZBNSMDQOUX:focus {
  /*card*/
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.HZKPRZBNSMDQOUX:before {
  /*card*/
  position: relative;
  content: "";
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  opacity: 0.75;
  border-radius: var(--rounded-box, 1rem);

  /*card*/
  grid-column-start: 1;
  grid-row-start: 1;
}

.HZKPRZBNSMDQOUX:focus-visible {
  /*card*/
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.ZYNYZXKCZHGVHKK {
  /*rounded-box*/
  border-radius: var(--rounded-box, 1rem);
  /*cursor-pointer*/
  cursor: pointer;
  /*p-4*/
  padding: 1rem;
  /*duration-200*/
  transition-duration: 0.2s;
}

.ZYNYZXKCZHGVHKK:hover {
  /*hover:scale-[1.02]*/
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

  /*hover:bg-base-300*/
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b3, var(--b2)) / var(--tw-bg-opacity));
}

@media (min-width: 1024px) {
  .ZYNYZXKCZHGVHKK {
    /*lg:p-6*/
    padding: 1.5rem;
  }
}

/* Classes not found for ZYNYZXKCZHGVHKK*/
/* space-y-0.5 group lg:space-y-1 */

.TGGVTXOGOXELXME {
  /*flex*/
  display: flex;
  /*flex-wrap*/
  flex-wrap: wrap;
  /*items-center*/
  align-items: center;
  /*gap-y-1*/
  row-gap: 0.25rem;
  /*gap-x-2*/
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

@media (min-width: 1024px) {
  .TGGVTXOGOXELXME {
    /*lg:gap-x-3*/
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
  }
}

.LLRGTKANZAOVHXB {
  /*h-5*/
  height: 1.25rem;
  /*w-5*/
  width: 1.25rem;
  /*object-cover*/
  -o-object-fit: cover;
  object-fit: cover;
  /*drop-shadow-sm*/
  --tw-drop-shadow: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  /*duration-200*/
  transition-duration: 0.2s;
  /*delay-100*/
  transition-delay: 0.1s;
  /*h-4*/
  height: 1rem;
  /*w-4*/
  width: 1rem;
}

@media (min-width: 1024px) {
  .LLRGTKANZAOVHXB {
    /*lg:h-6*/
    height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .LLRGTKANZAOVHXB {
    /*lg:w-6*/
    width: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .LLRGTKANZAOVHXB {
    /*lg:h-5*/
    height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .LLRGTKANZAOVHXB {
    /*lg:w-5*/
    width: 1.25rem;
  }
}

/* Classes not found for LLRGTKANZAOVHXB*/
/* group-hover:-rotate-12 */

.WULXDMMSERTKUMU {
  /*mr-auto*/
  margin-right: auto;
  /*font-semibold*/
  font-weight: 600;
}

@media (min-width: 1024px) {
  .WULXDMMSERTKUMU {
    /*lg:text-base*/
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.AALNHNRCQPMBWNU {
  /*flex*/
  display: flex;
  /*gap-2*/
  gap: 0.5rem;
}

.LADLRIZOJKUMFDQ {
  /*badge-ghost*/
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2, var(--b1)) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  /*badge*/
  height: 1.25rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
  border-width: 1px;
  border-color: hsl(var(--n) / var(--tw-border-opacity));
  border-radius: var(--rounded-badge, 1.9rem);
  /*btn*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
  /*badge-sm*/
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-left: 0.438rem;
  padding-right: 0.438rem;
  /*relative*/
  position: relative;
  /*whitespace-nowrap*/
  white-space: nowrap;
  /*duration-200*/
  transition-duration: 0.2s;
  /*relative*/
  position: relative;
}

.AFWWMPMGIROTCKK {
  /*absolute*/
  position: absolute;
  /*5*/
  left: -0.625rem;
  /*h-4*/
  height: 1rem;
  /*w-4*/
  width: 1rem;
  /*rounded-l-rounded-badge*/
  border-top-left-radius: var(--rounded-badge);
  border-bottom-left-radius: var(--rounded-badge);
}

.SEBZRNMVQTDGXVC {
  /*opacity-0*/
  opacity: 0;
}

.JABDADWOCRARCWC {
  /*text-xs*/
  font-size: 0.75rem;
  line-height: 1rem;
}

@media (min-width: 1024px) {
  .JABDADWOCRARCWC {
    /*lg:text-sm*/
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.RCVSQUCRPJZNRCV {
  /*w-full*/
  width: 100%;
  /*h-24*/
  height: 6rem;
}

@media (min-width: 1024px) {
  .RCVSQUCRPJZNRCV {
    /*lg:p-2*/
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .RCVSQUCRPJZNRCV {
    /*lg:h-28*/
    height: 7rem;
  }
}

.MGLTUJJZBTCJAIR {
  /* height: 96;
  width:282; */
  width: 100%; 
  height: 100%; 
  min-width: 0; 
}

/* Classes not found for MGLTUJJZBTCJAIR*/
/* recharts-responsive-container */

.IFPUTSUPMDARCAQ {
  position: relative;
  cursor: default;
  /* width: 282px; */
  width: 100%;
  height: 96px;
}

/* Classes not found for IFPUTSUPMDARCAQ*/
/* recharts-wrapper */

.ZXBELGLBIADMXSE {
  height: 96px;
  /* width: 282; */
  width: 100%;
}

/* Classes not found for ZXBELGLBIADMXSE*/
/* recharts-surface */

.DCYPIXGMYOKQOWG {
}

/* Classes not found for DCYPIXGMYOKQOWG*/
/* recharts-cartesian-grid */

.KJUJVIZWCJBJJEE {
}

/* Classes not found for KJUJVIZWCJBJJEE*/
/* recharts-cartesian-grid-horizontal */

.ZMZQRLISQWJWZOC {
}

/* Classes not found for ZMZQRLISQWJWZOC*/
/* recharts-cartesian-grid-vertical */

.BZNPODGYZSGPQYC {
}

/* Classes not found for BZNPODGYZSGPQYC*/
/* yAxis recharts-cartesian-axis recharts-layer recharts-yAxis */

.EDGDAWKGACSZCID {
}

/* Classes not found for EDGDAWKGACSZCID*/
/* recharts-cartesian-axis-ticks */

.HLHRGJECEMTBEQE {
}

/* Classes not found for HLHRGJECEMTBEQE*/
/* recharts-layer recharts-cartesian-axis-tick */

.JCVLKEFSTKHSUGS {
}

/* Classes not found for JCVLKEFSTKHSUGS*/
/* recharts-cartesian-axis-tick-line */

.ULTIFPTCPHWVAAM {
}

@media (min-width: 1024px) {
  .ULTIFPTCPHWVAAM {
    /*lg:text-[0.65rem]*/
    font-size: 0.65rem;
  }
}

.ZOMHBPGFIZGCMQX {
}

/* Classes not found for ZOMHBPGFIZGCMQX*/
/* recharts-cartesian-axis recharts-xAxis recharts-layer xAxis */

.WMKZCEHBPTGZDLF {
}

/* Classes not found for WMKZCEHBPTGZDLF*/
/* recharts-area recharts-layer */

.RDTTWXYDNLSAJCA {
}

/* Classes not found for RDTTWXYDNLSAJCA*/
/* recharts-layer */

.QYITMJIKDTEAEEP {
}

/* Classes not found for QYITMJIKDTEAEEP*/
/* recharts-curve recharts-area-area */

.IJDJSYJASFWPEEX {
}

/* Classes not found for IJDJSYJASFWPEEX*/
/* recharts-area-curve recharts-curve */

.ODLDNVWZSRCQKME {
}

/* Classes not found for ODLDNVWZSRCQKME*/
/* recharts-tooltip-wrapper */

.RMDVDCDTMKGKJYR {
  /*h-5*/
  height: 1.25rem;
  /*w-5*/
  width: 1.25rem;
  /*object-cover*/
  -o-object-fit: cover;
  object-fit: cover;
  /*drop-shadow-sm*/
  --tw-drop-shadow: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  /*duration-200*/
  transition-duration: 0.2s;
  /*delay-100*/
  transition-delay: 0.1s;
  /*h-4*/
  height: 1rem;
  /*w-4*/
  width: 1rem;
}

@media (min-width: 1024px) {
  .RMDVDCDTMKGKJYR {
    /*lg:h-6*/
    height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .RMDVDCDTMKGKJYR {
    /*lg:w-6*/
    width: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .RMDVDCDTMKGKJYR {
    /*lg:h-5*/
    height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .RMDVDCDTMKGKJYR {
    /*lg:w-5*/
    width: 1.25rem;
  }
}

/* Classes not found for RMDVDCDTMKGKJYR*/
/* group-hover:scale-[1.15] */
