<section class="bizItemSection">
<ul class="FSCHLFTXICAFEVM">
  {{ range $index, $bizItem := cast_to_bizitems .TemplateData }}
  <li class="HZKPRZBNSMDQOUX">
    <a
      class="ZYNYZXKCZHGVHKK"
      href="{{$bizItem.Link}}"
      target="_blank"
      >
      <div class="TGGVTXOGOXELXME">
        <img
          alt="ShipFast Logo"
          class="LLRGTKANZAOVHXB"
          data-nimg="1"
          decoding="async"
          height="20"
          loading="lazy"
          src="{{ $bizItem.LogoPath }}"
          srcset=""
          style="color: transparent"
          width="20"
        />
        <p class="WULXDMMSERTKUMU">{{ $bizItem.Title }}</p>
        <div class="AALNHNRCQPMBWNU">
          <span
            class="LADLRIZOJKUMFDQ"
            currentitem="false"
            data-tip="Last 30 days of revenue. Data is verified by Stripe and doesn't include payments that ShipFast may have collected via other means. Updated daily."
            ><svg
              class="AFWWMPMGIROTCKK"
              viewbox="0 0 29 29"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_118_3)">
                <path
                  d="M28.8698 0H-0.000286818L-0.000201464 6.48V22.39C-0.000201464 25.9688 0.000243902 28.87 0.000243902 28.87H28.8698V22.39V6.48V0Z"
                  fill="#6772E5"
                ></path>
                <path
                  clip-rule="evenodd"
                  d="M13.2999 11.2001C13.2999 10.5101 13.8699 10.2001 14.7899 10.2001C16.3144 10.2331 17.8104 10.6199 19.1599 11.3301V7.24013C17.7715 6.69567 16.2911 6.42405 14.7999 6.44013C11.2399 6.44013 8.85986 8.30013 8.85986 11.4401C8.85986 16.3001 15.5399 15.5101 15.5399 17.6101C15.5399 18.4201 14.8299 18.6801 13.8599 18.6801C12.151 18.5859 10.4874 18.0964 8.99986 17.2501V21.4401C10.5156 22.0951 12.1486 22.4353 13.7999 22.4401C17.4499 22.4401 19.9699 20.6401 19.9699 17.4401C19.9999 12.2301 13.2999 13.1701 13.2999 11.2001Z"
                  fill="white"
                  fill-rule="evenodd"
                ></path>
              </g>
              <defs>
                <clippath id="clip0_118_3">
                  <rect fill="white" height="28.87" width="28.87"></rect>
                </clippath>
              </defs>
            </svg>
            <span class="SEBZRNMVQTDGXVC">.</span
            ><span>$<!-- -->{{$bizItem.MonthlyRevenue}}<!-- -->/mo</span></span
          >
        </div>
      </div>
      <p class="JABDADWOCRARCWC">{{ $bizItem.Description }}</p>
    </a>
    <div class="RCVSQUCRPJZNRCV">
      <div
        class="MGLTUJJZBTCJAIR"
      >
        <div
          class="IFPUTSUPMDARCAQ"
          role="region"
        >
          <svg
            class="ZXBELGLBIADMXSE"
            viewbox="0 0 282 96"
          >
            <title></title>
            <desc></desc>
            <defs>
              <clippath id="recharts1-clip">
                <rect height="70" width="230" x="36" y="0"></rect>
              </clippath>
            </defs>
            <defs>
              <lineargradient id="colorUv" x1="0" x2="0" y1="0" y2="1">
                <stop
                  offset="5%"
                  stop-color="#e0a82e"
                  stop-opacity="0.4"
                ></stop>
                <stop
                  offset="100%"
                  stop-color="#e0a82e"
                  stop-opacity="0"
                ></stop>
              </lineargradient>
            </defs>
            <g class="DCYPIXGMYOKQOWG">
              <g class="KJUJVIZWCJBJJEE">
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="36"
                  x2="266"
                  y="0"
                  y1="52.5"
                  y2="52.5"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="36"
                  x2="266"
                  y="0"
                  y1="0"
                  y2="0"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="36"
                  x2="266"
                  y="0"
                  y1="70"
                  y2="70"
                ></line>
              </g>
              <g class="ZMZQRLISQWJWZOC">
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="56.90909090909091"
                  x2="56.90909090909091"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="98.72727272727273"
                  x2="98.72727272727273"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="140.54545454545456"
                  x2="140.54545454545456"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="182.36363636363637"
                  x2="182.36363636363637"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="224.1818181818182"
                  x2="224.1818181818182"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="266"
                  x2="266"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="36"
                  x2="36"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
              </g>
            </g>
            <g class="BZNPODGYZSGPQYC">
              <g class="EDGDAWKGACSZCID">
                <g class="HLHRGJECEMTBEQE">
                  <line
                    class="JCVLKEFSTKHSUGS"
                    fill="none"
                    height="70"
                    orientation="left"
                    stroke="#666"
                    width="20"
                    x="16"
                    x1="36"
                    x2="36"
                    y="0"
                    y1="52.5"
                    y2="52.5"
                  ></line>
                  <g transform="translate(34,55.5)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      orientation="left"
                      text-anchor="end"
                      x="0"
                      y="0"
                    >
                      $0k
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <line
                    class="JCVLKEFSTKHSUGS"
                    fill="none"
                    height="70"
                    orientation="left"
                    stroke="#666"
                    width="20"
                    x="16"
                    x1="36"
                    x2="36"
                    y="0"
                    y1="0"
                    y2="0"
                  ></line>
                  <g transform="translate(34,15)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      orientation="left"
                      text-anchor="end"
                      x="0"
                      y="0"
                    >
                      $1k
                    </text>
                  </g>
                </g>
              </g>
            </g>
            <g class="ZOMHBPGFIZGCMQX">
              <g class="EDGDAWKGACSZCID">
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(56.90909090909091,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Nov
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(98.72727272727273,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Jan
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(140.54545454545456,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Mar
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(182.36363636363637,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      May
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(224.1818181818182,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Jul
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(266,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Sep
                    </text>
                  </g>
                </g>
              </g>
            </g>
            <g class="WMKZCEHBPTGZDLF">
              <g class="RDTTWXYDNLSAJCA">
                <path
                  class="QYITMJIKDTEAEEP"
                  d="M36,70C42.97,70,49.939,70,56.909,70C63.879,70,70.848,70,77.818,70C84.788,70,91.758,50.14,98.727,50.14C105.697,50.14,112.667,52.096,119.636,52.096C126.606,52.096,133.576,40.543,140.545,32.985C147.515,25.427,154.485,6.749,161.455,6.749C168.424,6.749,175.394,6.94,182.364,7.323C189.333,7.706,196.303,25.325,203.273,30.615C210.242,35.904,217.212,38.767,224.182,39.062C231.152,39.357,238.121,39.209,245.091,39.504C252.061,39.799,259.03,44.646,266,49.494L266,70C259.03,70,252.061,70,245.091,70C238.121,70,231.152,70,224.182,70C217.212,70,210.242,70,203.273,70C196.303,70,189.333,70,182.364,70C175.394,70,168.424,70,161.455,70C154.485,70,147.515,70,140.545,70C133.576,70,126.606,70,119.636,70C112.667,70,105.697,70,98.727,70C91.758,70,84.788,70,77.818,70C70.848,70,63.879,70,56.909,70C49.939,70,42.97,70,36,70Z"
                  fill="url(#colorUv)"
                  fill-opacity="1"
                  height="70"
                  stroke="none"
                  stroke-opacity="0.7"
                  stroke-width="1"
                  width="230"
                ></path>
                <path
                  class="IJDJSYJASFWPEEX"
                  d="M36,70C42.97,70,49.939,70,56.909,70C63.879,70,70.848,70,77.818,70C84.788,70,91.758,50.14,98.727,50.14C105.697,50.14,112.667,52.096,119.636,52.096C126.606,52.096,133.576,40.543,140.545,32.985C147.515,25.427,154.485,6.749,161.455,6.749C168.424,6.749,175.394,6.94,182.364,7.323C189.333,7.706,196.303,25.325,203.273,30.615C210.242,35.904,217.212,38.767,224.182,39.062C231.152,39.357,238.121,39.209,245.091,39.504C252.061,39.799,259.03,44.646,266,49.494"
                  fill="none"
                  fill-opacity="1"
                  height="70"
                  stroke="#e0a82e"
                  stroke-opacity="0.7"
                  stroke-width="1"
                  width="230"
                ></path>
              </g>
            </g>
          </svg>
          <div
            class="ODLDNVWZSRCQKME"
            role="dialog"
            style="
              pointer-events: none;
              visibility: hidden;
              position: absolute;
              top: 0px;
              left: 0px;
              outline: none;
              transform: translate(192.182px, 0px);
            "
            tabindex="-1"
          ></div>
        </div>
      </div>
    </div>
  </li>
  {{ end }}
  <li class="HZKPRZBNSMDQOUX">
    <a
      class="ZYNYZXKCZHGVHKK"
      href="https://zenvoice.io?ref=indiepage"
      target="_blank"
      ><div class="TGGVTXOGOXELXME">
        <img
          alt="Zenvoice Logo"
          class="RMDVDCDTMKGKJYR"
          data-nimg="1"
          decoding="async"
          height="20"
          loading="lazy"
          src="https://d3m8mk7e1mf7xn.cloudfront.net/64224402d24ae443b84e744a/1707980281779icon.png"
          srcset="
            https://d3m8mk7e1mf7xn.cloudfront.net/64224402d24ae443b84e744a/1707980281779icon.png 1x,
            https://d3m8mk7e1mf7xn.cloudfront.net/64224402d24ae443b84e744a/1707980281779icon.png 2x
          "
          style="color: transparent"
          width="20"
        />
        <p class="WULXDMMSERTKUMU">Zenvoice</p>
        <div class="AALNHNRCQPMBWNU">
          <span
            class="LADLRIZOJKUMFDQ"
            currentitem="false"
            data-tip="Last 30 days of revenue. Data is verified by Stripe and doesn't include payments that Zenvoice may have collected via other means. Updated daily."
            ><svg
              class="AFWWMPMGIROTCKK"
              viewbox="0 0 29 29"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_118_3)">
                <path
                  d="M28.8698 0H-0.000286818L-0.000201464 6.48V22.39C-0.000201464 25.9688 0.000243902 28.87 0.000243902 28.87H28.8698V22.39V6.48V0Z"
                  fill="#6772E5"
                ></path>
                <path
                  clip-rule="evenodd"
                  d="M13.2999 11.2001C13.2999 10.5101 13.8699 10.2001 14.7899 10.2001C16.3144 10.2331 17.8104 10.6199 19.1599 11.3301V7.24013C17.7715 6.69567 16.2911 6.42405 14.7999 6.44013C11.2399 6.44013 8.85986 8.30013 8.85986 11.4401C8.85986 16.3001 15.5399 15.5101 15.5399 17.6101C15.5399 18.4201 14.8299 18.6801 13.8599 18.6801C12.151 18.5859 10.4874 18.0964 8.99986 17.2501V21.4401C10.5156 22.0951 12.1486 22.4353 13.7999 22.4401C17.4499 22.4401 19.9699 20.6401 19.9699 17.4401C19.9999 12.2301 13.2999 13.1701 13.2999 11.2001Z"
                  fill="white"
                  fill-rule="evenodd"
                ></path>
              </g>
              <defs>
                <clippath id="clip0_118_3">
                  <rect fill="white" height="28.87" width="28.87"></rect>
                </clippath>
              </defs>
            </svg>
            <span class="SEBZRNMVQTDGXVC">.</span
            ><span>$<!-- -->1.1k<!-- -->/mo</span></span
          >
        </div>
      </div>
      <p class="JABDADWOCRARCWC">Focus on your startup, not the invoices</p></a
    >
    <div class="RCVSQUCRPJZNRCV">
      <div
        class="MGLTUJJZBTCJAIR"
        height="96"
        style="width: 100%; height: 100%; min-width: 0"
        width="282"
      >
        <div
          class="IFPUTSUPMDARCAQ"
          role="region"
          style="
            position: relative;
            cursor: default;
            width: 282px;
            height: 96px;
          "
        >
          <svg
            class="ZXBELGLBIADMXSE"
            height="96"
            viewbox="0 0 282 96"
            width="282"
          >
            <title></title>
            <desc></desc>
            <defs>
              <clippath id="recharts4-clip">
                <rect height="70" width="230" x="36" y="0"></rect>
              </clippath>
            </defs>
            <defs>
              <lineargradient id="colorUv" x1="0" x2="0" y1="0" y2="1">
                <stop
                  offset="5%"
                  stop-color="#e0a82e"
                  stop-opacity="0.4"
                ></stop>
                <stop
                  offset="100%"
                  stop-color="#e0a82e"
                  stop-opacity="0"
                ></stop>
              </lineargradient>
            </defs>
            <g class="DCYPIXGMYOKQOWG">
              <g class="KJUJVIZWCJBJJEE">
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="36"
                  x2="266"
                  y="0"
                  y1="52.5"
                  y2="52.5"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="36"
                  x2="266"
                  y="0"
                  y1="0"
                  y2="0"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="36"
                  x2="266"
                  y="0"
                  y1="70"
                  y2="70"
                ></line>
              </g>
              <g class="ZMZQRLISQWJWZOC">
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="56.90909090909091"
                  x2="56.90909090909091"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="98.72727272727273"
                  x2="98.72727272727273"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="140.54545454545456"
                  x2="140.54545454545456"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="182.36363636363637"
                  x2="182.36363636363637"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="224.1818181818182"
                  x2="224.1818181818182"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="266"
                  x2="266"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
                <line
                  fill="none"
                  height="70"
                  offset="[object Object]"
                  opacity="0.1"
                  stroke="#333"
                  stroke-dasharray="3 3"
                  stroke-width="0.5"
                  width="230"
                  x="36"
                  x1="36"
                  x2="36"
                  y="0"
                  y1="0"
                  y2="70"
                ></line>
              </g>
            </g>
            <g class="BZNPODGYZSGPQYC">
              <g class="EDGDAWKGACSZCID">
                <g class="HLHRGJECEMTBEQE">
                  <line
                    class="JCVLKEFSTKHSUGS"
                    fill="none"
                    height="70"
                    orientation="left"
                    stroke="#666"
                    width="20"
                    x="16"
                    x1="36"
                    x2="36"
                    y="0"
                    y1="52.5"
                    y2="52.5"
                  ></line>
                  <g transform="translate(34,55.5)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      orientation="left"
                      text-anchor="end"
                      x="0"
                      y="0"
                    >
                      $550
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <line
                    class="JCVLKEFSTKHSUGS"
                    fill="none"
                    height="70"
                    orientation="left"
                    stroke="#666"
                    width="20"
                    x="16"
                    x1="36"
                    x2="36"
                    y="0"
                    y1="0"
                    y2="0"
                  ></line>
                  <g transform="translate(34,15)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      orientation="left"
                      text-anchor="end"
                      x="0"
                      y="0"
                    >
                      $2.2k
                    </text>
                  </g>
                </g>
              </g>
            </g>
            <g class="ZOMHBPGFIZGCMQX">
              <g class="EDGDAWKGACSZCID">
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(56.90909090909091,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Nov
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(98.72727272727273,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Jan
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(140.54545454545456,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Mar
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(182.36363636363637,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      May
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(224.1818181818182,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Jul
                    </text>
                  </g>
                </g>
                <g class="HLHRGJECEMTBEQE">
                  <g transform="translate(266,71)">
                    <text
                      class="ULTIFPTCPHWVAAM"
                      dy="16"
                      text-anchor="middle"
                      x="0"
                      y="0"
                    >
                      Sep
                    </text>
                  </g>
                </g>
              </g>
            </g>
            <g class="WMKZCEHBPTGZDLF">
              <g class="RDTTWXYDNLSAJCA">
                <path
                  class="QYITMJIKDTEAEEP"
                  d="M36,70C42.97,70,49.939,70,56.909,70C63.879,70,70.848,70,77.818,70C84.788,70,91.758,70,98.727,70C105.697,70,112.667,4.486,119.636,4.486C126.606,4.486,133.576,37.418,140.545,37.418C147.515,37.418,154.485,16.1,161.455,16.1C168.424,16.1,175.394,23.111,182.364,27.077C189.333,31.044,196.303,39.9,203.273,39.9C210.242,39.9,217.212,36.145,224.182,36.145C231.152,36.145,238.121,36.145,245.091,36.145C252.061,36.145,259.03,41.491,266,46.836L266,70C259.03,70,252.061,70,245.091,70C238.121,70,231.152,70,224.182,70C217.212,70,210.242,70,203.273,70C196.303,70,189.333,70,182.364,70C175.394,70,168.424,70,161.455,70C154.485,70,147.515,70,140.545,70C133.576,70,126.606,70,119.636,70C112.667,70,105.697,70,98.727,70C91.758,70,84.788,70,77.818,70C70.848,70,63.879,70,56.909,70C49.939,70,42.97,70,36,70Z"
                  fill="url(#colorUv)"
                  fill-opacity="1"
                  height="70"
                  stroke="none"
                  stroke-opacity="0.7"
                  stroke-width="1"
                  width="230"
                ></path>
                <path
                  class="IJDJSYJASFWPEEX"
                  d="M36,70C42.97,70,49.939,70,56.909,70C63.879,70,70.848,70,77.818,70C84.788,70,91.758,70,98.727,70C105.697,70,112.667,4.486,119.636,4.486C126.606,4.486,133.576,37.418,140.545,37.418C147.515,37.418,154.485,16.1,161.455,16.1C168.424,16.1,175.394,23.111,182.364,27.077C189.333,31.044,196.303,39.9,203.273,39.9C210.242,39.9,217.212,36.145,224.182,36.145C231.152,36.145,238.121,36.145,245.091,36.145C252.061,36.145,259.03,41.491,266,46.836"
                  fill="none"
                  fill-opacity="1"
                  height="70"
                  stroke="#e0a82e"
                  stroke-opacity="0.7"
                  stroke-width="1"
                  width="230"
                ></path>
              </g>
            </g>
          </svg>
          <div
            class="ODLDNVWZSRCQKME"
            role="dialog"
            style="
              pointer-events: none;
              visibility: hidden;
              position: absolute;
              top: 0px;
              left: 0px;
              outline: none;
            "
            tabindex="-1"
          ></div>
        </div>
      </div>
    </div>
  </li>
</ul>
</section>
