<div class="URQVMJXBKZUJKGC">
  <div class="JITOBXDODPWARQG">
    <div class="KRJMEMSICXXTEER">
      <h2 class="KMQBVBYBWRQUHYN">
        Trusted by the world’s most innovative teams
      </h2>
      <div class="BLEKFQYFGYETIGU">
        <img
          alt="Transistor"
          class="RAVFWNICOVTHNUB"
          height="48"
          src="https://tailwindui.com/img/logos/transistor-logo-gray-900.svg"
          width="158"
        /><img
          alt="Reform"
          class="RAVFWNICOVTHNUB"
          height="48"
          src="https://tailwindui.com/img/logos/reform-logo-gray-900.svg"
          width="158"
        /><img
          alt="Tuple"
          class="RAVFWNICOVTHNUB"
          height="48"
          src="https://tailwindui.com/img/logos/tuple-logo-gray-900.svg"
          width="158"
        /><img
          alt="SavvyCal"
          class="RAVFWNICOVTHNUB"
          height="48"
          src="https://tailwindui.com/img/logos/savvycal-logo-gray-900.svg"
          width="158"
        /><img
          alt="Statamic"
          class="RAVFWNICOVTHNUB"
          height="48"
          src="https://tailwindui.com/img/logos/statamic-logo-gray-900.svg"
          width="158"
        />
      </div>
    </div>
  </div>
</div>
