.footer {
  /* bg-slate-50 */
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.footer-main {
  /* mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 */
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-logo-and-link {
  padding-top: 2rem;
  padding-bottom: 1rem;

  /* py-16 */
}
.footer-logo {
  height: 2.5rem;
  width: auto;
}
.nav {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
/* mt-10 text-sm */

.nav-links-container {
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;

  /* -my-1 flex justify-center gap-x-6 */
}

.nav-link {
  display: inline-block;
  border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));

  /* inline-block rounded-lg px-2 py-1 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900 */
}
.nav-link:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-width: 1px;
  border-color: rgba(148, 163, 184, 0.1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* flex flex-col items-center border-t border-slate-400/10 py-10 sm:flex-row-reverse sm:justify-between */
}
.footer-icon-container {
  display: flex;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  /* flex gap-x-6 */
}

.footer-logo-link-container {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.footer-logo-text {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.footer-icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: #64748b;

  /* h-6 w-6 fill-slate-500 group-hover:fill-slate-700 */
}

.footer-icon:hover {
  fill: #334155;
}

.copyright-txt {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  text-align: center;
}

.burak-link {
  text-decoration: underline;
  color: black;
  font-weight: 500;
}

@media (min-width: 640px) {
  .fooer-main {
    /* sm:px-6 lg:px-8 */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .footer-bottom {
    /* sm:flex-row-reverse sm:justify-between */
    /* flex-direction: row-reverse; */
    justify-content: space-between;
  }
  .copyright-txt {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .footer-main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
