.IUWIWXMBOIIHDKQ {
    /*gx*/
    margin-left: auto;
    margin-right: auto;
    /*uc*/
    max-width: 42rem;
    /*asw*/
    padding-bottom: 6rem;
    /*avm*/
    padding-top: 2rem;
  }
  
  @media (min-width: 640px) {
    .IUWIWXMBOIIHDKQ {
      /*ckf*/
  
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 640px) {
    .IUWIWXMBOIIHDKQ {
      /*cmi*/
  
      padding-top: 4rem;
    }
  }
  @media (min-width: 1024px) {
    .IUWIWXMBOIIHDKQ {
      /*dcv*/
  
      max-width: 80rem;
    }
  }
  @media (min-width: 1024px) {
    .IUWIWXMBOIIHDKQ {
      /*dit*/
  
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  
  .GSTOQQGUVFLCLNG {
    /*aro*/
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  @media (min-width: 640px) {
    .GSTOQQGUVFLCLNG {
      /*cct*/
  
      display: flex;
    }
  }
  @media (min-width: 640px) {
    .GSTOQQGUVFLCLNG {
      /*cgm*/
  
      align-items: baseline;
    }
  }
  @media (min-width: 640px) {
    .GSTOQQGUVFLCLNG {
      /*cgr*/
  
      justify-content: space-between;
    }
  }
  
  @media (min-width: 640px) {
    .GSTOQQGUVFLCLNG {
      /*cjv*/
  
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  
  .VGCVVAYLYCVYPIC {
    /*lx*/
    display: flex;
  }
  
  @media (min-width: 640px) {
    .VGCVVAYLYCVYPIC {
      /*cgm*/
  
      align-items: baseline;
    }
  }
  
  .OFJCYDSFXZTIDHT {
    /*avx*/
    font-size: 1.5rem;
    line-height: 2rem;
    /*awj*/
    font-weight: 700;
    /*axd*/
    letter-spacing: -0.025em;
    /*ayb*/
    
    color: rgb(17 24 39 / 1);
  }
  
  @media (min-width: 640px) {
    .OFJCYDSFXZTIDHT {
      /*cmz*/
  
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }
  
  .OPLJDMERZEPKZZN {
    /*md*/
    display: none;
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
    /*awk*/
    font-weight: 500;
    /*ayn*/
    
    color: var(--primary-color);
  }
  
  .OPLJDMERZEPKZZN:hover {
    /*.bli*/
    
    color: rgb(99 102 241 / 1);
  }
  
  @media (min-width: 640px) {
    .OPLJDMERZEPKZZN {
      /*ccq*/
  
      display: block;
    }
  }
  
  .LKEFFHZQYELOBMD {
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
    /*axy*/
    
    color: rgb(75 85 99 / 1);
  }
  
  .IUQLLPHVXCNYFBN {
    /*awk*/
    font-weight: 500;
    /*ayb*/
    
    color: rgb(17 24 39 / 1);
  }
  
  .RZYIOBPTIIPNNRW {
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
    /*awk*/
    font-weight: 500;
    /*ayn*/
    
    color: var(--primary-color);
  }
  
  .RZYIOBPTIIPNNRW:hover {
    /*.bli*/
    
    color: rgb(99 102 241 / 1);
  }
  
  @media (min-width: 640px) {
    .RZYIOBPTIIPNNRW {
      /*ccy*/
      display: none;
    }
  }
  
  .DVAFBEQVOTXNWTE {
    /*lk*/
    margin-top: 1.5rem;
  }
  
  .ZLHHHBVITYTUBUT {
    /*t*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .LOXIFUQFTRPKGVA {
  }
  
  .WFRUHJADVQKPAMM {
    /*afm*/
    border-bottom-width: 1px;
    /*aft*/
    border-top-width: 1px;
    /*agb*/
    
    border-color: rgb(229 231 235 / 1);
    /*alt*/
    
    background-color: rgb(255 255 255 / 1);
    /*bbt*/
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  @media (min-width: 640px) {
    .WFRUHJADVQKPAMM {
      /*cim*/
  
      border-radius: 0.5rem;
    }
  }
  @media (min-width: 640px) {
    .WFRUHJADVQKPAMM {
      /*cix*/
  
      border-width: 1px;
    }
  }
  
  .JXSVHYYTXZQMOQV {
    /*aro*/
    padding-left: 1rem;
    padding-right: 1rem;
    /*ask*/
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  @media (min-width: 640px) {
    .JXSVHYYTXZQMOQV {
      /*ckf*/
  
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .JXSVHYYTXZQMOQV {
      /*dam*/
  
      display: grid;
    }
  }
  @media (min-width: 1024px) {
    .JXSVHYYTXZQMOQV {
      /*dec*/
  
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
  @media (min-width: 1024px) {
    .JXSVHYYTXZQMOQV {
      /*dfl*/
  
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  }
  @media (min-width: 1024px) {
    .JXSVHYYTXZQMOQV {
      /*dil*/
  
      padding: 2rem;
    }
  }
  
  .KOIPEKIGVKLWCST {
  }
  
  @media (min-width: 640px) {
    .KOIPEKIGVKLWCST {
      /*cct*/
      display: flex;
    }
  }
  @media (min-width: 1024px) {
    .KOIPEKIGVKLWCST {
      /*cxn*/
      grid-column: span 7 / span 7;
    }
  }
  
  .UHAYIWVSTSSDYPT {
    /*b*/
    --tw-aspect-h: 1;
    /*i*/
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 1;
    /*tu*/
    width: 100%;
    /*uw*/
    flex-shrink: 0;
    /*adn*/
    overflow: hidden;
    /*aea*/
    border-radius: 0.5rem;
  }
  
  @media (min-width: 640px) {
    .UHAYIWVSTSSDYPT {
      /*bfu*/
  
      position: static;
      padding-bottom: 0;
    }
  }
  @media (min-width: 640px) {
    .UHAYIWVSTSSDYPT {
      /*cdg*/
  
      height: 10rem;
    }
  }
  @media (min-width: 640px) {
    .UHAYIWVSTSSDYPT {
      /*ced*/
  
      width: 10rem;
    }
  }
  
  .QTMSJIQBJFUJENW {
    /*pn*/
    height: 100%;
    /*tu*/
    width: 100%;
    /*aqk*/
    -o-object-fit: cover;
    object-fit: cover;
    /*aql*/
    -o-object-position: center;
    object-position: center;
  }
  
  @media (min-width: 640px) {
    .QTMSJIQBJFUJENW {
      /*cdq*/
  
      height: 100%;
    }
  }
  @media (min-width: 640px) {
    .QTMSJIQBJFUJENW {
      /*cem*/
  
      width: 100%;
    }
  }
  
  .LLBFCDSYAANQWSO {
    /*lk*/
    margin-top: 1.5rem;
  }
  
  @media (min-width: 640px) {
    .LLBFCDSYAANQWSO {
      /*cbn*/
  
      margin-left: 1.5rem;
    }
  }
  @media (min-width: 640px) {
    .LLBFCDSYAANQWSO {
      /*cbx*/
  
      margin-top: 0px;
    }
  }
  
  .MDUSELSASPVPDMD {
    /*awe*/
    font-size: 1rem;
    line-height: 1.5rem;
    /*awk*/
    font-weight: 500;
    /*ayb*/
    
    color: rgb(17 24 39 / 1);
  }
  
  .EEHXNIPZTNFXLIB {
    /*lb*/
    margin-top: 0.5rem;
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
    /*awk*/
    font-weight: 500;
    /*ayb*/
    
    color: rgb(17 24 39 / 1);
  }
  
  .ESVYACZHPMWEKCO {
    /*lf*/
    margin-top: 0.75rem;
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
    /*axx*/
    
    color: rgb(107 114 128 / 1);
  }
  
  .YCQJGBEXLKURGSK {
    /*lk*/
    margin-top: 1.5rem;
  }
  
  @media (min-width: 1024px) {
    .YCQJGBEXLKURGSK {
      /*cxl*/
  
      grid-column: span 5 / span 5;
    }
  }
  @media (min-width: 1024px) {
    .YCQJGBEXLKURGSK {
      /*czu*/
  
      margin-top: 0px;
    }
  }
  
  .VRXNLLDICQGFIGB {
    /*mb*/
    display: grid;
    /*yp*/
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /*aap*/
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .QVKEMHJYXIYWUZR {
    /*lf*/
    margin-top: 0.75rem;
    /*axx*/
    
    color: rgb(107 114 128 / 1);
  }
  
  .KSQXESASPPIPJUB {
    /*lu*/
    display: block;
  }
  
  .WIINYXPCZKFJUOY {
    /*lf*/
    margin-top: 0.75rem;
    /*axx*/
    
    color: rgb(107 114 128 / 1);
  }
  
  .TUGLYSNMIACDHQE {
    /*awk*/
    font-weight: 500;
    /*ayn*/
    
    color: var(--primary-color);
  }
  
  .TUGLYSNMIACDHQE:hover {
    /*.bli*/
    
    color: rgb(99 102 241 / 1);
  }
  
  .BMOTXVPNRUXWKNF {
    /*aft*/
    border-top-width: 1px;
    /*agb*/
    
    border-color: rgb(229 231 235 / 1);
    /*aro*/
    padding-left: 1rem;
    padding-right: 1rem;
    /*ask*/
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  @media (min-width: 640px) {
    .BMOTXVPNRUXWKNF {
      /*ckf*/
  
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .BMOTXVPNRUXWKNF {
      /*dil*/
  
      padding: 2rem;
    }
  }
  
  .MFLVNKEZODUUHYT {
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
    /*awk*/
    font-weight: 500;
    /*ayb*/
    
    color: rgb(17 24 39 / 1);
  }
  
  .PLTVJEGALDKNPXR {
    /*adn*/
    overflow: hidden;
    /*adz*/
    border-radius: 9999px;
    /*aiq*/
    
    background-color: rgb(229 231 235 / 1);
  }
  
  .MPELFXHYDMHQQHN {
    /*ns*/
    height: 0.5rem;
    /*adz*/
    border-radius: 9999px;
    /*ajw*/
    
    background-color: var(--primary-color);
  }
  
  .EJAVGUCZGQPSIFS {
    /*lk*/
    margin-top: 1.5rem;
    /*md*/
    display: none;
    /*yr*/
    grid-template-columns: repeat(4, minmax(0, 1fr));
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
    /*awk*/
    font-weight: 500;
    /*axy*/
    
    color: rgb(75 85 99 / 1);
  }
  
  @media (min-width: 640px) {
    .EJAVGUCZGQPSIFS {
      /*ccw*/
  
      display: grid;
    }
  }
  
  .WCAVPVEVSWWFCZR {
    /*ayn*/
    
    color: var(--primary-color);
  }
  
  .XHYQQBSCFWXRJDI {
    /*ayn*/
    
    color: var(--primary-color);
    /*avr*/
    text-align: center;
  }
  
  .WEMRRTJQHOLHDFD {
    /*avr*/
    text-align: center;
  }
  
  .KLTCJDYNHOEWPDW {
    /*avs*/
    text-align: right;
  }
  
  .NLDLUXPEXBGMILJ {
    /*la*/
    margin-top: 4rem;
  }
  
  .PXBWPJPSMLXFIAZ {
    /*aio*/
    
    background-color: rgb(243 244 246 / 1);
    /*aro*/
    padding-left: 1rem;
    padding-right: 1rem;
    /*ask*/
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  @media (min-width: 640px) {
    .PXBWPJPSMLXFIAZ {
      /*cim*/
  
      border-radius: 0.5rem;
    }
  }
  @media (min-width: 640px) {
    .PXBWPJPSMLXFIAZ {
      /*ckf*/
  
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .PXBWPJPSMLXFIAZ {
      /*dam*/
  
      display: grid;
    }
  }
  @media (min-width: 1024px) {
    .PXBWPJPSMLXFIAZ {
      /*dec*/
  
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
  @media (min-width: 1024px) {
    .PXBWPJPSMLXFIAZ {
      /*dfl*/
  
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  }
  @media (min-width: 1024px) {
    .PXBWPJPSMLXFIAZ {
      /*dit*/
  
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (min-width: 1024px) {
    .PXBWPJPSMLXFIAZ {
      /*djh*/
  
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  
  .LCGQEFXOXCDWWYS {
    /*mb*/
    display: grid;
    /*yp*/
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /*zy*/
    gap: 1.5rem;
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  @media (min-width: 640px) {
    .LCGQEFXOXCDWWYS {
      /*cfw*/
  
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (min-width: 768px) {
    .LCGQEFXOXCDWWYS {
      /*csv*/
  
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  }
  @media (min-width: 1024px) {
    .LCGQEFXOXCDWWYS {
      /*cxn*/
  
      grid-column: span 7 / span 7;
    }
  }
  
  .XRWRAVGUZMRYJVL {
    /*hw*/
    margin-left: -1rem;
    /*ir*/
    margin-top: -0.25rem;
    /*lx*/
    display: flex;
    /*za*/
    flex-wrap: wrap;
  }
  
  .WUZRANZHIVPRDFD {
    /*jx*/
    margin-left: 1rem;
    /*lh*/
    margin-top: 1rem;
    /*uw*/
    flex-shrink: 0;
  }
  
  .ZBNZFRTBBWWHKEF {
    /*oi*/
    height: 1.5rem;
    /*tt*/
    width: auto;
  }
  
  .WVCUJCKRTLZHJLV {
    /*jx*/
    margin-left: 1rem;
    /*lh*/
    margin-top: 1rem;
  }
  
  .NBRWNTGWRRKDFXY {
    /*ayb*/
    
    color: rgb(17 24 39 / 1);
  }
  
  .JOOKBXFYFTHMCZJ {
    /*axy*/
    
    color: rgb(75 85 99 / 1);
  }
  
  .MFLXYNUOBRUDJWP {
    /*lm*/
    margin-top: 2rem;
    /*awg*/
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  @media (min-width: 1024px) {
    .MFLXYNUOBRUDJWP {
      /*cxl*/
  
      grid-column: span 5 / span 5;
    }
  }
  @media (min-width: 1024px) {
    .MFLXYNUOBRUDJWP {
      /*czu*/
  
      margin-top: 0px;
    }
  }
  
  .NIBMGQXULUPXJKZ {
    /*lx*/
    display: flex;
    /*zg*/
    align-items: center;
    /*zm*/
    justify-content: space-between;
    /*ata*/
    padding-bottom: 1rem;
  }
  
  .BBJSMYNLVWHFKDT {
    /*lx*/
    display: flex;
    /*zg*/
    align-items: center;
    /*zm*/
    justify-content: space-between;
    /*asi*/
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .IKUGQFYCSKCMIYT {
    /*lx*/
    display: flex;
    /*zg*/
    align-items: center;
    /*zm*/
    justify-content: space-between;
    /*avh*/
    padding-top: 1rem;
  }
  
  .ASOSVGBTCOQSOOA {
    /*awk*/
    font-weight: 500;
    /*ayn*/
    
    color: var(--primary-color);
  }
  