.OPBZJODPNEABCDK {
}

@media (min-width: 1024px) {
  .OPBZJODPNEABCDK {
    

    display: flex;
  }
}
@media (min-width: 1024px) {
  .OPBZJODPNEABCDK {
    

    min-height: 100%;
  }
}
@media (min-width: 1024px) {
  .OPBZJODPNEABCDK {
    

    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  .OPBZJODPNEABCDK {
    

    overflow: hidden;
  }
}

.OORVSPTJSFXTHJT {
  
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.FVWMQUDGPMDNOSL {
  
  
  background-color: rgb(249 250 251 / 1);
  
  padding-left: 1rem;
  padding-right: 1rem;
  
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .FVWMQUDGPMDNOSL {
    

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .FVWMQUDGPMDNOSL {
    

    display: none;
  }
}

.XECQIPISORNUFBP {
  
  margin-left: auto;
  margin-right: auto;
  
  max-width: 32rem;
}

.PATVNQXXVKHRLPQ {
  
  display: flex;
  
  align-items: center;
  
  justify-content: space-between;
}

.SCZHGVNXTUIEXFW {
  
  font-size: 1.125rem;
  line-height: 1.75rem;
  
  font-weight: 500;
  
  
  color: rgb(17 24 39 / 1);
}

.NYCOAUFATOLEYOS {
  
  visibility: visible;
  
  
  border-color: rgb(156 163 175 / 1);
  
  
  border-color: rgb(79 70 229 / 1);
  
  
  background-color: rgb(229 231 235 / 1);
  
  
  background-color: rgb(209 213 219 / 1);
  
  
  background-color: rgb(156 163 175 / 1);
  
  
  background-color: rgb(249 250 251 / 1);
  
  
  background-color: rgb(31 41 55 / 1);
  
  
  background-color: rgb(55 48 163 / 1);
  
  
  background-color: rgb(255 255 255 / 1);
  
  stroke: rgb(29 78 216 / 0.75);
  
  stroke: rgb(30 64 175 / 0.75);
  
  stroke: rgb(75 85 99 / 0.75);
  
  stroke: rgb(55 65 81 / 0.75);
  
  stroke: rgb(21 128 61 / 0.75);
  
  stroke: rgb(22 101 52 / 0.75);
  
  stroke: rgb(79 70 229 / 0.75);
  
  stroke: rgb(67 56 202 / 0.75);
  
  stroke: rgb(190 24 93 / 0.75);
  
  stroke: rgb(157 23 77 / 0.75);
  
  stroke: rgb(220 38 38 / 0.75);
  
  stroke: rgb(185 28 28 / 0.75);
  
  stroke: rgb(124 58 237 / 0.75);
  
  stroke: rgb(109 40 217 / 0.75);
  
  stroke: rgb(161 98 7 / 0.75);
  
  stroke: rgb(133 77 14 / 0.75);
  
  
  color: rgb(29 78 216 / 1);
  
  
  color: rgb(243 244 246 / 1);
  
  
  color: rgb(229 231 235 / 1);
  
  
  color: rgb(209 213 219 / 1);
  
  
  color: rgb(156 163 175 / 1);
  
  
  color: rgb(107 114 128 / 1);
  
  
  color: rgb(75 85 99 / 1);
  
  
  color: rgb(55 65 81 / 1);
  
  
  color: rgb(31 41 55 / 1);
  
  
  color: rgb(17 24 39 / 1);
  
  
  color: rgb(99 102 241 / 1);
  
  
  color: var(--primary-color);
  
  
  color: rgb(67 56 202 / 1);
  
  
  color: rgb(55 48 163 / 1);
  
  
  color: rgb(49 46 129 / 1);
  
  
  color: rgb(190 24 93 / 1);
  
  
  color: rgb(100 116 139 / 1);
  
  
  color: rgb(51 65 85 / 1);
  
  
  color: rgb(15 23 42 / 1);
  
  
  color: rgb(20 184 166 / 1);
  
  
  color: rgb(255 255 255 / 1);
  
  opacity: 1;
  
  opacity: 0.75;
  
  visibility: visible;
  
  display: flex;
  
  display: block;
  
  display: block;
  
  display: inline;
  
  display: flex;
  
  display: none;
  
  --tw-translate-x: 0.875rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  
  --tw-translate-x: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  
  border-width: 1px;
  
  
  border-color: rgb(99 102 241 / 1);
  
  
  border-color: rgb(79 70 229 / 1);
  
  border-color: transparent;
  
  
  background-color: var(--primary-color);
  
  
  background-color: rgb(249 115 22 / 1);
  
  
  background-color: rgb(2 132 199 / 1);
  
  
  background-color: rgb(229 231 235 / 1);
  
  
  background-color: var(--primary-color);
  
  
  background-color: rgb(255 255 255 / 1);
  
  font-weight: 600;
  
  
  color: rgb(67 56 202 / 1);
  
  
  color: rgb(49 46 129 / 1);
  
  
  color: rgb(194 65 12 / 1);
  
  
  color: rgb(124 45 18 / 1);
  
  
  color: rgb(3 105 161 / 1);
  
  
  color: rgb(12 74 110 / 1);
  
  
  color: rgb(55 65 81 / 1);
  
  
  color: rgb(17 24 39 / 1);
  
  
  color: rgb(224 231 255 / 1);
  
  
  color: rgb(199 210 254 / 1);
  
  
  color: rgb(233 213 255 / 1);
  
  
  color: rgb(255 255 255 / 1);
  
  
  color: rgb(156 163 175 / 1);
  
  
  color: rgb(107 114 128 / 1);
  
  
  color: rgb(75 85 99 / 1);
  
  
  color: var(--primary-color);
  
  
  color: rgb(255 255 255 / 1);
  
  
  
  opacity: 0;
  
  opacity: 1;
  
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  

  --tw-ring-color: rgb(17 24 39 / 1);
  

  --tw-ring-color: rgb(79 70 229 / 1);
  

  --tw-ring-color: rgb(14 165 233 / 1);
  

  --tw-ring-color: rgb(99 102 241 / 1);
  
  --tw-ring-offset-width: 2px;
  
  transition-duration: 100ms;
  
  transition-duration: 200ms;
  
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  
  
  color: rgb(107 114 128 / 1);
  
  visibility: hidden;
  
  display: none;
  
  display: none;
  
  display: none;
  
  font-weight: 500;
  
  
  color: var(--primary-color);
}

.NYCOAUFATOLEYOS:hover {
  
  
  color: rgb(99 102 241 / 1);
}

.ZYYOCUOLPGIFIPU {
}




.IFAJTOPMDAYGQVC {
}




.MZUURKWDAWYYZKO {
  
  margin-top: 1.5rem;
  
  display: flex;
  
  align-items: center;
  
  justify-content: space-between;
  
  border-top-width: 1px;
  
  
  border-color: rgb(229 231 235 / 1);
  
  padding-top: 1.5rem;
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: rgb(17 24 39 / 1);
}

.QJSIYTZLHNURKPI {
  
  font-size: 1rem;
  line-height: 1.5rem;
}

.NKVSQGHCWTEFPVG {
  
  display: none;
  
  width: 100%;
  
  max-width: 28rem;
  
  flex-direction: column;
  
  
  background-color: rgb(249 250 251 / 1);
}

@media (min-width: 1024px) {
  .NKVSQGHCWTEFPVG {
    

    display: flex;
  }
}

.ONFBZXXVAIKYCTW {
  
  flex: 1 1 auto;
  
  overflow-y: auto;
  
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.OPVEEMPELLEYCAO {
  
  display: flex;
  
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.TYEPCODFDDZNHOE {
  
  height: 10rem;
  
  width: 10rem;
  
  flex: none;
  
  border-radius: 0.375rem;
  
  
  background-color: rgb(229 231 235 / 1);
  
  -o-object-fit: cover;
  object-fit: cover;
  
  -o-object-position: center;
  object-position: center;
}

.BPACRIVDDXBSIEJ {
  
  display: flex;
  
  flex-direction: column;
  
  justify-content: space-between;
}

.WFQIJERKYOUEDWE {
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
}

.FPRKEMPOEDHKUBB {
  
  
  color: rgb(17 24 39 / 1);
}

.SXGGREUONSFPTXV {
  
  
  color: rgb(107 114 128 / 1);
}

.BLEUBPIBNKJYCDY {
  
  display: flex;
}

.UDGXKFITUTFYTML {
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: var(--primary-color);
}

.UDGXKFITUTFYTML:hover {
  
  
  color: rgb(99 102 241 / 1);
}

.GSJPBSMPNRMBDXU {
  
  display: flex;
  
  border-left-width: 1px;
  
  
  border-color: rgb(209 213 219 / 1);
  
  padding-left: 1rem;
}

.LNYAFHZLBHXYNAJ {
  
  position: sticky;
  
  bottom: 0px;
  
  flex: none;
  
  border-top-width: 1px;
  
  
  border-color: rgb(229 231 235 / 1);
  
  
  background-color: rgb(249 250 251 / 1);
  
  padding: 1.5rem;
}

.PTQXILETNKJBJJU {
  
  display: block;
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: rgb(55 65 81 / 1);
}

.AACGZTBLMXCRXCQ {
  
  margin-top: 0.25rem;
  
  display: flex;
}

.LZCQRUXKYMZJKIB {
  
  display: block;
  
  width: 100%;
  
  border-radius: 0.375rem;
  
  
  border-color: rgb(209 213 219 / 1);
  
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.LZCQRUXKYMZJKIB:focus {
  
  
  border-color: rgb(99 102 241 / 1);
  

  --tw-ring-color: rgb(99 102 241 / 1);
}

@media (min-width: 640px) {
  .LZCQRUXKYMZJKIB {
    

    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.NCZJAQUBCDNZDLL {
  
  border-radius: 0.375rem;
  
  
  background-color: rgb(229 231 235 / 1);
  
  padding-left: 1rem;
  padding-right: 1rem;
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: rgb(75 85 99 / 1);
}

.NCZJAQUBCDNZDLL:hover {
  
  
  background-color: rgb(209 213 219 / 1);
}

.NCZJAQUBCDNZDLL:focus {
  
  outline: 2px solid transparent;
  outline-offset: 2px;
  
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  

  --tw-ring-color: rgb(99 102 241 / 1);
  
  --tw-ring-offset-width: 2px;
  
  --tw-ring-offset-color: #f9fafb;
}

.LSJRYBXWNCLHEIQ {
  
  margin-top: 2.5rem;
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: rgb(107 114 128 / 1);
}

.KDUYGRBFERCEQPM {
  
  display: flex;
  
  justify-content: space-between;
}

.BJJXBRJJPBKIULI {
  
  display: flex;
}

.BWSOZTULVGPBEZC {
  
  margin-left: 0.5rem;
  
  border-radius: 9999px;
  
  
  background-color: rgb(229 231 235 / 1);
  
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  
  font-size: 0.75rem;
  line-height: 1rem;
  
  letter-spacing: 0.025em;
  
  
  color: rgb(75 85 99 / 1);
}

.ZUPATWWWPGZEXDD {
  
  display: flex;
  
  align-items: center;
  
  justify-content: space-between;
  
  border-top-width: 1px;
  
  
  border-color: rgb(229 231 235 / 1);
  
  padding-top: 1.5rem;
  
  
  color: rgb(17 24 39 / 1);
}

.IRMXAUHNIBRBKYO {
  
  flex: 1 1 auto;
  
  overflow-y: auto;
  
  padding-left: 1rem;
  padding-right: 1rem;
  
  padding-bottom: 4rem;
  
  padding-top: 3rem;
}

@media (min-width: 640px) {
  .IRMXAUHNIBRBKYO {
    

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 640px) {
  .IRMXAUHNIBRBKYO {
    

    padding-top: 4rem;
  }
}
@media (min-width: 1024px) {
  .IRMXAUHNIBRBKYO {
    

    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1024px) {
  .IRMXAUHNIBRBKYO {
    

    padding-bottom: 6rem;
  }
}
@media (min-width: 1024px) {
  .IRMXAUHNIBRBKYO {
    

    padding-top: 0px;
  }
}

.WHTFLICSMBSZCTC {
  
  margin-left: auto;
  margin-right: auto;
  
  max-width: 32rem;
}

@media (min-width: 1024px) {
  .WHTFLICSMBSZCTC {
    

    padding-top: 4rem;
  }
}

.ZIJVIOOUILKHORR {
  
  display: flex;
  
  width: 100%;
  
  align-items: center;
  
  justify-content: center;
  
  border-radius: 0.375rem;
  
  border-width: 1px;
  
  border-color: transparent;
  
  
  background-color: rgb(0 0 0 / 1);
  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
  
  color: rgb(255 255 255 / 1);
}

.ZIJVIOOUILKHORR:hover {
  
  
  background-color: rgb(31 41 55 / 1);
}

.ZIJVIOOUILKHORR:focus {
  
  outline: 2px solid transparent;
  outline-offset: 2px;
  
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  

  --tw-ring-color: rgb(17 24 39 / 1);
  
  --tw-ring-offset-width: 2px;
}

.VKVARUXIWPAYUDI {
  
  height: 1.25rem;
  
  width: auto;
}

.JHOKJZHZXNUIKBN {
  
  position: relative;
  
  margin-top: 2rem;
}

.VGYPQURFMUQKMPO {
  
  position: absolute;
  
  inset: 0px;
  
  display: flex;
  
  align-items: center;
}

.BNDTLDDWYULLIJY {
  
  width: 100%;
  
  border-top-width: 1px;
  
  
  border-color: rgb(229 231 235 / 1);
}

.BVVRIXPHPTBJVPK {
  
  position: relative;
  
  display: flex;
  
  justify-content: center;
}

.KQBPUJJGXWREVTA {
  
  
  background-color: rgb(255 255 255 / 1);
  
  padding-left: 1rem;
  padding-right: 1rem;
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: rgb(107 114 128 / 1);
}

.OJMMSWIBGEFQTVN {
  
  margin-top: 1.5rem;
}

.QOARNMTRETZKXYN {
  
  display: grid;
  
  grid-template-columns: repeat(12, minmax(0, 1fr));
  
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  
  row-gap: 1.5rem;
}

.URSFVTAQDONAGJZ {
  
  grid-column: 1 / -1;
}

.IPGXEJTALKDGMOS {
  
  margin-top: 0.25rem;
}

.DBXCBUFHSZIDPWW {
  
  grid-column: span 8 / span 8;
}

@media (min-width: 640px) {
  .DBXCBUFHSZIDPWW {
    

    grid-column: span 9 / span 9;
  }
}

.XDJHBITEPXKRQEL {
  
  grid-column: span 4 / span 4;
}

@media (min-width: 640px) {
  .XDJHBITEPXKRQEL {
    

    grid-column: span 3 / span 3;
  }
}

.QSSNFLGGCQOQIZK {
  
  grid-column: 1 / -1;
}

@media (min-width: 640px) {
  .QSSNFLGGCQOQIZK {
    

    grid-column: span 4 / span 4;
  }
}

.RMYDEDTFEQCBZTG {
  
  margin-top: 1.5rem;
  
  display: flex;
}

.DCIYKMJCXEARIFF {
  
  display: flex;
  
  height: 1.25rem;
  
  align-items: center;
}

.LGRGBRXVSKSYFXD {
  
  height: 1rem;
  
  width: 1rem;
  
  border-radius: 0.25rem;
  
  
  border-color: rgb(209 213 219 / 1);
  
  
  color: var(--primary-color);
}

.LGRGBRXVSKSYFXD:focus {
  

  --tw-ring-color: rgb(99 102 241 / 1);
}

.YWDJYSEOVVJUSIX {
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: rgb(17 24 39 / 1);
}

.YBBJIZIOTSXIYFC {
  
  margin-top: 1.5rem;
  
  width: 100%;
  
  border-radius: 0.375rem;
  
  border-width: 1px;
  
  border-color: transparent;
  
  
  background-color: var(--primary-color);
  
  padding-left: 1rem;
  padding-right: 1rem;
  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: rgb(255 255 255 / 1);
  
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.YBBJIZIOTSXIYFC:hover {
  
  
  background-color: rgb(67 56 202 / 1);
}

.YBBJIZIOTSXIYFC:focus {
  
  outline: 2px solid transparent;
  outline-offset: 2px;
  
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  

  --tw-ring-color: rgb(99 102 241 / 1);
  
  --tw-ring-offset-width: 2px;
}

.HAZZJTYHJXKPQRE {
  
  margin-top: 1.5rem;
  
  display: flex;
  
  justify-content: center;
  
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  font-weight: 500;
  
  
  color: rgb(107 114 128 / 1);
}

.QIHFOXZXIDNHUVA {
  
  margin-right: 0.375rem;
  
  height: 1.25rem;
  
  width: 1.25rem;
  
  
  color: rgb(156 163 175 / 1);
}
