<section class="confirmSimpleSection">
    <div class="BPPHRWCTOWTEHJZ">
      <svg
        aria-hidden="true"
        class="YDKPZSPPBUXZDUY"
        fill="none"
        height="24"
        viewbox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5 11.917 9.724 16.5 19 7.5"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        ></path>
      </svg>
    </div>
    <h2 class="FVYYIKSSWFJSKLA">Your interest is confirmed!</h2>
    <p class="OMFNBYKZPMRMKCF">
        We’ll send you an email with instructions on how to access your new account, along with simple steps to create your first popup!
    </p>
    <div class="IWJYPZRPSGLDPDP">
      <a
        class="TWJEGLKRNHDZPBW"
        href="/"
      >
        Return Home
    </a>
    </div>
  </section>
  