<div class="logo-cloud-section">
  <div class="logo-cloud-container">
    <h2 class="logo-cloud-title">Works seemlessly with your tech Stack</h2>
    <div class="logo-cloud-logos-container">
      <img
        class="logo-cloud-logo-image"
        src="/static/images/logos/javascript.svg"
        alt="javascript"
        width="158"
        height="48"
      /><img
        class="logo-cloud-logo-image"
        src="/static/images/logos/python.svg"
        alt="python"
        width="158"
        height="48"
      />
      <img
        class="logo-cloud-logo-image"
        src="/static/images/logos/go.svg"
        alt="goland"
        width="158"
        height="48"
      /><img
        class="logo-cloud-logo-image"
        src="/static/images/logos/java.svg"
        alt="java"
        width="158"
        height="48"
      />
    </div>
  </div>
</div>
