<main class="LPESPRSPLBTXIRC">
  <div class="EGHEHGDUFLJKRNC">
    <div class="EPTNUSDSMKYVOYY">
      <div class="JGMOVTLNZRYFUBN">
        <div class="HHMRILLZIVPZRCQ">
          <div
            aria-orientation="horizontal"
            class="BMDHEPYVYSWNRRF"
            role="tablist"
          >
            <button
              aria-controls="headlessui-tabs-panel-:rk:"
              aria-selected="true"
              class="IZSUZZQWXEPNGJB"
              role="tab"
              tabindex="0"
              type="button"
            >
              <span class="NPUARCMKHTSFBSB">Angled view</span
              ><span class="FQLHYZFIQOBGPUF"
                ><img
                  alt=""
                  class="TCTYMFUNOZEDZDI"
                  src="https://tailwindui.com/img/ecommerce-images/product-page-03-product-01.jpg" /></span
              ><span aria-hidden="true" class="DAGVIJBYMYDZNCY"></span></button
            ><button
              aria-selected="false"
              class="IZSUZZQWXEPNGJB"
              role="tab"
              tabindex="-1"
              type="button"
            >
              <span class="NPUARCMKHTSFBSB">Front view</span
              ><span class="FQLHYZFIQOBGPUF"
                ><img
                  alt=""
                  class="TCTYMFUNOZEDZDI"
                  src="https://tailwindui.com/img/ecommerce-images/product-page-03-product-02.jpg" /></span
              ><span aria-hidden="true" class="DAGVIJBYMYDZNCY"></span></button
            ><button
              aria-controls="headlessui-tabs-panel-:ro:"
              aria-selected="false"
              class="IZSUZZQWXEPNGJB"
              data-headlessui-state=""
              id="headlessui-tabs-tab-:rg:"
              role="tab"
              tabindex="-1"
              type="button"
            >
              <span class="NPUARCMKHTSFBSB">Back view</span
              ><span class="FQLHYZFIQOBGPUF"
                ><img
                  alt=""
                  class="TCTYMFUNOZEDZDI"
                  src="https://tailwindui.com/img/ecommerce-images/product-page-03-product-03.jpg" /></span
              ><span aria-hidden="true" class="DAGVIJBYMYDZNCY"></span></button
            ><button
              aria-controls="headlessui-tabs-panel-:rq:"
              aria-selected="false"
              class="IZSUZZQWXEPNGJB"
              data-headlessui-state=""
              id="headlessui-tabs-tab-:ri:"
              role="tab"
              tabindex="-1"
              type="button"
            >
              <span class="NPUARCMKHTSFBSB">Back angle open view</span
              ><span class="FQLHYZFIQOBGPUF"
                ><img
                  alt=""
                  class="TCTYMFUNOZEDZDI"
                  src="https://tailwindui.com/img/ecommerce-images/product-page-03-product-04.jpg" /></span
              ><span aria-hidden="true" class="DAGVIJBYMYDZNCY"></span>
            </button>
          </div>
        </div>
        <div class="LYGOWSCYQVMDXVL">
          <div
            aria-labelledby="headlessui-tabs-tab-:rc:"
            data-headlessui-state="selected"
            data-selected=""
            id="headlessui-tabs-panel-:rk:"
            role="tabpanel"
            tabindex="0"
          >
            <img
              alt="Angled front view with bag zipped and handles upright."
              class="ZZJJCCQVHFJLDJH"
              src="https://tailwindui.com/img/ecommerce-images/product-page-03-product-01.jpg"
            />
          </div>
          <span
            aria-hidden="true"
            role="tabpanel"
            class="img-spanner"
            tabindex="-1"
          ></span
          ><span
            aria-hidden="true"
            role="tabpanel"
            class="img-spanner"
            tabindex="-1"
          ></span
          ><span
            aria-hidden="true"
            role="tabpanel"
            class="img-spanner"
            tabindex="-1"
          ></span>
        </div>
      </div>
      <div class="YDVLRZWOUNZAYWT">
        <h1 class="SHXSJYNQSJRTOAJ">Zip Tote Basket</h1>
        <div class="FOEVJRITZZVFVQM">
          <h2 class="NPUARCMKHTSFBSB">Product information</h2>
          <p class="GBSOMGJNUFTTHTB">$140</p>
        </div>
        <div class="FOEVJRITZZVFVQM">
          <h3 class="NPUARCMKHTSFBSB">Reviews</h3>
          <div class="FZOKVISQHAWWNTC">
            <div class="FZOKVISQHAWWNTC">
              <svg
                aria-hidden="true"
                class="CATZIDLROSTKYPJ"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <svg
                aria-hidden="true"
                class="CATZIDLROSTKYPJ"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <svg
                aria-hidden="true"
                class="CATZIDLROSTKYPJ"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <svg
                aria-hidden="true"
                class="CATZIDLROSTKYPJ"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <svg
                aria-hidden="true"
                class="GRKBNLAEHOJBMPC"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </div>
            <p class="NPUARCMKHTSFBSB">4 out of 5 stars</p>
          </div>
        </div>
        <div class="CQICGTQPQETBOVJ">
          <h3 class="NPUARCMKHTSFBSB">Description</h3>
          <div class="XBPLHMXXROKSGMM">
            <p>
              The Zip Tote Basket is the perfect midpoint between shopping tote
              and comfy backpack. With convertible straps, you can hand carry,
              should sling, or backpack this convenient and spacious bag. The
              zip top and durable canvas construction keeps your goods protected
              for all-day use.
            </p>
          </div>
        </div>
        <form class="CQICGTQPQETBOVJ">
          <div>
            <h3 class="PQLHNIEUNPXPSYL">Color</h3>
            <fieldset aria-label="Choose a color" class="LZJOIEJGVZWHREN">
              <div
                class="TRPPPIWCCMQBDDU"
                id="headlessui-radiogroup-:rs:"
                role="radiogroup"
              >
                <span
                  aria-checked="true"
                  aria-label="Washed Black"
                  class="BWINOJZDGVTAGFE"
                  data-checked=""
                  data-headlessui-state="checked"
                  id="headlessui-radio-:rt:"
                  role="radio"
                  tabindex="0"
                  ><span
                    aria-hidden="true"
                    class="XSDMPZLZZPXXKGK"
                  ></span></span
                ><span
                  aria-checked="false"
                  aria-label="White"
                  class="KOYIEJPWDLTNLMH"
                  data-headlessui-state=""
                  id="headlessui-radio-:ru:"
                  role="radio"
                  tabindex="-1"
                  ><span
                    aria-hidden="true"
                    class="DPRDFLAKZVZEVEA"
                  ></span></span
                ><span
                  aria-checked="false"
                  aria-label="Washed Gray"
                  class="QPOJBROXIWDKPTQ"
                  data-headlessui-state=""
                  id="headlessui-radio-:rv:"
                  role="radio"
                  tabindex="-1"
                  ><span aria-hidden="true" class="VIHGZEAJRSXJKUN"></span
                ></span>
              </div>
            </fieldset>
          </div>
          <div class="GYVJZOIGUJEKQWN">
            <a class="SLMGBTXSPFEAUBR" href="/checkout">Add to bag</a>
            <button class="OPCFHZHYYIYOETQ" type="button">
              <svg
                aria-hidden="true"
                class="LSRGSLBRKLSJHQI"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewbox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
              <span class="NPUARCMKHTSFBSB">Add to favorites</span>
            </button>
          </div>
        </form>
        <section aria-labelledby="details-heading" class="XDWJVXKNTFFLZJL">
          <h2 class="NPUARCMKHTSFBSB" id="details-heading">
            Additional details
          </h2>
          <div class="ZPHCRDJWUEAKFPZ">
            <div data-headlessui-state="open" data-open="">
              <h3>
                <button
                  aria-controls="headlessui-disclosure-panel-:r11:"
                  aria-expanded="true"
                  class="GPFFCPRIVQEJCEC"
                  data-headlessui-state="open"
                  data-open=""
                  id="headlessui-disclosure-button-:r10:"
                  type="button"
                >
                  <span class="TGWULSWNZINRUUC">Features</span
                  ><span class="UNURSZWXGELUFWN"
                    ><svg
                      aria-hidden="true"
                      class="UILRALUATLJRZUF"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12 4.5v15m7.5-7.5h-15"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                    <svg
                      aria-hidden="true"
                      class="FXRTGUSGKOTSNFR"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M19.5 12h-15"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </span>
                </button>
              </h3>
              <div
                class="XSDCRIXYXIBLZRP"
                data-headlessui-state="open"
                data-open=""
                id="headlessui-disclosure-panel-:r11:"
              >
                <ul class="lister" role="list">
                  <li class="lister-element">Multiple strap configurations</li>
                  <li class="lister-element">Spacious interior with top zip</li>
                  <li class="lister-element">Leather handle and tabs</li>
                  <li class="lister-element">Interior dividers</li>
                  <li class="lister-element">Stainless strap loops</li>
                  <li class="lister-element">Double stitched construction</li>
                  <li class="lister-element">Water-resistant</li>
                </ul>
              </div>
            </div>
            <div data-headlessui-state="open" data-open="">
              <h3>
                <button
                  aria-controls="headlessui-disclosure-panel-:r13:"
                  aria-expanded="true"
                  class="GPFFCPRIVQEJCEC"
                  data-headlessui-state="open"
                  data-open=""
                  id="headlessui-disclosure-button-:r12:"
                  type="button"
                >
                  <span class="TGWULSWNZINRUUC">Care</span
                  ><span class="UNURSZWXGELUFWN"
                    ><svg
                      aria-hidden="true"
                      class="UILRALUATLJRZUF"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12 4.5v15m7.5-7.5h-15"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                    <svg
                      aria-hidden="true"
                      class="FXRTGUSGKOTSNFR"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M19.5 12h-15"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </span>
                </button>
              </h3>
              <div
                class="XSDCRIXYXIBLZRP"
                data-headlessui-state="open"
                data-open=""
                id="headlessui-disclosure-panel-:r13:"
              >
                <ul class="lister" role="list">
                  <li class="lister-element">Spot clean as needed</li>
                  <li class="lister-element">Hand wash with mild soap</li>
                  <li class="lister-element">Machine wash interior dividers</li>
                  <li class="lister-element">Treat handle and tabs with leather conditioner</li>
                </ul>
              </div>
            </div>
            <div data-headlessui-state="open" data-open="">
              <h3>
                <button
                  aria-controls="headlessui-disclosure-panel-:r15:"
                  aria-expanded="true"
                  class="GPFFCPRIVQEJCEC"
                  data-headlessui-state="open"
                  data-open=""
                  id="headlessui-disclosure-button-:r14:"
                  type="button"
                >
                  <span class="TGWULSWNZINRUUC">Shipping</span
                  ><span class="UNURSZWXGELUFWN"
                    ><svg
                      aria-hidden="true"
                      class="UILRALUATLJRZUF"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12 4.5v15m7.5-7.5h-15"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                    <svg
                      aria-hidden="true"
                      class="FXRTGUSGKOTSNFR"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M19.5 12h-15"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </span>
                </button>
              </h3>
              <div
                class="XSDCRIXYXIBLZRP"
                data-headlessui-state="open"
                data-open=""
                id="headlessui-disclosure-panel-:r15:"
              >
                <ul class="lister" role="list">
                  <li class="lister-element">Free shipping on orders over $300</li>
                  <li class="lister-element">International shipping available</li>
                  <li class="lister-element">Expedited shipping options</li>
                  <li class="lister-element">Signature required upon delivery</li>
                </ul>
              </div>
            </div>
            <div data-headlessui-state="open" data-open="">
              <h3>
                <button
                  aria-controls="headlessui-disclosure-panel-:r17:"
                  aria-expanded="true"
                  class="GPFFCPRIVQEJCEC"
                  data-headlessui-state="open"
                  data-open=""
                  id="headlessui-disclosure-button-:r16:"
                  type="button"
                >
                  <span class="TGWULSWNZINRUUC">Returns</span
                  ><span class="UNURSZWXGELUFWN"
                    ><svg
                      aria-hidden="true"
                      class="UILRALUATLJRZUF"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12 4.5v15m7.5-7.5h-15"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                    <svg
                      aria-hidden="true"
                      class="FXRTGUSGKOTSNFR"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M19.5 12h-15"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </span>
                </button>
              </h3>
              <div
                class="XSDCRIXYXIBLZRP"
                data-headlessui-state="open"
                data-open=""
                id="headlessui-disclosure-panel-:r17:"
              >
                <ul class="lister" role="list">
                  <li class="lister-element">Easy return requests</li>
                  <li class="lister-element">Pre-paid shipping label included</li>
                  <li class="lister-element">10% restocking fee for returns</li>
                  <li class="lister-element">60 day return window</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
