<template id="modalTemplate">
  <div id="modal" onclick="this.remove()">
    <div class="modal-underlay"></div>
    <div class="modal-content" onclick="stopClose(event)">
      <!-- Containing element in modal.... -->
      <div class="EYWZGDIHWQUKQUE">
        <h2 class="ILNLKPBGPTHVOBG">Get the Weekly Newsletter</h2>
        <p>Continue with an email address.</p>
        <form method="POST" action="/getStarted" class="FUQRHQWECXVUDXL">
          <div class="TDLINQSZRBCICAT">
            <label class="MYKAJVVIHQZLQLF" for="email-address">
              Email address
            </label>
            <input class="WYARAYUFKKDMHFD" id="email-address" name="email" placeholder="Enter your email" required="" type="email" />
            
            <button class="ENUQNTFJTKERERF" type="submit">Let's Go</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>