/***** MODAL DIALOG ****/
#modal {
  /* Underlay covers entire screen. */
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  /* Flexbox centers the .modal-content vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Animate when opening */
  animation-name: fadeIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

#modal > .modal-underlay {
  /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#modal > .modal-content {
  /* Position visible dialog near the top of the window */
  margin-top: 10vh;

  /* Sizing for visible dialog */
  width: 80%;
  max-width: 750px;

  /* Display properties for visible dialog*/
  border: solid 1px #999;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 20px;

  /* Animate when opening */
  animation-name: zoomIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

#modal.closing {
  /* Animate when closing */
  animation-name: fadeOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

#modal.closing > .modal-content {
  /* Animate when closing */
  animation-name: zoomOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.EYWZGDIHWQUKQUE {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*gn*/
  margin-left: auto;
  margin-right: auto;
  /*uv*/
  max-width: 80rem;
  /*ass*/
  padding-left: 3rem;
  padding-right: 3rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 1024px) {
  .EYWZGDIHWQUKQUE {
    /*dlx*/
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.ILNLKPBGPTHVOBG {
  /*uq*/
  max-width: 42rem;
  /*aeh*/
  text-wrap: balance;
  /*axc*/
  font-size: 1.875rem;
  line-height: 2.25rem;
  /*ayf*/
  font-weight: 600;
  /*ayn*/
  letter-spacing: -0.025em;
  /*azl*/
  
  color: rgb(17 24 39 / 1);
}

@media (min-width: 640px) {
  .ILNLKPBGPTHVOBG {
    /*cps*/
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.FUQRHQWECXVUDXL {
  width: 100%;
  /*km*/
  margin-top: 2.5rem;
  /*uz*/
  max-width: 28rem;
}

.TDLINQSZRBCICAT {
  /*lm*/
  display: flex;
  /*abc*/
  -moz-column-gap: .5rem;
  column-gap: .5rem;
}

.MYKAJVVIHQZLQLF {
  /*f*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.WYARAYUFKKDMHFD {
  /*ul*/
  min-width: 0px;
  /*vi*/
  flex: 1 1 auto;
  /*aer*/
  border-radius: 0.375rem;
  /*afy*/
  border-width: 0px;
  /*aso*/
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  /*atd*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /*azl*/
  
  color: rgb(17 24 39 / 1);
  /*bdj*/
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  /*bdu*/
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  /*bdy*/
  --tw-ring-inset: inset;
  /*beg*/
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}

.WYARAYUFKKDMHFD::-moz-placeholder {
  /*bhg*/

  
  color: rgb(156 163 175 / 1);
}

.WYARAYUFKKDMHFD::placeholder {
  /*bhg*/

  
  color: rgb(156 163 175 / 1);
}

.WYARAYUFKKDMHFD:focus {
  /*boh*/

  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);

  /*boi*/

  --tw-ring-inset: inset;

  /*bov*/

  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(79 70 229 / var(--tw-ring-opacity));
}

@media (min-width: 640px) {
  .WYARAYUFKKDMHFD {
    /*cqa*/
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.ENUQNTFJTKERERF {
  /*vj*/
  flex: none;
  /*aer*/
  border-radius: 0.375rem;
  /*alc*/
  background-color: var(--primary-color);
  /*aso*/
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  /*ate*/
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  /*axr*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*ayf*/
  font-weight: 600;
  /*bcd*/
  color: white;
  /*bdj*/
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ENUQNTFJTKERERF:hover {
  background-color: var(--darker-primary-color);
}

.ENUQNTFJTKERERF:focus-visible {
  /*bqa*/

  outline-style: solid;

  /*bqb*/

  outline-width: 2px;

  /*bqd*/

  outline-offset: 2px;

  /*bqk*/

  outline-color: var(--primary-color);
}

.FQHYLWAVMFCSWHU {
  /*kx*/
  margin-top: 1rem;
  /*axt*/
  font-size: 0.875rem;
  line-height: 1.5rem;
  /*azl*/
  
  color: rgb(17 24 39 / 1);
}

.MSWEURRYDLESCNK {
  /*ayf*/
  font-weight: 600;
  /*baa*/
  
  color: rgb(79 70 229 / 1);
}

.MSWEURRYDLESCNK:hover {
  /*bmi*/

  
  color: rgb(99 102 241 / 1);
}
