<section class="YVYCSHOMOUXUIRA">
    <a href="/code">
        <div class="LTZBXWFVLQWGAZM">
            <div class="JZHLLXRVYVUFNQH">
                <div class="ZEQMJUKNRWUNIFM">
                    <div class="ICEJFXURWWSESKK"><svg class="RQVIJSWQBBTUBYY" fill="none" height="24"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <polyline points="16 18 22 12 16 6"></polyline>
                            <polyline points="8 6 2 12 8 18"></polyline>
                        </svg></div>
                    <div class="EMTAVJNCJASOWAQ">
                        <h2 class="DIUKLQMVSWKVFJU">Code Tools</h2>
                        <p class="EIDSBEITRYKLVIR">Format and beautify various code languages</p>
                        <div class="AMNCIEZBJZCVXWG">
                            <p class="XJDDCYTMFATVQKQ">13<!-- --> tools available →</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</section>