.profile-container {
    
    
    background-color: rgb(229 231 235 / 1);
    
    display: flex;
    
    flex-wrap: wrap;
    
    align-items: center;
    
    justify-content: center;
  
    .profile-wrapper {
      
      width: 100%;
      
      
      
      
      
      
      background-color: rgb(255 255 255 / 1);
      
      transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      
      transition-duration: 0.2s;
      
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      .background-container {
        
        height: 6rem; 
        
        overflow: hidden;
  
        .background-img {
          
          width: 100%;
        }
      }
  
      .profile-image-container {
        
        display: flex;
        
        justify-content: center;
        
        padding-left: 1.25rem; 
        padding-right: 1.25rem; 
        
        margin-top: -3rem; 
  
        .profile-image {
          
          height: 8rem; 
          
          width: 8rem; 
          
          
          background-color: rgb(255 255 255 / 1);
          
          padding: 0.5rem; 
          
          border-radius: 9999px;
        }
      }
  
      .profile-text-container {
          
          text-align: center;
          
          padding-left: 3.5rem; 
          padding-right: 3.5rem; 
  
          .profile-title {
              
              
              color: rgb(17 24 39 / 1);
              
              font-size: 1.875rem;
              line-height: 2.25rem;
              
              font-weight: 700;
          }
  
          .profile-sub-title {
              
              margin-top: 0.5rem;
              
              
              color: rgb(107 114 128 / 1);
              
              font-size: 0.875rem;
              line-height: 1.25rem;
          }
      }
    }
  }
  