.IKYJGMIBHZBWZDX {
  /*alt*/
  
  background-color: rgb(255 255 255 / 1);
  /*ase*/
  padding-top: 6rem;
  padding-bottom: 6rem;
}



.AOOKDOEUHDOMNCS {
  /*gx*/
  margin-left: auto;
  margin-right: auto;
  /*mb*/
  display: grid;
  /*uh*/
  max-width: 80rem;
  /*yn*/
  grid-template-columns: repeat(1, minmax(0, 1fr));
  /*aaq*/
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  /*aat*/
  row-gap: 3rem;
  /*arq*/
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.BZCSBFVGOOLFAHA {
  /*gx*/
  margin-left: auto;
  margin-right: auto;
  /*tu*/
  width: 100%;
  /*uc*/
  max-width: 42rem;
}

.ENDJCGVNOGOIDPW {
  /*lu*/
  display: block;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awv*/
  line-height: 1.5rem;
  /*axy*/
  
  color: rgb(75 85 99 / 1);
}

.EFWQLGPHXHFDHVS {
  /*lh*/
  margin-top: 1rem;
  /*avy*/
  font-size: 1.875rem;
  line-height: 2.25rem;
  /*awj*/
  font-weight: 700;
  /*axd*/
  letter-spacing: -0.025em;
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

.WXWXSBURYWFEVKQ {
  /*lh*/
  margin-top: 1rem;
  /*awf*/
  font-size: 1.125rem;
  line-height: 1.75rem;
  /*awx*/
  line-height: 2rem;
  /*axy*/
  
  color: rgb(75 85 99 / 1);
}

.PVMRBIYWYXATOEL {
  /*lh*/
  margin-top: 1rem;
  /*lx*/
  display: flex;
  /*yy*/
  flex-direction: column;
  /*zm*/
  justify-content: space-between;
  /*zy*/
  gap: 1.5rem;
}

.BYOCCYADNIJSISY {
  /*lx*/
  display: flex;
}

.CIQKGHQRGSUOWKR {
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awm*/
  font-weight: 600;
  /*awv*/
  line-height: 1.5rem;

  color: var(--primary-color)
}

.LFKZOFPLCKLKFMU {
  /*lx*/
  display: flex;
}

.KTJQGXOMHKCCEOI {
  /*lx*/
  display: flex;
  /*aak*/
  -moz-column-gap: 0.625rem;
  column-gap: 0.625rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awm*/
  font-weight: 600;
  /*awv*/
  line-height: 1.5rem;
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

.NPOLBQLTKWAYTGE {
  /*oi*/
  height: 1.5rem;
  /*sl*/
  width: 1.5rem;
  /*uv*/
  flex: none;
  /*adz*/
  border-radius: 9999px;
  /*aiv*/
  
  background-color: rgb(249 250 251 / 1);
}

.GSTEBPFGYBEGFHG {
  /*gx*/
  margin-left: auto;
  margin-right: auto;
  /*tu*/
  width: 100%;
  /*uc*/
  max-width: 42rem;
  /*aft*/
  border-top-width: 1px;
  /*agh*/
  border-color: rgb(17 24 39 / 0.1);
  /*auw*/
  padding-top: 3rem;
}

.WNQNVFEQOONPOEI {
  /*gk*/
  margin-top: -3rem;
  margin-bottom: -3rem;
}

.ZMRRUEFTKLHTSMD {
  /*ary*/
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.FLQSJTNYFGWBKSD {
  /*ab*/
  position: relative;
  /*ur*/
  max-width: 36rem;
}

/* Classes not found for QNDUCCHVSEOCZRA*/
/* bqi */

.QNDUCCHVSEOCZRA {
  /*lb*/
  margin-top: 0.5rem;
  /*awf*/
  font-size: 1.125rem;
  line-height: 1.75rem;
  /*awm*/
  font-weight: 600;
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

/* Classes not found for QNDUCCHVSEOCZRA*/
/* brp */

.VTSXRHONAAFTEWP {
  /*aa*/
  position: absolute;
  /*ak*/
  inset: 0px;
}

.SFBWKFJQZAQCRAM {
  /*lh*/
  margin-top: 1rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awv*/
  line-height: 1.5rem;
  /*axy*/
  
  color: rgb(75 85 99 / 1);
}

.JBDMLCFAIAKVGXU {
  /*lh*/
  margin-top: 1rem;
  /*lx*/
  display: flex;
}

.GJWMHOWHATGTWPQ {
  /*ab*/
  position: relative;
  /*lx*/
  display: flex;
  /*aak*/
  -moz-column-gap: 0.625rem;
  column-gap: 0.625rem;
  /*awg*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  /*awm*/
  font-weight: 600;
  /*awv*/
  line-height: 1.5rem;
  /*ayb*/
  
  color: rgb(17 24 39 / 1);
}

@media (min-width: 640px) {
  .IKYJGMIBHZBWZDX {
    /*ckp*/
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .AOOKDOEUHDOMNCS {
    /*chi*/
    row-gap: 4rem;
  }
  .EFWQLGPHXHFDHVS {
    /*cna*/
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .PVMRBIYWYXATOEL {
    /*ccp*/
    margin-top: 2rem;
    /*cgf*/
    flex-direction: row-reverse;
    /*cgy*/
    gap: 2rem;
  }
  .GSTEBPFGYBEGFHG {
    /*cmi*/
    padding-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .AOOKDOEUHDOMNCS {
    /*ded*/
    grid-template-columns: repeat(2, minmax(0, 1fr));

    /*dit*/
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .BZCSBFVGOOLFAHA {
    /*cys*/
    margin-left: 0px;
    margin-right: 0px;
    /*dcw*/
    max-width: 32rem;
  }

  .PVMRBIYWYXATOEL {
    /*dad*/
    margin-top: 1rem;
    /*dep*/
    flex-direction: column;
  }

  .LFKZOFPLCKLKFMU {
    /*dhl*/
    border-top-width: 1px;
    /*dhp*/
    border-color: rgb(17 24 39 / 0.1);
    /*dld*/
    padding-top: 2rem;
  }

  .GSTEBPFGYBEGFHG {
    /*cys*/
    margin-left: 0px;
    margin-right: 0px;
    /*dcy*/
    max-width: none;
    /*dhm*/
    border-top-width: 0px;
    /*dko*/
    padding-top: 0px;
  }
}
