.features-section {
    /* relative */
    position: relative;
    /* overflow-hidden */
    overflow: hidden;
    /* bg-blue-600 */
    background-color: var(--primary-color);
    /* pb-28 */
    padding-bottom: 7rem;
    /* pt-20 */
    padding-top: 5rem;
}

.features-section-img {
    /* absolute */
    position: absolute;
    /* left-1/2 */
    left: 50%;
    /* top-1/2 */
    top: 50%;
    /* max-w-none */
    max-width: none;
    /* translate-x-[-44%] */
    --tw-translate-x: -44%;
    /* translate-y-[-42%] */
    --tw-translate-y: -42%;
    /* translate-x-\[-44\%\],.translate-y-\[-42\%\] */
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    color: transparent;
}

.features-section-container {
    /* relative */
    position: relative;
    /* mx-auto */
    margin-left: auto;
    margin-right: auto;
    /* max-w-7xl */
    max-width: 80rem;
    /* px-4 */
    padding-left: 1rem;
    padding-right: 1rem;
}

.features-title-container {
    /* max-w-2xl */
    max-width: 40rem;
}

.features-title {
    /* font-display */
    font-family: var(--font-lexend);
    /* text-3xl */
    font-size: 2rem;
    line-height: 2.5rem;
    /* tracking-tight */
    letter-spacing: -.025em;
    /* text-white */
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.features-title-subtext {
    /* mt-6 */
    margin-top: 1.5rem;
    /* text-lg */
    font-size: 1.125rem;
    line-height: 2rem;
    /* tracking-tight */
    letter-spacing: -.025em;
    /* text-blue-100 */
    --tw-text-opacity: 1;
    color: rgb(219 234 254/var(--tw-text-opacity));
}

.slection-button {
    position: fixed;
    top: 1px;
    left: 1px;
    width: 1px;
    height: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.tabber-imager-container {
    /* mt-16 */
    margin-top: 2rem;
    /* grid */
    display: grid;
    /* grid-cols-1 */
    grid-template-columns: repeat(1,minmax(0,1fr));
    /* items-center */
    align-items: center;
    /* gap-y-2 */
    row-gap: .5rem;
    /* pt-10 */
    padding-top: 2.5rem;
}

.tabber-container {
    /* -mx-4 */
    margin-left: -1rem;
    margin-right: -1rem;
    /* flex */
    display: flex;
    /* overflow-x-auto */
    overflow-x: auto;
    /* pb-4 */
    padding-bottom: 1rem;
}

.tabber-sub-container {
    /* relative */
    position: relative;
    /* z-10 */
    z-index: 10;
    /* flex */
    display: flex;
    /* gap-x-4 */
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    /* whitespace-nowrap */
    white-space: nowrap;
    /* px-4 */
    padding-left: 1rem;
    padding-right: 1rem;
}

.tab-container-selected {
    /* group  */
    /* relative  */
    position: relative;
    /* rounded-full  */
    border-radius: 9999px;
    /* px-4  */
    padding-left: 1rem;
    padding-right: 1rem;
    /* py-1  */
    padding-top: .25rem;
    padding-bottom: .25rem;
    /* bg-white  */
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.tab-button-selected {
    /* font-display  */
    font-family: var(--font-lexend);
    /* text-lg  */
    font-size: 1.125rem;
    line-height: 2rem;
    /* ui-not-focus-visible:outline-none  */
    /* text-blue-600  */
    color: var(--primary-color);
}

.tabButton-span {
    /* absolute  */
    position: absolute;
    /* inset-0  */
    inset: 0;
    /* rounded-full  */
    border-radius: 9999px;
}

.section-text {
    /* mt-2  */
    margin-top: .5rem;
    /* hidden  */
    display: none;
    /* text-sm  */
    font-size: .875rem;
    line-height: 1.5rem;
    /* text-white */
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.tab-container {
    /* group  */
    /* relative  */
    position: relative;
    /* rounded-full  */
    border-radius: 9999px;
    /* px-4  */
    padding-left: 1rem;
    padding-right: 1rem;
    /* py-1  */
    padding-top: .25rem;
    padding-bottom: .25rem;

}

.tab-container:hover {
    /* hover:bg-white/10  */
    background-color: hsla(0,0%,100%,.1);
}

.tab-button {
    /* font-display  */
    font-family: var(--font-lexend);
    /* text-lg  */
    font-size: 1.125rem;
    line-height: 2rem;
    /* ui-not-focus-visible:outline-none  */
    /* text-blue-100  */
    --tw-text-opacity: 1;
    color: rgb(219 234 254/var(--tw-text-opacity));
}

.tab-button:hover {
    /* hover:text-white  */
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.section-text-2 {
    /* mt-2  */
    margin-top: .5rem;
    /* hidden  */
    display: none;
    /* text-sm  */
    font-size: .875rem;
    line-height: 1.5rem;
    /* text-blue-100  */
    --tw-text-opacity: 1;
    color: rgb(219 234 254/var(--tw-text-opacity));
}

.section-text-2:hover {
    /* group-hover:text-white */
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}


.section-container7 {
    /* relative  */
    position: relative;
}

.section-container8 {
    /* absolute  */
    position: absolute;
    /* -inset-x-4  */
    left: -1rem;
    right: -1rem;
    /* bottom-[-4.25rem]  */
    bottom: -4.25rem;
    /* top-[-6.5rem]  */
    top: -6.5rem;
    /* bg-white/10  */
    background-color: hsla(0,0%,100%,.1);
    /* ring-1  */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
    /* ring-inset  */
    --tw-ring-inset: inset;
    /* ring-white/10  */
    --tw-ring-color: hsla(0,0%,100%,.1);
}

.sub-section-text {
    /* relative  */
    position: relative;
    /* mx-auto  */
    margin-left: auto;
    margin-right: auto;
    /* max-w-2xl  */
    max-width: 40rem;
    /* text-base  */
    font-size: 1rem;
    line-height: 1.75rem;
    /* text-white  */
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.section-container9 {
    /* mt-10 */
    margin-top: 2.5rem;
    /* w-[45rem]  */
    width: 100%;
    /* overflow-hidden  */
    overflow: hidden;
    /* rounded-xl  */
    border-radius: .75rem;
    /* bg-slate-50  */
    /* --tw-bg-opacity: 1;
    background-color: rgb(100 116 139/var(--tw-bg-opacity)); */
    /* shadow-xl  */
    /* --tw-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow); */
    /* shadow-blue-900/20  */
    /* --tw-shadow-color: rgba(30,58,138,.2);
    --tw-shadow: var(--tw-shadow-colored); */

}

.section-container9-img {
    /* w-full */
    color: transparent
}


/* Small */
@media (min-width: 640px) {
    .features-section {
        /* sm:py-32 */
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .features-section-container {
        /* sm:px-6 */
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .features-title {
        /* sm:text-4xl */
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .tabber-imager-container {
        /* sm:gap-y-6 */
        row-gap: 1.5rem;
        margin-top: 0rem;
        padding-top: 0rem;
    }

    .tabber-container {
        /* sm:mx-0 */
        margin-left: 0;
        margin-right: 0;
        /* sm:overflow-visible */
        overflow: visible;
        /* sm:pb-0 */
        padding-bottom: 0;
    }

    .tabber-sub-container{
        /* sm:mx-auto */
        margin-left: auto;
        margin-right: auto;
        /* sm:px-0 */
        padding-left: 0;
        padding-right: 0;
    }

    .section-container7{
        /* sm:px-6  */
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .section-container8 {
        /* sm:inset-x-0  */
        left: 0;
        right: 0;
        /* sm:rounded-t-xl */
        border-top-left-radius: .75rem;
        border-top-right-radius: .75rem;
    }

    .sub-section-text{
        /* sm:text-center */
        text-align: center;
    }

    .section-container9 {
        /* sm:w-auto  */
        width: auto;
    }
}

/* Medium */
@media (min-width: 768px) {
    .features-title-container {
        /* md:mx-auto */
        margin-left: auto;
        margin-right: auto;
        /* md:text-center */
        text-align: center;
    }

    .features-title {
        /* md:text-5xl */
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .tabber-imager-container {
        /* md:mt-20 */
        margin-top: 3rem;
    }
}

/* Large */
@media(min-width: 1024px) {
    .features-section-container {
        /* lg:px-8 */
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .tabber-imager-container {
        /* lg:grid-cols-12 */
        grid-template-columns: repeat(12,minmax(0,1fr));
        /* lg:pt-0 */
        padding-top: 0;
    }

    .tabber-container {
        /* lg:col-span-5 */
        grid-column: span 5/span 5;
    }

    .tabber-sub-container {
        /* lg:mx-0 */
        margin-left: 0;
        margin-right: 0;
        /* lg:block */
        display: block;
        /* lg:gap-x-0 */
        -moz-column-gap: 0;
        column-gap: 0;
        /* lg:gap-y-1 */
        row-gap: .25rem;
        /* lg:whitespace-normal */
        white-space: normal;
    }

    .tab-container-selected {
        /* lg:rounded-l-xl  */
        border-top-left-radius: .75rem;
        border-bottom-left-radius: .75rem;
        /* lg:rounded-r-none  */
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        /* lg:p-6 */
        padding: 1.5rem;
        /* lg:bg-white/10  */
        background-color: hsla(0,0%,100%,.1);
        /* lg:ring-1  */
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
        /* lg:ring-inset  */
        --tw-ring-inset: inset;
        /* lg:ring-white/10 */
        --tw-ring-color: hsla(0,0%,100%,.1);
    }

    .tab-button-selected {
        /* lg:text-white */
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));
    }

    .tabButton-span {
        /* lg:rounded-l-xl  */
        border-top-left-radius: .75rem;
        border-bottom-left-radius: .75rem;
        /* lg:rounded-r-none */
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .section-text {
        /* lg:block  */
        display: block;
    }

    .tab-container {
        /* lg:rounded-l-xl  */
        border-top-left-radius: .75rem;
        border-bottom-left-radius: .75rem;
        /* lg:rounded-r-none  */
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        /* lg:p-6  */
        padding: 1.5rem;
    }

    .tab-container:hover {
        /* lg:hover:bg-white/5 */
        background-color: hsla(0,0%,100%,.05);
    }

    .tab-button {
        /* lg:text-white */
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));
    }

    .section-text-2 {
        /* lg:block  */
        display: block;
    }

    .section-container6 {
        /* lg:col-span-7 */
        grid-column: span 7/span 7
    }

    .section-container7 {
        /* lg:hidden */
        display: none;
    }

    .section-container9 {
        /* lg:mt-0  */
        margin-top: 0;
        /* lg:w-[67.8125rem] */
        width: 67.8125rem;
    }
}

/* X-Large */
@media (min-width: 1280px) {
    .features-title-container {
        /* xl:max-w-none */
        max-width: none;
    }

}