<section class="codeShowcaseWrapper">
  <div class="SEXJEWKEHZWYJWC">
    <div class="QTFDQZWSTJBXKYG">
        <h2 class="BNLZOFYOIBOLXQF">Original CSS</h2>
      <div class="FVRLGYXIOVVZXPN">
        <pre><code><span style="color: rgb(255, 143, 64);">import</span><span style="color: rgb(255, 255, 255);"> { f0 } </span><span style="color: rgb(255, 143, 64);">from</span><span style="color: rgb(255, 255, 255);"> </span><span style="color: rgb(170, 217, 76);">'file0'</span><span style="color: rgba(191, 189, 182, 0.7);">;</span></code></pre>
        <pre><code></code></pre>
        <pre><code><span style="color: rgb(255, 143, 64);">await</span><span style="color: rgb(255, 255, 255);"> f0</span><span style="color: rgb(242, 150, 104);">.</span><span style="color: rgb(255, 180, 84);">publish</span><span style="color: rgb(255, 255, 255);">(</span><span style="color: rgb(170, 217, 76);">'image.png'</span><span style="color: rgb(255, 255, 255);">)</span><span style="color: rgba(191, 189, 182, 0.7);">;</span></code></pre>
        <pre><code><span style="color: rgba(172, 182, 191, 0.55);">// This file is served from a CDN automatically</span></code></pre>
      </div>
    </div>
    <div class="QTFDQZWSTJBXKYG">
      <h2 class="BNLZOFYOIBOLXQF">New CSS</h2>
      <div class="FVRLGYXIOVVZXPN">
        <pre><code class="SASNLXGQKQEAZDE">import { S3Client, PutObjectAclCommand } from '@aws-sdk/client-s3';</code></pre>
        <pre><code class="SASNLXGQKQEAZDE"></code></pre>
        <pre><code class="SASNLXGQKQEAZDE">const s3 = new S3Client({});</code></pre>
        <pre><code class="SASNLXGQKQEAZDE"></code></pre>
        <pre><code class="SASNLXGQKQEAZDE">const bucketPolicy = {</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">  Version: "2012-10-17",</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">  Statement: [</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">    {</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">        Effect: "Allow",</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">        Principal: "*",</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">        Action: "s3:GetObject",</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">        Resource: "arn:aws:s3:::mybucket/image.png"</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">    }</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">  ];</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">};</code></pre>
        <pre><code class="SASNLXGQKQEAZDE"></code></pre>
        <pre><code class="SASNLXGQKQEAZDE">const policyParams = {</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">  Bucket: bucketName,</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">  Policy: JSON.stringify(bucketPolicy)</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">};</code></pre>
        <pre><code class="SASNLXGQKQEAZDE"></code></pre>
        <pre><code class="SASNLXGQKQEAZDE">const command = new PutBucketPolicyCommand(policyParams);</code></pre>
        <pre><code class="SASNLXGQKQEAZDE">const response = await s3.send(command);</code></pre>
        <pre><code class="SASNLXGQKQEAZDE"></code></pre>
        <pre><code class="SASNLXGQKQEAZDE">// Now the file is public, but you have to setup a CDN manually.</code></pre>
      </div>
    </div>
  </div>
</section>
