.codeShowcaseWrapper {
  background-color: rgb(255 255 255 / 1);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 640px) {
  .codeShowcaseWrapper {
    /*sm:px-6*/
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .codeShowcaseWrapper {
    /*lg:px-8*/
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.SEXJEWKEHZWYJWC_hidden {
  display: none;
}

.SEXJEWKEHZWYJWC {
  /*grid*/
  display: grid;
  /*grid-cols-1*/
  grid-template-columns: repeat(1, minmax(0, 1fr));
  /*gap-6*/
  gap: 1.5rem;
  /*pt-3*/
  padding-top: 0.75rem;
}

@media (min-width: 768px) {
  .SEXJEWKEHZWYJWC {
    /*md:grid-cols-2*/
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.QTFDQZWSTJBXKYG {
}

/* Classes not found for QTFDQZWSTJBXKYG*/
/*  */

.OERYVHNPSNSULVY {
  /*5*/
  margin-bottom: 0.875rem;
  /*flex*/
  display: flex;
  /*justify-center*/
  justify-content: center;
}

.WHFUDMOGFHTIYYD {
  /*h-10*/
  height: 2.5rem;
}

.FVRLGYXIOVVZXPN {
  /*mockup-code*/
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  min-width: 18rem;
  border-radius: var(--rounded-box, 1rem);

  background-color: rgb(0 0 0);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: rgb(255, 255, 255);
  direction: ltr;
  /*text-start*/
  text-align: start;
  /*text-xs*/
  font-size: 0.75rem;
  line-height: 1rem;
}

.FVRLGYXIOVVZXPN:before {
  /*mockup-code*/
  content: attr(data-prefix);
  display: inline-block;
  text-align: right;
  width: 2rem;
  opacity: 0.5;

  /*mockup-code*/
  content: "";
  margin-bottom: 1rem;
  display: block;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  opacity: 0.3;
  box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;

  /*mockup-code*/
  content: "";
  margin-right: 2ch;
}

@media (min-width: 640px) {
  .FVRLGYXIOVVZXPN {
    /*sm:text-sm*/
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.FVRLGYXIOVVZXPN pre {
  padding-right: 1.25rem;
}

.FVRLGYXIOVVZXPN pre:before {
  content: "";
  margin-right: 2ch;
}

.SAFSFSRAPTFHIKS {
  /*btn*/
  display: inline-flex;
  height: 3rem;
  min-height: 3rem;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-btn, 0.5rem);
  border-color: transparent;
  border-color: oklch(var(--btn-color, var(--b2)) / 1);
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1em;
  gap: 0.5rem;
  font-weight: 600;
  text-decoration-line: none;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  transition-property: color, background-color, border-color, opacity,
    box-shadow, transform;

  color: var(--fallback-bc, oklch(var(--bc) / 1));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
  background-color: oklch(var(--btn-color, var(--b2)) / 1);

  /*glass*/
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: currentColor;
  /*btn-active*/
  --glass-opacity: 25%;
  --glass-border-opacity: 15%;
  /*btn-xs*/
  height: 1.5rem;
  min-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  /*absolute*/
  position: absolute;
  /*right-2*/
  right: 0.5rem;
  /*top-2*/
  top: 0.5rem;
  /*hidden*/
  display: none;
}

.SAFSFSRAPTFHIKS::after {
  /*btn*/
  --tw-content: attr(aria-label);
  content: var(--tw-content);
}

.SAFSFSRAPTFHIKS:active {
  /*btn*/
  animation: button-pop 0s ease-out;
  transform: scale(var(--btn-focus-scale, 0.97));
}

.SAFSFSRAPTFHIKS:focus-visible {
  /*btn*/
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

.SAFSFSRAPTFHIKS:disabled {
  /*btn*/
  background-color: var(--fallback-n, oklch(var(--n) / 0.2));
  color: var(--fallback-bc, oklch(var(--bc) / 0.2));
}

.SAFSFSRAPTFHIKS:btn {
  /*btn*/

  border-color: var(--fallback-p, oklch(var(--p) / 1));

  background-color: var(--fallback-p, oklch(var(--p) / 1));

  color: var(--fallback-pc, oklch(var(--pc) / 1));
}

.SAFSFSRAPTFHIKS::focus-visible {
  /*btn*/
  outline-color: var(--fallback-p, oklch(var(--p) / 1));
}

@media (hover: hover) {
  .SAFSFSRAPTFHIKS {
    /*btn*/

    border-color: var(--fallback-b3, oklch(var(--b3) / 1));

    background-color: var(--fallback-b3, oklch(var(--b3) / 1));
  }
  .SAFSFSRAPTFHIKS {
    /*btn*/
    --glass-opacity: 25%;
    --glass-border-opacity: 15%;
  }
}

.SKDIVRRPGXPMBSE {
  /*5*/
  height: 0.875rem;
  /*5*/
  width: 0.875rem;
}

/* Classes not found for SKDIVRRPGXPMBSE*/
/* lucide lucide-clipboard */

.BNLZOFYOIBOLXQF {
  /*5*/
  margin-bottom: 0.875rem;
  /*text-center*/
  text-align: center;
  /*text-4xl*/
  font-size: 2rem;
  line-height: 2.25rem;
  /*font-bold*/
  font-weight: 600;
}

.SASNLXGQKQEAZDE {
}

/* Header section of the element */

.TTALYSMOAGLCQKW > :not([hidden]) ~ :not([hidden]) {
  /* space-y-6 */
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

/* Classes not found for TTALYSMOAGLCQKW*/ /* space-y-6 */
.MIHOJRTJNHCDBAR {
  /*text-center*/
  text-align: center; /*text-4xl*/
  font-size: 2.5rem;
  line-height: 2.75rem; /*font-black*/
  font-weight: 800;
}

.WIPLKVDNUQEPRXM {
  /*text-center*/
  text-align: center; /*text-xl*/
  font-size: 1.5rem;
  line-height: 2rem;

  color: rgb(107 114 128 / 1);
}

/* Tab section.... */
.EFUMGFCCWRWCMNJ {
  /*amp*/

  background-color: rgb(255 255 255 / 1); /*asn*/
  padding-left: 1rem;
  padding-right: 1rem; /*atj*/
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 640px) {
  .EFUMGFCCWRWCMNJ {
    /*cnm*/
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .EFUMGFCCWRWCMNJ {
    /*dms*/
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.FAQHTNAQPQVPQZO {
  /*hb*/
  margin-left: auto;
  margin-right: auto; /*us*/
  max-width: 80rem;
}
.CECNSKQAZPJDELK {
}
@media (min-width: 640px) {
  .CECNSKQAZPJDELK {
    /*cga*/
    display: none;
  }
}
.IGKUBLMZPLUGGKC {
  /*t*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.XBPBCCJQKSDGPMA {
  /*lx*/
  display: block; /*uf*/
  width: 100%; /*aet*/
  border-radius: 0.375rem; /*agy*/

  border-color: rgb(209 213 219 / 1);
}
.XBPBCCJQKSDGPMA:focus {
  /*boi*/

  border-color: rgb(99 102 241 / 1); /*bpn*/

  --tw-ring-color: rgb(99 102 241 / 1);
}
.FMJSRGXSNHPGSFW {
  /*mg*/
  display: none;
}
@media (min-width: 640px) {
  .FMJSRGXSNHPGSFW {
    /*cfs*/
    display: block;
  }
}
.KGWAUHIWYORVCKL {
  /*agg*/
  border-bottom-width: 1px; /*agx*/

  border-color: rgb(229 231 235 / 1);
}
.JZAPSDTOOXDOZEB {
  /*ho*/
  margin-bottom: -1px; /*ma*/
  display: flex;
}
.inactive_code_tab {
  /*aib*/
  border-color: transparent; /*aze*/

  color: rgb(107 114 128 / 1); /*ry*/
  width: 50%; /*agi*/
  border-bottom-width: 2px; /*asf*/
  padding-left: 0.25rem;
  padding-right: 0.25rem; /*ath*/
  padding-top: 1rem;
  padding-bottom: 1rem; /*awq*/
  text-align: center; /*axo*/
  font-size: 0.875rem;
  line-height: 1.25rem; /*aya*/
  font-weight: 500;
}
.inactive_code_tab:hover {
  /*bjj*/

  border-color: rgb(209 213 219 / 1); /*bmw*/

  color: rgb(55 65 81 / 1);
}
.active_code_tab {
  /*ahj*/
  border-color: var(--primary-color);
  color: var(--primary-color);
  width: 50%; /*agi*/
  border-bottom-width: 2px; /*asf*/
  padding-left: 0.25rem;
  padding-right: 0.25rem; /*ath*/
  padding-top: 1rem;
  padding-bottom: 1rem; /*awq*/
  text-align: center; /*axo*/
  font-size: 0.875rem;
  line-height: 1.25rem; /*aya*/
  font-weight: 500;
}
