<section class="feature1-section-container" id="feature1">
  <div class="feature1-container">
    {{$feature1 := cast_to_feature1 .TemplateData}}
    <h2 class="feature1-title">{{$feature1.Title}}</h2>
    <p class="feature1-subtitle">{{$feature1.Subtitle}}</p>
    <div class="icon-container">
      <div>
        <div class="icon-wrapper">
          <svg
            class="icon1"
            fill="currentColor"
            viewBox="0 0 36 36"
          >
            <rect
              class="clr-i-outline--badged clr-i-outline-path-1--badged"
              x="6"
              y="20"
              width="24"
              height="2"
              fill="currentColor"
            ></rect>
            <rect
              class="clr-i-outline--badged clr-i-outline-path-2--badged"
              x="26"
              y="24"
              width="4"
              height="2"
              fill="currentColor"
            ></rect>
            <path
              class="clr-i-outline--badged clr-i-outline-path-3--badged"
              d="M34,21.08,32,13.21a7.49,7.49,0,0,1-2,.29l2,7.94V29H4V21.44L7.06,9H23.13a7.45,7.45,0,0,1-.55-2H7.06A2,2,0,0,0,5.13,8.47L2,21.08a1,1,0,0,0,0,.24V29a2,2,0,0,0,2,2H32a2,2,0,0,0,2-2V21.31A1,1,0,0,0,34,21.08Z"
              fill="currentColor"
            ></path>
            <circle
              class="clr-i-outline--badged clr-i-outline-path-4--badged clr-i-badge"
              cx="30"
              cy="6"
              r="5"
              fill="currentColor"
            ></circle>
            <rect x="0" y="0" width="36" height="36" fill-opacity="0" />
          </svg>
        </div>
        <h3 class="icon-title">{{$feature1.Icon1Title}}</h3>
        <p class="icon-description">{{$feature1.Icon1Subtitle}}</p>
      </div>
      <div>
        <div class="icon-wrapper">
            <svg class="icon2" viewBox="0 0 24 24" fill="currentColor">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.52 3.046a3 3 0 0 0-2.13 5.486 1 1 0 0 1 .306 1.38l-3.922 6.163a2 2 0 1 1-1.688-1.073l3.44-5.405a5 5 0 1 1 8.398-2.728 1 1 0 1 1-1.97-.348 3 3 0 0 0-2.433-3.475zM10 6a2 2 0 1 1 3.774.925l3.44 5.405a5 5 0 1 1-1.427 8.5 1 1 0 0 1 1.285-1.532 3 3 0 1 0 .317-4.83 1 1 0 0 1-1.38-.307l-3.923-6.163A2 2 0 0 1 10 6zm-5.428 6.9a1 1 0 0 1-.598 1.281A3 3 0 1 0 8.001 17a1 1 0 0 1 1-1h8.266a2 2 0 1 1 0 2H9.9a5 5 0 1 1-6.61-5.698 1 1 0 0 1 1.282.597Z" fill="currentColor"/>
            </svg>
        </div>
        <h3 class="icon-title">{{$feature1.Icon2Title}}</h3>
        <p class="icon-description">{{$feature1.Icon2Subtitle}}</p>
      </div>
    </div>
    <p class="link-text">
      <a href="{{$feature1.LinkPath}}" class="link">
        {{$feature1.LinkText}}
        <svg
          class="link-icon"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
    </p>
  </div>
</section>
