.URQVMJXBKZUJKGC {
    /*alt*/
    
    background-color: rgb(255 255 255 / 1);
    /*ase*/
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  @media (min-width: 640px) {
    .URQVMJXBKZUJKGC {
      /*ckp*/
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  .JITOBXDODPWARQG {
    /*gx*/
    margin-left: auto;
    margin-right: auto;
    /*uh*/
    max-width: 80rem;
    /*arq*/
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  @media (min-width: 1024px) {
    .JITOBXDODPWARQG {
      /*dit*/
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  
  .KRJMEMSICXXTEER {
    /*gx*/
    margin-left: auto;
    margin-right: auto;
    /*uc*/
    max-width: 42rem;
  }
  
  @media (min-width: 1024px) {
    .KRJMEMSICXXTEER {
      /*dcy*/
      max-width: none;
    }
  }
  
  .KMQBVBYBWRQUHYN {
    /*awf*/
    font-size: 1.125rem;
    line-height: 1.75rem;
    /*awm*/
    font-weight: 600;
    /*awx*/
    line-height: 2rem;
    /*ayb*/
    
    color: rgb(17 24 39 / 1);
  }
  
  .BLEKFQYFGYETIGU {
    /*gx*/
    margin-left: auto;
    margin-right: auto;
    /*kw*/
    margin-top: 2.5rem;
    /*mb*/
    display: grid;
    /*yr*/
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /*ze*/
    align-items: flex-start;
    /*aaq*/
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    /*aas*/
    row-gap: 2.5rem;
  }
  
  @media (min-width: 640px) {
    .BLEKFQYFGYETIGU {
      /*cfz*/
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  @media (min-width: 640px) {
    .BLEKFQYFGYETIGU {
      /*cha*/
  
      -moz-column-gap: 2.5rem;
      column-gap: 2.5rem;
    }
  }
  @media (min-width: 1024px) {
    .BLEKFQYFGYETIGU {
      /*cys*/
  
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  @media (min-width: 1024px) {
    .BLEKFQYFGYETIGU {
      /*deg*/
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  
  .RAVFWNICOVTHNUB {
    /*es*/
    grid-column: span 2 / span 2;
    /*pp*/
    max-height: 3rem;
    /*tu*/
    width: 100%;
    /*aqj*/
    -o-object-fit: contain;
    object-fit: contain;
    /*aqm*/
    -o-object-position: left;
    object-position: left;
  }
  
  @media (min-width: 1024px) {
    .RAVFWNICOVTHNUB {
      /*cxg*/
      grid-column: span 1 / span 1;
    }
  }
  