.integration-card-section {
    /* alm */
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.integration-card-container {
    /* gx  */
    margin-left: auto;
    margin-right: auto;
    /* ua  */
    max-width: 80rem;
    /* arh  */
    padding-left: 1rem;
    padding-right: 1rem;
    /* arr  */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.integration-card-list-container {
    /* la  */
    margin-top: 4rem;
    /* mb  */
    display: grid;
    /* yg  */
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* aai  */
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    /* aaw  */
    row-gap: 2rem;
}

.card-item {
    /* adg  */
    overflow: hidden;
    /* adx  */
    border-radius: 0.75rem;
    /* aez  */
    border-width: 1px;
    /* afu */
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.card-item-header-container {
    flex-direction: column;
    /* aag  */
    -moz-row-gap: 1rem;
    row-gap: 1rem;
    /* lx  */
    display: flex;
    /* aff  */
    border-bottom-width: 1px;
    /* agc  */
    border-color: rgb(17 24 39 / 0.05);
    /* aio  */
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    /* aqu */
    padding: 1rem;
}

.card-item-header-images-container {
    display: flex;
    flex-direction: row;

    /* aag  */
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

.card-item-image-wrapper {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /* alm  */
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));

    /* bbs  */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    /* bcn */
    --tw-ring-color: rgb(17 24 39 / 0.1);

    /* adt  */
    border-radius: 0.5rem;
}

.card-item-image {
    /* nj  */
    height: 2.5rem;
    /* rl  */
    width: 2.5rem;
    /* uo  */
    flex: none;
    /* adt  */
    border-radius: 0.5rem;
    /* alm  */
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    /* aqd  */
    -o-object-fit: cover;
    object-fit: cover;
}

.card-item-title {
    /* avz  */
    font-size: 1rem;
    line-height: 1.5rem;
    /* awd  */
    font-weight: 700;
    /* awo  */
    line-height: 1.75rem;
    /* axu */
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.card-item-cta-container {
    /* gm  */
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;

    /* arj  */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* asb  */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* avz  */
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* awo */
    line-height: 1.5rem;
}

.card-item-cta-container > :not([hidden]) ~ :not([hidden]) {
    /* acc (hidden) */
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    /* acf  (hidden)*/
    --tw-divide-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-divide-opacity));
}

.card-item-cta-sub-container {
    /* lx  */
    display: flex;
    /* zf  */
    justify-content: space-between;
    /* aag  */
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    /* ary */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

@media (min-width: 640px) {
    .integration-card-container {
        /* cez  (@media 640)*/
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .integration-card-container {
        /* dde (@media 1024)*/
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .integration-card-list-container {
        /* cyp  (@media 1024)*/
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1280) {
    .integration-card-list-container {
        /* dkx (@meida 1280)*/
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}