.testamonial-section {
  background-color: rgb(255 255 255 / 1);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.testamonial-outer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.testamonial-box {
  position: relative;
  border-radius: 1rem;
  background-color: rgb(255 255 255 / 1);
  padding: 1.5rem;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: rgba(15, 23, 42, 0.1);
  --tw-shadow: var(--tw-shadow-colored);
}
.title-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  text-align: center;
}

.testimonial-title {
  /* text-3xl  */
  font-size: 2rem;
  line-height: 2.5rem;
  /* tracking-tight  */
  letter-spacing: -0.025em;
  /* text-slate-900  */
  color: rgb(15 23 42 / 1);
  /* sm:text-4xl */
  font-weight: 700;
}

.testimonial-dessc {
  /* mt-4  */
  margin-top: 1rem;
  /* text-lg  */
  font-size: 1.125rem;
  line-height: 2rem;
  /* tracking-tight  */
  letter-spacing: -0.025em;
  
  color: rgb(51 65 85 / 1);
}

.testimonial-text {
  /* text-lg  */
  font-size: 1.125rem;
  line-height: 2rem;
  /* tracking-tight  */
  letter-spacing: -0.025em;
  /* text-slate-900 */
  color: rgb(15 23 42 / 1);
}

.testimonial-qoute {
  position: relative;
}

.testimonial-user-name {
  font-size: 1rem;
  line-height: 1.75rem;
  /* text-slate-900 */
  
  color: rgb(15 23 42 / 1);
}

.testimonial-occupation {
  /* mt-1  */
  margin-top: 0.25rem;
  /* text-sm  */
  font-size: 0.875rem;
  line-height: 1.5rem;
  /* text-slate-500 */
  
  color: rgb(100 116 139 / 1);
}

.testamonial-image-container {
  /* overflow-hidden  */
  overflow: hidden;
  /* rounded-full  */
  border-radius: 9999px;
  /* bg-slate-50 */  
  
  background-color: rgb(248 250 252 / 1);
}

.testimonial-img {
  /* h-14  */
  height: 3.5rem;
  /* w-14  */
  width: 3.5rem;
  /* object-cover */
  -o-object-fit: cover;
  object-fit: cover;

  color: transparent
}

.box-caption {
  /* relative  */
  position: relative;
  /* mt-6  */
  margin-top: 1.5rem;
  /* flex  */
  display: flex;
  /* items-center  */
  align-items: center;
  /* justify-between  */
  justify-content: space-between;
  /* border-t  */
  border-top-width: 1px;
  
  /* border-slate-100  */
  border-color: rgb(241 245 249 / 1);
  /* pt-6 */
  padding: 1.5rem;
}

.testamonial-svg {
  /* absolute  */
  position: absolute;
  /* left-6  */
  left: 1.5rem;
  /* top-6  */
  top: 1.5rem;
  /* fill-slate-100 */
  fill: #f1f5f9;
}

.testimonial-list-container {
  /* flex  */
  display: flex;
  /* flex-col  */
  flex-direction: column;
  /* gap-y-6  */
  row-gap: 1.5rem;
  /* sm:gap-y-8 */
}

.all-testimonials {
  /* mx-auto */
  margin-left: auto;
  margin-right: auto;
  /* mt-16 */
  margin-top: 4rem;
  /* grid */
  display: grid;
  /* max-w-2xl */
  max-width: 40rem;
  /* grid-cols-1 */
  grid-template-columns: repeat(1, minmax(0, 1fr));
  /* gap-6 */
  gap: 1.5rem;
}

.image-container {
  /* overflow-hidden  */
  overflow: hidden;
  /* rounded-full  */
  border-radius: 9999px;
  /* bg-slate-50 */
  
  background-color: rgb(248 250 252 / 1);
}

@media (min-width: 640px) {
  .testamonial-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .testimonial-list-container {
    row-gap: 2rem;
  }

  .testamonial-outer-container {
    /* sm:px-6 */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .testimonial-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .all-testimonials {
    /* sm:gap-8 */
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .testamonial-outer-container {
    /* lg:px-8  */
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .all-testimonials {
    /* lg:mt-20 */
    max-width: none;
    /* lg:max-w-none */
    margin-top: 5rem;
    /* lg:grid-cols-3 */
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
